n8n-backup-ads-eval-2026-04-23T14-09-39-724Z.json
{
  "updatedAt": "2026-04-23T13:44:39.819Z",
  "createdAt": "2026-04-19T03:27:36.675Z",
  "id": "1qRywsEWAl7VoO5o",
  "name": "ENBA - Ads Evaluation Diaria 9:00",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 9 * * *"
            }
          ]
        }
      },
      "id": "node-schedule-eval",
      "name": "Schedule 9:00 ART",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        200,
        300
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://graph.facebook.com/v21.0/act_2303565156801569/insights?level=ad&fields=ad_id,ad_name,campaign_id,created_time,impressions,reach,clicks,spend,actions,ctr,frequency,video_thruplay_watched_actions&date_preset=maximum&limit=50",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "id": "node-get-insights",
      "name": "Get Ad Insights",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        420,
        300
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "6LxWcVxeyZgsBTUU",
          "name": "Meta Ads API ENB"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Evaluate Ads Performance — Code Node para n8n  v2\n// Input: Meta Insights API response (GET /act_.../insights?level=ad)\n// Output: email subject, HTML body, Bruno prompt\n//\n// Plan vigente: presupuesto-v4-reestructuracion.md\n// CORTAR  (72h+): CPS > $100 ó ER < 1% ó CTR < 0.4%\n// WINNER  (72h+): CPS < $30 + ER > 3%\n// FATIGUE: frecuencia > 3.5\n// MAX_REACHED: > 14 días / FATIGUE_WARNING: >= 10 días\n//\n// v2 vs v1:\n// - AUTO-DISCOVERY: usa campaign_id + created_time de la API.\n//   No hay ad IDs hardcodeados. Ads nuevos se detectan solos.\n// - FOLLOWS FIX: action_type 'follow' no existe en Meta API.\n//   IG → intenta 'instagram_follow', 'omni_instagramapp_follow', 'follow' (fallbacks)\n//   Proxy IG → 'omni_visit_instagram_profile' (profile visits, disponible desde dic 2025)\n//   FB → 'like' (page likes = follows en FB)\n// - THRUPLAY: nueva columna para video ads\n// - TABLA BRUNO: separada por objetivo (FOLLOW / ENG / AWR)\n// - REGLAS: v4 con Gate 1 + Gate 2\n// - DIAGNÓSTICO: loguea action_types en email (remover cuando los follows se confirmen)\n\nconst response = $input.first().json;\nconst adsData = response.data || [];\n\n// Fecha actual en ART\nconst now = new Date();\nconst artNow = new Date(now.getTime() - 3 * 60 * 60 * 1000);\nconst dd   = String(artNow.getUTCDate()).padStart(2, '0');\nconst mm   = String(artNow.getUTCMonth() + 1).padStart(2, '0');\nconst yyyy = artNow.getUTCFullYear();\nconst todayStr = dd + '/' + mm + '/' + yyyy;\n\n// Mapa campaign_id → tipo de campaña (estable — campañas no cambian tan seguido)\n// Cuando se crea una campaña nueva, agregar UNA línea acá.\n// No hay que tocar nada más para nuevos ads dentro de campañas existentes.\nconst campaignTypeMap = {\n  '120238976548160139': 'AWR',    // ENBA_Awareness_abr2026\n  '120238976548380139': 'ENG',    // ENBA_Engagement_abr2026\n  '120238976549000139': 'TRF',    // ENBA_Traffic_abr2026 (paused)\n  '120238976549780139': 'LEA',    // ENBA_Leads_abr2026 (paused)\n  '120239303658100139': 'FOLLOW', // ENBA_Follow_IG_abr2026\n  '120239303658190139': 'FOLLOW', // ENBA_Follow_FB_abr2026\n};\n\n// Helpers\nfunction getAction(actions, type) {\n  var found = (actions || []).find(function(a) { return a.action_type === type; });\n  return found ? parseInt(found.value) : 0;\n}\n\nfunction getFollowsIG(actions) {\n  // Meta no documenta el action_type exacto de IG follows — intentar en orden de probabilidad\n  return getAction(actions, 'instagram_follow')\n      || getAction(actions, 'omni_instagramapp_follow')\n      || getAction(actions, 'follow');\n}\n\nfunction getProfileVisitsIG(actions) {\n  // Disponible desde dic 2025 en Marketing API\n  return getAction(actions, 'omni_visit_instagram_profile')\n      || getAction(actions, 'instagram_profile_visit');\n}\n\nfunction getThruPlays(field) {\n  if (!field) return 0;\n  if (Array.isArray(field)) {\n    var found = field.find(function(a) { return a.action_type === 'video_thruplay_watched'; });\n    return found ? parseInt(found.value) : (field.length > 0 ? parseInt(field[0].value) : 0);\n  }\n  return parseInt(field) || 0;\n}\n\nfunction getDaysActive(createdTime) {\n  if (!createdTime) return 0;\n  return Math.max(0, Math.floor((now - new Date(createdTime)) / (1000 * 60 * 60 * 24)));\n}\n\nfunction inferCampaignType(campaignId) {\n  return campaignTypeMap[campaignId] || 'AWR';\n}\n\nfunction inferPlatform(adName) {\n  var n = (adName || '').toLowerCase();\n  if (n.includes('_ig_') || n.includes('_ig ')) return 'IG';\n  if (n.includes('_fb_') || n.includes('_fb ')) return 'FB';\n  return '—';\n}\n\n// Sin datos\nif (adsData.length === 0) {\n  var noDataSubject = '[ENBA Ads] ' + todayStr + ' — Sin datos de insights';\n  var noDataHtml = '<html><body style=\"font-family:Arial,sans-serif;\">'\n    + '<h2>ENBA Meta Ads — Sin datos</h2><p>Fecha: ' + todayStr + '</p>'\n    + '<p>Meta no devolvio datos. Los ads pueden llevar menos de unas horas activos.</p>'\n    + '</body></html>';\n  return [{ json: { subject: noDataSubject, html: noDataHtml, brunoPrompt: '', totalSpend: 0, adsCount: 0 } }];\n}\n\n// Diagnóstico: recolectar action_types únicos presentes en la respuesta\n// Sirve para descubrir el string real de Instagram Follows en esta cuenta\nvar diagActionTypes = {};\nadsData.forEach(function(ad) {\n  (ad.actions || []).forEach(function(a) {\n    if (!diagActionTypes[a.action_type]) diagActionTypes[a.action_type] = 0;\n    diagActionTypes[a.action_type] += parseInt(a.value) || 0;\n  });\n});\n\n// Procesar cada ad\nvar results = adsData.map(function(ad) {\n  var impressions    = parseInt(ad.impressions || 0);\n  var reach          = parseInt(ad.reach || 0);\n  var spend          = parseFloat(ad.spend || 0);\n  var ctr            = parseFloat(ad.ctr || 0);\n  var frequency      = parseFloat(ad.frequency || 0);\n  var daysActive     = getDaysActive(ad.created_time);\n  var campaignType   = inferCampaignType(ad.campaign_id);\n  var platform       = inferPlatform(ad.ad_name);\n\n  // Engagement\n  var engagements = getAction(ad.actions, 'post_engagement');\n  var er = reach > 0 ? (engagements / reach * 100) : 0;\n\n  // Conversions\n  var igFollows       = getFollowsIG(ad.actions);       // follows directos si Meta los expone\n  var igProfileVisits = getProfileVisitsIG(ad.actions); // visitas al perfil (proxy)\n  var fbLikes         = getAction(ad.actions, 'like');  // page likes = follows en FB\n\n  // Para CPS: FOLLOW camps → igFollows si > 0, sino igProfileVisits + fbLikes como proxy\n  var followSignal = 0;\n  var followLabel  = '';\n  if (campaignType === 'FOLLOW') {\n    if (igFollows > 0) {\n      followSignal = igFollows + fbLikes;\n      followLabel = 'F:' + igFollows + (fbLikes > 0 ? '/L:' + fbLikes : '');\n    } else if (igProfileVisits > 0 || fbLikes > 0) {\n      followSignal = igProfileVisits + fbLikes;\n      followLabel = 'V:' + igProfileVisits + (fbLikes > 0 ? '/L:' + fbLikes : '');\n    } else {\n      followLabel = '0';\n    }\n  } else {\n    followLabel = '—';\n  }\n\n  // ThruPlay\n  var thruPlays    = getThruPlays(ad.video_thruplay_watched_actions);\n  var thruPlayRate = impressions > 0 ? (thruPlays / impressions * 100) : 0;\n\n  // CPS (solo FOLLOW campaigns con señal real)\n  var cps    = (campaignType === 'FOLLOW' && followSignal > 0) ? Math.round(spend / followSignal) : null;\n  var cpsStr = cps !== null ? '$' + cps : 'N/A';\n\n  // Veredicto\n  var verdict = 'VIABLE';\n  var reasons = [];\n\n  if (daysActive < 3) {\n    verdict = 'LEARNING';\n    reasons.push(daysActive + 'd activo, esperar 72h');\n  } else if (frequency > 3.5) {\n    verdict = 'FATIGUE';\n    reasons.push('Freq ' + frequency.toFixed(1) + ' > 3.5');\n  } else if (daysActive > 14) {\n    verdict = 'MAX_REACHED';\n    reasons.push(daysActive + 'd > 14 max');\n  } else if ((cps !== null && cps > 100) || er < 1 || ctr < 0.4) {\n    verdict = 'CORTAR';\n    if (cps !== null && cps > 100) reasons.push('CPS $' + cps + ' > $100');\n    if (er < 1)    reasons.push('ER ' + er.toFixed(1) + '% < 1%');\n    if (ctr < 0.4) reasons.push('CTR ' + ctr.toFixed(2) + '% < 0.4%');\n  } else if (cps !== null && cps < 30 && er > 3) {\n    verdict = 'WINNER';\n    reasons.push('CPS $' + cps + ' < $30, ER ' + er.toFixed(1) + '% > 3%');\n  } else if (daysActive >= 10) {\n    verdict = 'FATIGUE_WARNING';\n    reasons.push(daysActive + 'd, preparar reemplazo');\n  }\n\n  return {\n    adId: ad.ad_id, adName: ad.ad_name,\n    campaignType: campaignType, platform: platform,\n    daysActive: daysActive, impressions: impressions, reach: reach,\n    spend: Math.round(spend), ctr: ctr.toFixed(2), frequency: frequency.toFixed(1),\n    engagements: engagements, er: er.toFixed(1),\n    igFollows: igFollows, igProfileVisits: igProfileVisits, fbLikes: fbLikes,\n    followLabel: followLabel,\n    thruPlays: thruPlays, thruPlayRate: thruPlayRate.toFixed(1),\n    cps: cpsStr, cpsRaw: cps,\n    verdict: verdict, reason: reasons.join(', ') || 'Dentro de parametros'\n  };\n});\n\n// Segmentar por objetivo\nvar followAds = results.filter(function(r) { return r.campaignType === 'FOLLOW'; });\nvar engAds    = results.filter(function(r) { return r.campaignType === 'ENG'; });\nvar awrAds    = results.filter(function(r) { return r.campaignType === 'AWR'; });\n\n// Conteo veredictos\nvar counts = {};\nresults.forEach(function(r) { counts[r.verdict] = (counts[r.verdict] || 0) + 1; });\nvar summaryParts = [];\nif (counts.WINNER)          summaryParts.push(counts.WINNER + ' WINNER');\nif (counts.VIABLE)          summaryParts.push(counts.VIABLE + ' VIABLE');\nif (counts.LEARNING)        summaryParts.push(counts.LEARNING + ' LEARNING');\nif (counts.CORTAR)          summaryParts.push(counts.CORTAR + ' CORTAR');\nif (counts.FATIGUE)         summaryParts.push(counts.FATIGUE + ' FATIGUE');\nif (counts.FATIGUE_WARNING) summaryParts.push(counts.FATIGUE_WARNING + ' WARNING');\nif (counts.MAX_REACHED)     summaryParts.push(counts.MAX_REACHED + ' MAX');\nvar summaryStr = summaryParts.join(' | ') || 'Sin datos';\n\n// Totales\nvar totalSpend      = results.reduce(function(s, r) { return s + r.spend; }, 0);\nvar totalReach      = results.reduce(function(s, r) { return s + r.reach; }, 0);\nvar totalIgFollows  = followAds.reduce(function(s, r) { return s + r.igFollows; }, 0);\nvar totalIgVisits   = followAds.reduce(function(s, r) { return s + r.igProfileVisits; }, 0);\nvar totalFbLikes    = followAds.reduce(function(s, r) { return s + r.fbLikes; }, 0);\nvar totalFollowSig  = followAds.reduce(function(s, r) {\n  var sig = r.igFollows > 0 ? r.igFollows + r.fbLikes : r.igProfileVisits + r.fbLikes;\n  return s + sig;\n}, 0);\nvar blendedCPS = totalFollowSig > 0 ? Math.round(totalSpend / totalFollowSig) : null;\n\n// Día de referencia: primer ad ENG (reel4horas, activo desde 19/04)\nvar refAd = results.find(function(r) { return r.campaignType === 'ENG' && r.daysActive > 0; });\nvar dayRef = refAd ? refAd.daysActive : results.reduce(function(m, r) { return Math.max(m, r.daysActive); }, 0);\n\n// Estilos\nfunction verdictStyle(v) {\n  var map = {\n    WINNER:          { color: '#16a34a', bg: '#f0fdf4' },\n    VIABLE:          { color: '#2563eb', bg: '#eff6ff' },\n    LEARNING:        { color: '#7c3aed', bg: '#f5f3ff' },\n    CORTAR:          { color: '#dc2626', bg: '#fef2f2' },\n    FATIGUE:         { color: '#ea580c', bg: '#fff7ed' },\n    FATIGUE_WARNING: { color: '#ca8a04', bg: '#fefce8' },\n    MAX_REACHED:     { color: '#dc2626', bg: '#fef2f2' },\n  };\n  return map[v] || { color: '#6b7280', bg: '#f9fafb' };\n}\nfunction typeBadge(type) {\n  var colors = { FOLLOW: '#7c3aed', ENG: '#2563eb', AWR: '#0891b2', LEA: '#059669', TRF: '#d97706' };\n  return '<span style=\"background:' + (colors[type] || '#9ca3af') + ';color:white;padding:1px 5px;border-radius:3px;font-size:10px;\">' + type + '</span>';\n}\n\n// Tabla HTML\nvar tableRows = results.map(function(r) {\n  var s = verdictStyle(r.verdict);\n  var tpCell = r.thruPlays > 0 ? r.thruPlayRate + '%' : '—';\n  return '<tr style=\"border-bottom:1px solid #e5e7eb;\">'\n    + '<td style=\"padding:5px 8px;font-size:11px;max-width:200px;\">' + r.adName + '</td>'\n    + '<td style=\"padding:4px;text-align:center;\">' + typeBadge(r.campaignType) + '</td>'\n    + '<td style=\"padding:4px;text-align:center;font-size:11px;\">' + r.platform + '</td>'\n    + '<td style=\"padding:4px;text-align:center;\">' + r.daysActive + 'd</td>'\n    + '<td style=\"padding:4px;text-align:right;\">$' + r.spend.toLocaleString() + '</td>'\n    + '<td style=\"padding:4px;text-align:right;\">' + r.reach.toLocaleString() + '</td>'\n    + '<td style=\"padding:4px;text-align:center;\">' + r.ctr + '%</td>'\n    + '<td style=\"padding:4px;text-align:center;\">' + r.er + '%</td>'\n    + '<td style=\"padding:4px;text-align:center;\">' + r.frequency + '</td>'\n    + '<td style=\"padding:4px;text-align:center;color:#7c3aed;\">' + tpCell + '</td>'\n    + '<td style=\"padding:4px;text-align:center;font-size:11px;\">' + r.followLabel + '</td>'\n    + '<td style=\"padding:4px;text-align:right;\">' + r.cps + '</td>'\n    + '<td style=\"padding:4px;text-align:center;background:' + s.bg + ';color:' + s.color + ';font-weight:bold;\">' + r.verdict + '</td>'\n    + '<td style=\"padding:4px;font-size:10px;color:#6b7280;\">' + r.reason + '</td>'\n    + '</tr>';\n}).join('\\n');\n\n// Prompt Bruno — tabla separada por objetivo\nfunction makeBrunoSection(ads, title) {\n  if (ads.length === 0) return '';\n  var hdr = '| Ad | Plat | Dias | Spend | Reach | CTR | ER | Eng | ThruPlay | IG Follows | IG Visits | FB Likes | CPS | Freq | Veredicto | Razon |';\n  var sep = '|---|---|---|---|---|---|---|---|---|---|---|---|---|---|---|---|';\n  var rows = ads.map(function(r) {\n    var tp = r.thruPlays > 0 ? r.thruPlayRate + '% (' + r.thruPlays + ')' : 'N/A';\n    return '| ' + r.adName + ' | ' + r.platform + ' | ' + r.daysActive + 'd'\n      + ' | $' + r.spend + ' | ' + r.reach\n      + ' | ' + r.ctr + '% | ' + r.er + '% | ' + r.engagements\n      + ' | ' + tp\n      + ' | ' + r.igFollows\n      + ' | ' + r.igProfileVisits\n      + ' | ' + r.fbLikes\n      + ' | ' + r.cps + ' | ' + r.frequency\n      + ' | ' + r.verdict + ' | ' + r.reason + ' |';\n  }).join('\\n');\n  return '\\n### ' + title + '\\n\\n' + hdr + '\\n' + sep + '\\n' + rows + '\\n';\n}\n\n// Diagnóstico action_types (para confirmar strings de follows en esta cuenta)\nvar diagLines = Object.keys(diagActionTypes).sort().map(function(k) {\n  return k + ': ' + diagActionTypes[k];\n});\n\n// Subject\nvar followDisplay = totalIgFollows > 0\n  ? 'IG Follows:' + totalIgFollows + ' FB Likes:' + totalFbLikes\n  : 'IG Visits:' + totalIgVisits + ' FB Likes:' + totalFbLikes + ' (proxy)';\nvar subject = '[ENBA Ads] ' + todayStr\n  + ' | ' + summaryStr\n  + ' | $' + totalSpend.toLocaleString()\n  + ' | ' + followDisplay;\n\n// Prompt Bruno\nvar brunoPrompt = 'Contexto REDES. Carga /bruno.\\n\\n'\n  + 'Reporte automatico Meta Ads — ' + todayStr + '.\\n'\n  + 'Campana ENBA activa desde 19/04/2026. Dia ' + dayRef + ' de 27.\\n'\n  + 'Spend total: $' + totalSpend.toLocaleString()\n  + ' | IG Follows: ' + totalIgFollows\n  + ' | IG Profile Visits: ' + totalIgVisits\n  + ' | FB Page Likes: ' + totalFbLikes\n  + ' | CPS blended: ' + (blendedCPS !== null ? '$' + blendedCPS : 'sin datos aún')\n  + ' | Reach total: ' + totalReach.toLocaleString() + '\\n'\n  + '\\n⚠ NOTA TECNICA: Meta Ads API expone IG follows (desde jul 2025) pero el action_type'\n  + ' varía por cuenta. Ver sección Diagnóstico del email para confirmar qué está disponible.'\n  + ' Proxy actual: IG Visits = omni_visit_instagram_profile, FB = \"like\".'\n  + ' Para follows reales verificar: IG Insights > Seguidores > De anuncios.\\n'\n  + '\\n## Datos de rendimiento por objetivo (lifetime)\\n'\n  + makeBrunoSection(followAds, 'FOLLOW Plan (objetivo: visitas perfil IG + page likes FB)')\n  + makeBrunoSection(engAds,    'ENGAGEMENT (objetivo: post engagement, ThruPlay)')\n  + makeBrunoSection(awrAds,    'AWARENESS (objetivo: reach)')\n  + '\\n## Reglas del plan v4 (presupuesto-v4-reestructuracion.md)\\n'\n  + '- CORTAR (72h+): CPS > $100 o ER < 1% o CTR < 0.4%\\n'\n  + '- WINNER (72h+): CPS < $30 + ER > 3%\\n'\n  + '- FATIGUE: Frecuencia > 3.5\\n'\n  + '- MAX: > 14 dias\\n'\n  + '- Escalar WINNER: +25% cada 48h, triple scale si win 5 dias\\n'\n  + '- Gate 1 dia 6 (25/04): follows>30, ThruPlays>500/dia, CTR AWR>0.5%, ER reel>5%\\n'\n  + '- Gate 2 dia 10 (29/04): follows>200, ER>3%, CPS<$80\\n\\n'\n  + '## Tu tarea\\n'\n  + '1. Confirma o corregi cada veredicto automatico\\n'\n  + '2. Propone acciones: que apagar, escalar, rotar\\n'\n  + '3. Si hay WINNERS, propone escalado\\n'\n  + '4. Evalua ThruPlay rate en video ads (benchmark: >15% bueno, >25% excelente)\\n'\n  + '5. Revisa split IG/FB con IG Visits vs FB Likes del Follow Plan\\n\\n'\n  + 'Entrega tu analisis y espera aprobacion antes de ejecutar.';\n\n// HTML\nvar html = '<!DOCTYPE html><html><head><meta charset=\"utf-8\"></head>'\n  + '<body style=\"font-family:Arial,sans-serif;max-width:1100px;margin:0 auto;padding:16px;\">'\n  + '<h2 style=\"color:#1e293b;margin-bottom:4px;\">ENBA Meta Ads — Reporte Diario</h2>'\n  + '<p style=\"color:#64748b;margin-top:4px;font-size:13px;\">'\n  + 'Fecha: ' + todayStr + ' &middot; Dia ' + dayRef + ' de 27'\n  + ' &middot; Spend: $' + totalSpend.toLocaleString()\n  + ' &middot; IG Follows: <b>' + totalIgFollows + '</b>'\n  + ' &middot; IG Visits: <b>' + totalIgVisits + '</b>'\n  + ' &middot; FB Likes: <b>' + totalFbLikes + '</b>'\n  + ' &middot; CPS blended: <b>' + (blendedCPS !== null ? '$' + blendedCPS : '—') + '</b>'\n  + ' &middot; Reach: ' + totalReach.toLocaleString() + '</p>'\n  + '<p style=\"font-size:15px;font-weight:bold;color:#1e293b;\">' + summaryStr + '</p>'\n  + '<p style=\"font-size:11px;color:#64748b;background:#f8fafc;padding:8px;border-radius:4px;border-left:3px solid #7c3aed;\">'\n  + '⚠ <b>Columna \"Follows/Visits\":</b> '\n  + (totalIgFollows > 0\n      ? 'IG Follows reales detectados via action_type en esta cuenta. FB Likes = page like.'\n      : 'IG Follows no detectados en la respuesta API. Mostrando proxies: IG Visits = omni_visit_instagram_profile, FB = page like.')\n  + ' Para follows orgánicos: IG Insights &gt; Seguidores &gt; \"De anuncios\".</p>'\n  + '<table style=\"border-collapse:collapse;width:100%;font-size:11px;margin-top:12px;\">'\n  + '<thead><tr style=\"background:#f1f5f9;border-bottom:2px solid #cbd5e1;\">'\n  + '<th style=\"padding:5px 8px;text-align:left;\">Ad</th>'\n  + '<th style=\"padding:4px;\">Tipo</th>'\n  + '<th style=\"padding:4px;\">Plat</th>'\n  + '<th style=\"padding:4px;\">Dias</th>'\n  + '<th style=\"padding:4px;text-align:right;\">Spend</th>'\n  + '<th style=\"padding:4px;text-align:right;\">Reach</th>'\n  + '<th style=\"padding:4px;\">CTR</th>'\n  + '<th style=\"padding:4px;\">ER</th>'\n  + '<th style=\"padding:4px;\">Freq</th>'\n  + '<th style=\"padding:4px;color:#7c3aed;\">ThruPlay</th>'\n  + '<th style=\"padding:4px;\">Follows/Visits</th>'\n  + '<th style=\"padding:4px;text-align:right;\">CPS</th>'\n  + '<th style=\"padding:4px;\">Veredicto</th>'\n  + '<th style=\"padding:4px;\">Razon</th>'\n  + '</tr></thead><tbody>\\n'\n  + tableRows\n  + '\\n</tbody></table>'\n  + '<hr style=\"margin:20px 0;border:1px solid #e5e7eb;\">'\n  + '<details><summary style=\"cursor:pointer;font-size:12px;color:#7c3aed;font-weight:bold;\">Diagnóstico: action_types disponibles en esta cuenta (expandir)</summary>'\n  + '<p style=\"font-size:11px;color:#64748b;\">Muestra todos los action_types que Meta devolvió para los ads activos. Buscar si hay algún tipo relacionado con \"follow\" o \"instagram\". Una vez confirmado el string correcto, se puede quitar este bloque.</p>'\n  + '<pre style=\"font-size:10px;background:#f8fafc;padding:12px;border-radius:4px;border:1px solid #e2e8f0;max-height:200px;overflow-y:auto;\">'\n  + diagLines.join('\\n')\n  + '</pre></details>'\n  + '<hr style=\"margin:20px 0;border:1px solid #e5e7eb;\">'\n  + '<h3 style=\"color:#1e293b;\">Prompt para Bruno</h3>'\n  + '<p style=\"color:#64748b;font-size:12px;\">Copia y pega en Claude Code:</p>'\n  + '<pre style=\"background:#f8fafc;padding:16px;border-radius:8px;font-size:10px;overflow-x:auto;white-space:pre-wrap;border:1px solid #e2e8f0;\">'\n  + brunoPrompt.replace(/</g, '&lt;').replace(/>/g, '&gt;')\n  + '</pre>'\n  + '<p style=\"color:#94a3b8;font-size:10px;margin-top:16px;\">ENBA Ads Evaluation Workflow v2 &middot; ' + new Date().toISOString() + '</p>'\n  + '</body></html>';\n\nreturn [{ json: {\n  subject: subject, html: html, brunoPrompt: brunoPrompt,\n  totalSpend: totalSpend, totalIgFollows: totalIgFollows,\n  totalIgVisits: totalIgVisits, totalFbLikes: totalFbLikes,\n  blendedCPS: blendedCPS, adsCount: results.length, summaryStr: summaryStr,\n  diagActionTypes: diagActionTypes\n} }];\n"
      },
      "id": "node-evaluate",
      "name": "Evaluate Ads",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        640,
        300
      ]
    },
    {
      "parameters": {
        "fromEmail": "jmartinezplatt@gmail.com",
        "toEmail": "jmartinezplatt@gmail.com",
        "subject": "={{ $json.subject }}",
        "emailFormat": "html",
        "html": "={{ $json.html }}",
        "options": {}
      },
      "id": "node-send-report",
      "name": "Send Report Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        860,
        300
      ],
      "credentials": {
        "smtp": {
          "id": "HpJBfNd1BCHaLYfY",
          "name": "Gmail ENBA"
        }
      },
      "webhookId": "4e879775-94df-4f3e-8c4c-6535453aca81"
    }
  ],
  "connections": {
    "Schedule 9:00 ART": {
      "main": [
        [
          {
            "node": "Get Ad Insights",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Ad Insights": {
      "main": [
        [
          {
            "node": "Evaluate Ads",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Evaluate Ads": {
      "main": [
        [
          {
            "node": "Send Report Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "timezone": "America/Argentina/Buenos_Aires",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false,
    "binaryMode": "separate",
    "timeSavedMode": "fixed",
    "errorWorkflow": "WlY5org5Ih3ioFoy"
  },
  "staticData": {
    "node:Schedule 9:00 ART": {
      "recurrenceRules": []
    }
  },
  "meta": null,
  "pinData": null,
  "versionId": "c971a775-d99d-4a25-9e53-67b9cefb8351",
  "activeVersionId": "c971a775-d99d-4a25-9e53-67b9cefb8351",
  "versionCounter": 35,
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-04-19T03:27:36.676Z",
      "createdAt": "2026-04-19T03:27:36.676Z",
      "role": "workflow:owner",
      "workflowId": "1qRywsEWAl7VoO5o",
      "projectId": "HoHL7haDbRK6OwSu",
      "project": {
        "updatedAt": "2026-03-01T23:53:57.251Z",
        "createdAt": "2026-03-01T23:53:51.806Z",
        "id": "HoHL7haDbRK6OwSu",
        "name": "Jose Martinez <admin@espacionautico.com.ar>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "7792ccbd-a153-4ec4-9b00-a26cc72db47d"
      }
    }
  ],
  "tags": [],
  "activeVersion": {
    "updatedAt": "2026-04-23T13:44:39.820Z",
    "createdAt": "2026-04-23T13:44:39.820Z",
    "versionId": "c971a775-d99d-4a25-9e53-67b9cefb8351",
    "workflowId": "1qRywsEWAl7VoO5o",
    "nodes": [
      {
        "parameters": {
          "rule": {
            "interval": [
              {
                "field": "cronExpression",
                "expression": "0 9 * * *"
              }
            ]
          }
        },
        "id": "node-schedule-eval",
        "name": "Schedule 9:00 ART",
        "type": "n8n-nodes-base.scheduleTrigger",
        "typeVersion": 1.1,
        "position": [
          200,
          300
        ]
      },
      {
        "parameters": {
          "method": "GET",
          "url": "https://graph.facebook.com/v21.0/act_2303565156801569/insights?level=ad&fields=ad_id,ad_name,campaign_id,created_time,impressions,reach,clicks,spend,actions,ctr,frequency,video_thruplay_watched_actions&date_preset=maximum&limit=50",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpHeaderAuth",
          "options": {}
        },
        "id": "node-get-insights",
        "name": "Get Ad Insights",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          420,
          300
        ],
        "credentials": {
          "httpHeaderAuth": {
            "id": "6LxWcVxeyZgsBTUU",
            "name": "Meta Ads API ENB"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "// Evaluate Ads Performance — Code Node para n8n  v2\n// Input: Meta Insights API response (GET /act_.../insights?level=ad)\n// Output: email subject, HTML body, Bruno prompt\n//\n// Plan vigente: presupuesto-v4-reestructuracion.md\n// CORTAR  (72h+): CPS > $100 ó ER < 1% ó CTR < 0.4%\n// WINNER  (72h+): CPS < $30 + ER > 3%\n// FATIGUE: frecuencia > 3.5\n// MAX_REACHED: > 14 días / FATIGUE_WARNING: >= 10 días\n//\n// v2 vs v1:\n// - AUTO-DISCOVERY: usa campaign_id + created_time de la API.\n//   No hay ad IDs hardcodeados. Ads nuevos se detectan solos.\n// - FOLLOWS FIX: action_type 'follow' no existe en Meta API.\n//   IG → intenta 'instagram_follow', 'omni_instagramapp_follow', 'follow' (fallbacks)\n//   Proxy IG → 'omni_visit_instagram_profile' (profile visits, disponible desde dic 2025)\n//   FB → 'like' (page likes = follows en FB)\n// - THRUPLAY: nueva columna para video ads\n// - TABLA BRUNO: separada por objetivo (FOLLOW / ENG / AWR)\n// - REGLAS: v4 con Gate 1 + Gate 2\n// - DIAGNÓSTICO: loguea action_types en email (remover cuando los follows se confirmen)\n\nconst response = $input.first().json;\nconst adsData = response.data || [];\n\n// Fecha actual en ART\nconst now = new Date();\nconst artNow = new Date(now.getTime() - 3 * 60 * 60 * 1000);\nconst dd   = String(artNow.getUTCDate()).padStart(2, '0');\nconst mm   = String(artNow.getUTCMonth() + 1).padStart(2, '0');\nconst yyyy = artNow.getUTCFullYear();\nconst todayStr = dd + '/' + mm + '/' + yyyy;\n\n// Mapa campaign_id → tipo de campaña (estable — campañas no cambian tan seguido)\n// Cuando se crea una campaña nueva, agregar UNA línea acá.\n// No hay que tocar nada más para nuevos ads dentro de campañas existentes.\nconst campaignTypeMap = {\n  '120238976548160139': 'AWR',    // ENBA_Awareness_abr2026\n  '120238976548380139': 'ENG',    // ENBA_Engagement_abr2026\n  '120238976549000139': 'TRF',    // ENBA_Traffic_abr2026 (paused)\n  '120238976549780139': 'LEA',    // ENBA_Leads_abr2026 (paused)\n  '120239303658100139': 'FOLLOW', // ENBA_Follow_IG_abr2026\n  '120239303658190139': 'FOLLOW', // ENBA_Follow_FB_abr2026\n};\n\n// Helpers\nfunction getAction(actions, type) {\n  var found = (actions || []).find(function(a) { return a.action_type === type; });\n  return found ? parseInt(found.value) : 0;\n}\n\nfunction getFollowsIG(actions) {\n  // Meta no documenta el action_type exacto de IG follows — intentar en orden de probabilidad\n  return getAction(actions, 'instagram_follow')\n      || getAction(actions, 'omni_instagramapp_follow')\n      || getAction(actions, 'follow');\n}\n\nfunction getProfileVisitsIG(actions) {\n  // Disponible desde dic 2025 en Marketing API\n  return getAction(actions, 'omni_visit_instagram_profile')\n      || getAction(actions, 'instagram_profile_visit');\n}\n\nfunction getThruPlays(field) {\n  if (!field) return 0;\n  if (Array.isArray(field)) {\n    var found = field.find(function(a) { return a.action_type === 'video_thruplay_watched'; });\n    return found ? parseInt(found.value) : (field.length > 0 ? parseInt(field[0].value) : 0);\n  }\n  return parseInt(field) || 0;\n}\n\nfunction getDaysActive(createdTime) {\n  if (!createdTime) return 0;\n  return Math.max(0, Math.floor((now - new Date(createdTime)) / (1000 * 60 * 60 * 24)));\n}\n\nfunction inferCampaignType(campaignId) {\n  return campaignTypeMap[campaignId] || 'AWR';\n}\n\nfunction inferPlatform(adName) {\n  var n = (adName || '').toLowerCase();\n  if (n.includes('_ig_') || n.includes('_ig ')) return 'IG';\n  if (n.includes('_fb_') || n.includes('_fb ')) return 'FB';\n  return '—';\n}\n\n// Sin datos\nif (adsData.length === 0) {\n  var noDataSubject = '[ENBA Ads] ' + todayStr + ' — Sin datos de insights';\n  var noDataHtml = '<html><body style=\"font-family:Arial,sans-serif;\">'\n    + '<h2>ENBA Meta Ads — Sin datos</h2><p>Fecha: ' + todayStr + '</p>'\n    + '<p>Meta no devolvio datos. Los ads pueden llevar menos de unas horas activos.</p>'\n    + '</body></html>';\n  return [{ json: { subject: noDataSubject, html: noDataHtml, brunoPrompt: '', totalSpend: 0, adsCount: 0 } }];\n}\n\n// Diagnóstico: recolectar action_types únicos presentes en la respuesta\n// Sirve para descubrir el string real de Instagram Follows en esta cuenta\nvar diagActionTypes = {};\nadsData.forEach(function(ad) {\n  (ad.actions || []).forEach(function(a) {\n    if (!diagActionTypes[a.action_type]) diagActionTypes[a.action_type] = 0;\n    diagActionTypes[a.action_type] += parseInt(a.value) || 0;\n  });\n});\n\n// Procesar cada ad\nvar results = adsData.map(function(ad) {\n  var impressions    = parseInt(ad.impressions || 0);\n  var reach          = parseInt(ad.reach || 0);\n  var spend          = parseFloat(ad.spend || 0);\n  var ctr            = parseFloat(ad.ctr || 0);\n  var frequency      = parseFloat(ad.frequency || 0);\n  var daysActive     = getDaysActive(ad.created_time);\n  var campaignType   = inferCampaignType(ad.campaign_id);\n  var platform       = inferPlatform(ad.ad_name);\n\n  // Engagement\n  var engagements = getAction(ad.actions, 'post_engagement');\n  var er = reach > 0 ? (engagements / reach * 100) : 0;\n\n  // Conversions\n  var igFollows       = getFollowsIG(ad.actions);       // follows directos si Meta los expone\n  var igProfileVisits = getProfileVisitsIG(ad.actions); // visitas al perfil (proxy)\n  var fbLikes         = getAction(ad.actions, 'like');  // page likes = follows en FB\n\n  // Para CPS: FOLLOW camps → igFollows si > 0, sino igProfileVisits + fbLikes como proxy\n  var followSignal = 0;\n  var followLabel  = '';\n  if (campaignType === 'FOLLOW') {\n    if (igFollows > 0) {\n      followSignal = igFollows + fbLikes;\n      followLabel = 'F:' + igFollows + (fbLikes > 0 ? '/L:' + fbLikes : '');\n    } else if (igProfileVisits > 0 || fbLikes > 0) {\n      followSignal = igProfileVisits + fbLikes;\n      followLabel = 'V:' + igProfileVisits + (fbLikes > 0 ? '/L:' + fbLikes : '');\n    } else {\n      followLabel = '0';\n    }\n  } else {\n    followLabel = '—';\n  }\n\n  // ThruPlay\n  var thruPlays    = getThruPlays(ad.video_thruplay_watched_actions);\n  var thruPlayRate = impressions > 0 ? (thruPlays / impressions * 100) : 0;\n\n  // CPS (solo FOLLOW campaigns con señal real)\n  var cps    = (campaignType === 'FOLLOW' && followSignal > 0) ? Math.round(spend / followSignal) : null;\n  var cpsStr = cps !== null ? '$' + cps : 'N/A';\n\n  // Veredicto\n  var verdict = 'VIABLE';\n  var reasons = [];\n\n  if (daysActive < 3) {\n    verdict = 'LEARNING';\n    reasons.push(daysActive + 'd activo, esperar 72h');\n  } else if (frequency > 3.5) {\n    verdict = 'FATIGUE';\n    reasons.push('Freq ' + frequency.toFixed(1) + ' > 3.5');\n  } else if (daysActive > 14) {\n    verdict = 'MAX_REACHED';\n    reasons.push(daysActive + 'd > 14 max');\n  } else if ((cps !== null && cps > 100) || er < 1 || ctr < 0.4) {\n    verdict = 'CORTAR';\n    if (cps !== null && cps > 100) reasons.push('CPS $' + cps + ' > $100');\n    if (er < 1)    reasons.push('ER ' + er.toFixed(1) + '% < 1%');\n    if (ctr < 0.4) reasons.push('CTR ' + ctr.toFixed(2) + '% < 0.4%');\n  } else if (cps !== null && cps < 30 && er > 3) {\n    verdict = 'WINNER';\n    reasons.push('CPS $' + cps + ' < $30, ER ' + er.toFixed(1) + '% > 3%');\n  } else if (daysActive >= 10) {\n    verdict = 'FATIGUE_WARNING';\n    reasons.push(daysActive + 'd, preparar reemplazo');\n  }\n\n  return {\n    adId: ad.ad_id, adName: ad.ad_name,\n    campaignType: campaignType, platform: platform,\n    daysActive: daysActive, impressions: impressions, reach: reach,\n    spend: Math.round(spend), ctr: ctr.toFixed(2), frequency: frequency.toFixed(1),\n    engagements: engagements, er: er.toFixed(1),\n    igFollows: igFollows, igProfileVisits: igProfileVisits, fbLikes: fbLikes,\n    followLabel: followLabel,\n    thruPlays: thruPlays, thruPlayRate: thruPlayRate.toFixed(1),\n    cps: cpsStr, cpsRaw: cps,\n    verdict: verdict, reason: reasons.join(', ') || 'Dentro de parametros'\n  };\n});\n\n// Segmentar por objetivo\nvar followAds = results.filter(function(r) { return r.campaignType === 'FOLLOW'; });\nvar engAds    = results.filter(function(r) { return r.campaignType === 'ENG'; });\nvar awrAds    = results.filter(function(r) { return r.campaignType === 'AWR'; });\n\n// Conteo veredictos\nvar counts = {};\nresults.forEach(function(r) { counts[r.verdict] = (counts[r.verdict] || 0) + 1; });\nvar summaryParts = [];\nif (counts.WINNER)          summaryParts.push(counts.WINNER + ' WINNER');\nif (counts.VIABLE)          summaryParts.push(counts.VIABLE + ' VIABLE');\nif (counts.LEARNING)        summaryParts.push(counts.LEARNING + ' LEARNING');\nif (counts.CORTAR)          summaryParts.push(counts.CORTAR + ' CORTAR');\nif (counts.FATIGUE)         summaryParts.push(counts.FATIGUE + ' FATIGUE');\nif (counts.FATIGUE_WARNING) summaryParts.push(counts.FATIGUE_WARNING + ' WARNING');\nif (counts.MAX_REACHED)     summaryParts.push(counts.MAX_REACHED + ' MAX');\nvar summaryStr = summaryParts.join(' | ') || 'Sin datos';\n\n// Totales\nvar totalSpend      = results.reduce(function(s, r) { return s + r.spend; }, 0);\nvar totalReach      = results.reduce(function(s, r) { return s + r.reach; }, 0);\nvar totalIgFollows  = followAds.reduce(function(s, r) { return s + r.igFollows; }, 0);\nvar totalIgVisits   = followAds.reduce(function(s, r) { return s + r.igProfileVisits; }, 0);\nvar totalFbLikes    = followAds.reduce(function(s, r) { return s + r.fbLikes; }, 0);\nvar totalFollowSig  = followAds.reduce(function(s, r) {\n  var sig = r.igFollows > 0 ? r.igFollows + r.fbLikes : r.igProfileVisits + r.fbLikes;\n  return s + sig;\n}, 0);\nvar blendedCPS = totalFollowSig > 0 ? Math.round(totalSpend / totalFollowSig) : null;\n\n// Día de referencia: primer ad ENG (reel4horas, activo desde 19/04)\nvar refAd = results.find(function(r) { return r.campaignType === 'ENG' && r.daysActive > 0; });\nvar dayRef = refAd ? refAd.daysActive : results.reduce(function(m, r) { return Math.max(m, r.daysActive); }, 0);\n\n// Estilos\nfunction verdictStyle(v) {\n  var map = {\n    WINNER:          { color: '#16a34a', bg: '#f0fdf4' },\n    VIABLE:          { color: '#2563eb', bg: '#eff6ff' },\n    LEARNING:        { color: '#7c3aed', bg: '#f5f3ff' },\n    CORTAR:          { color: '#dc2626', bg: '#fef2f2' },\n    FATIGUE:         { color: '#ea580c', bg: '#fff7ed' },\n    FATIGUE_WARNING: { color: '#ca8a04', bg: '#fefce8' },\n    MAX_REACHED:     { color: '#dc2626', bg: '#fef2f2' },\n  };\n  return map[v] || { color: '#6b7280', bg: '#f9fafb' };\n}\nfunction typeBadge(type) {\n  var colors = { FOLLOW: '#7c3aed', ENG: '#2563eb', AWR: '#0891b2', LEA: '#059669', TRF: '#d97706' };\n  return '<span style=\"background:' + (colors[type] || '#9ca3af') + ';color:white;padding:1px 5px;border-radius:3px;font-size:10px;\">' + type + '</span>';\n}\n\n// Tabla HTML\nvar tableRows = results.map(function(r) {\n  var s = verdictStyle(r.verdict);\n  var tpCell = r.thruPlays > 0 ? r.thruPlayRate + '%' : '—';\n  return '<tr style=\"border-bottom:1px solid #e5e7eb;\">'\n    + '<td style=\"padding:5px 8px;font-size:11px;max-width:200px;\">' + r.adName + '</td>'\n    + '<td style=\"padding:4px;text-align:center;\">' + typeBadge(r.campaignType) + '</td>'\n    + '<td style=\"padding:4px;text-align:center;font-size:11px;\">' + r.platform + '</td>'\n    + '<td style=\"padding:4px;text-align:center;\">' + r.daysActive + 'd</td>'\n    + '<td style=\"padding:4px;text-align:right;\">$' + r.spend.toLocaleString() + '</td>'\n    + '<td style=\"padding:4px;text-align:right;\">' + r.reach.toLocaleString() + '</td>'\n    + '<td style=\"padding:4px;text-align:center;\">' + r.ctr + '%</td>'\n    + '<td style=\"padding:4px;text-align:center;\">' + r.er + '%</td>'\n    + '<td style=\"padding:4px;text-align:center;\">' + r.frequency + '</td>'\n    + '<td style=\"padding:4px;text-align:center;color:#7c3aed;\">' + tpCell + '</td>'\n    + '<td style=\"padding:4px;text-align:center;font-size:11px;\">' + r.followLabel + '</td>'\n    + '<td style=\"padding:4px;text-align:right;\">' + r.cps + '</td>'\n    + '<td style=\"padding:4px;text-align:center;background:' + s.bg + ';color:' + s.color + ';font-weight:bold;\">' + r.verdict + '</td>'\n    + '<td style=\"padding:4px;font-size:10px;color:#6b7280;\">' + r.reason + '</td>'\n    + '</tr>';\n}).join('\\n');\n\n// Prompt Bruno — tabla separada por objetivo\nfunction makeBrunoSection(ads, title) {\n  if (ads.length === 0) return '';\n  var hdr = '| Ad | Plat | Dias | Spend | Reach | CTR | ER | Eng | ThruPlay | IG Follows | IG Visits | FB Likes | CPS | Freq | Veredicto | Razon |';\n  var sep = '|---|---|---|---|---|---|---|---|---|---|---|---|---|---|---|---|';\n  var rows = ads.map(function(r) {\n    var tp = r.thruPlays > 0 ? r.thruPlayRate + '% (' + r.thruPlays + ')' : 'N/A';\n    return '| ' + r.adName + ' | ' + r.platform + ' | ' + r.daysActive + 'd'\n      + ' | $' + r.spend + ' | ' + r.reach\n      + ' | ' + r.ctr + '% | ' + r.er + '% | ' + r.engagements\n      + ' | ' + tp\n      + ' | ' + r.igFollows\n      + ' | ' + r.igProfileVisits\n      + ' | ' + r.fbLikes\n      + ' | ' + r.cps + ' | ' + r.frequency\n      + ' | ' + r.verdict + ' | ' + r.reason + ' |';\n  }).join('\\n');\n  return '\\n### ' + title + '\\n\\n' + hdr + '\\n' + sep + '\\n' + rows + '\\n';\n}\n\n// Diagnóstico action_types (para confirmar strings de follows en esta cuenta)\nvar diagLines = Object.keys(diagActionTypes).sort().map(function(k) {\n  return k + ': ' + diagActionTypes[k];\n});\n\n// Subject\nvar followDisplay = totalIgFollows > 0\n  ? 'IG Follows:' + totalIgFollows + ' FB Likes:' + totalFbLikes\n  : 'IG Visits:' + totalIgVisits + ' FB Likes:' + totalFbLikes + ' (proxy)';\nvar subject = '[ENBA Ads] ' + todayStr\n  + ' | ' + summaryStr\n  + ' | $' + totalSpend.toLocaleString()\n  + ' | ' + followDisplay;\n\n// Prompt Bruno\nvar brunoPrompt = 'Contexto REDES. Carga /bruno.\\n\\n'\n  + 'Reporte automatico Meta Ads — ' + todayStr + '.\\n'\n  + 'Campana ENBA activa desde 19/04/2026. Dia ' + dayRef + ' de 27.\\n'\n  + 'Spend total: $' + totalSpend.toLocaleString()\n  + ' | IG Follows: ' + totalIgFollows\n  + ' | IG Profile Visits: ' + totalIgVisits\n  + ' | FB Page Likes: ' + totalFbLikes\n  + ' | CPS blended: ' + (blendedCPS !== null ? '$' + blendedCPS : 'sin datos aún')\n  + ' | Reach total: ' + totalReach.toLocaleString() + '\\n'\n  + '\\n⚠ NOTA TECNICA: Meta Ads API expone IG follows (desde jul 2025) pero el action_type'\n  + ' varía por cuenta. Ver sección Diagnóstico del email para confirmar qué está disponible.'\n  + ' Proxy actual: IG Visits = omni_visit_instagram_profile, FB = \"like\".'\n  + ' Para follows reales verificar: IG Insights > Seguidores > De anuncios.\\n'\n  + '\\n## Datos de rendimiento por objetivo (lifetime)\\n'\n  + makeBrunoSection(followAds, 'FOLLOW Plan (objetivo: visitas perfil IG + page likes FB)')\n  + makeBrunoSection(engAds,    'ENGAGEMENT (objetivo: post engagement, ThruPlay)')\n  + makeBrunoSection(awrAds,    'AWARENESS (objetivo: reach)')\n  + '\\n## Reglas del plan v4 (presupuesto-v4-reestructuracion.md)\\n'\n  + '- CORTAR (72h+): CPS > $100 o ER < 1% o CTR < 0.4%\\n'\n  + '- WINNER (72h+): CPS < $30 + ER > 3%\\n'\n  + '- FATIGUE: Frecuencia > 3.5\\n'\n  + '- MAX: > 14 dias\\n'\n  + '- Escalar WINNER: +25% cada 48h, triple scale si win 5 dias\\n'\n  + '- Gate 1 dia 6 (25/04): follows>30, ThruPlays>500/dia, CTR AWR>0.5%, ER reel>5%\\n'\n  + '- Gate 2 dia 10 (29/04): follows>200, ER>3%, CPS<$80\\n\\n'\n  + '## Tu tarea\\n'\n  + '1. Confirma o corregi cada veredicto automatico\\n'\n  + '2. Propone acciones: que apagar, escalar, rotar\\n'\n  + '3. Si hay WINNERS, propone escalado\\n'\n  + '4. Evalua ThruPlay rate en video ads (benchmark: >15% bueno, >25% excelente)\\n'\n  + '5. Revisa split IG/FB con IG Visits vs FB Likes del Follow Plan\\n\\n'\n  + 'Entrega tu analisis y espera aprobacion antes de ejecutar.';\n\n// HTML\nvar html = '<!DOCTYPE html><html><head><meta charset=\"utf-8\"></head>'\n  + '<body style=\"font-family:Arial,sans-serif;max-width:1100px;margin:0 auto;padding:16px;\">'\n  + '<h2 style=\"color:#1e293b;margin-bottom:4px;\">ENBA Meta Ads — Reporte Diario</h2>'\n  + '<p style=\"color:#64748b;margin-top:4px;font-size:13px;\">'\n  + 'Fecha: ' + todayStr + ' &middot; Dia ' + dayRef + ' de 27'\n  + ' &middot; Spend: $' + totalSpend.toLocaleString()\n  + ' &middot; IG Follows: <b>' + totalIgFollows + '</b>'\n  + ' &middot; IG Visits: <b>' + totalIgVisits + '</b>'\n  + ' &middot; FB Likes: <b>' + totalFbLikes + '</b>'\n  + ' &middot; CPS blended: <b>' + (blendedCPS !== null ? '$' + blendedCPS : '—') + '</b>'\n  + ' &middot; Reach: ' + totalReach.toLocaleString() + '</p>'\n  + '<p style=\"font-size:15px;font-weight:bold;color:#1e293b;\">' + summaryStr + '</p>'\n  + '<p style=\"font-size:11px;color:#64748b;background:#f8fafc;padding:8px;border-radius:4px;border-left:3px solid #7c3aed;\">'\n  + '⚠ <b>Columna \"Follows/Visits\":</b> '\n  + (totalIgFollows > 0\n      ? 'IG Follows reales detectados via action_type en esta cuenta. FB Likes = page like.'\n      : 'IG Follows no detectados en la respuesta API. Mostrando proxies: IG Visits = omni_visit_instagram_profile, FB = page like.')\n  + ' Para follows orgánicos: IG Insights &gt; Seguidores &gt; \"De anuncios\".</p>'\n  + '<table style=\"border-collapse:collapse;width:100%;font-size:11px;margin-top:12px;\">'\n  + '<thead><tr style=\"background:#f1f5f9;border-bottom:2px solid #cbd5e1;\">'\n  + '<th style=\"padding:5px 8px;text-align:left;\">Ad</th>'\n  + '<th style=\"padding:4px;\">Tipo</th>'\n  + '<th style=\"padding:4px;\">Plat</th>'\n  + '<th style=\"padding:4px;\">Dias</th>'\n  + '<th style=\"padding:4px;text-align:right;\">Spend</th>'\n  + '<th style=\"padding:4px;text-align:right;\">Reach</th>'\n  + '<th style=\"padding:4px;\">CTR</th>'\n  + '<th style=\"padding:4px;\">ER</th>'\n  + '<th style=\"padding:4px;\">Freq</th>'\n  + '<th style=\"padding:4px;color:#7c3aed;\">ThruPlay</th>'\n  + '<th style=\"padding:4px;\">Follows/Visits</th>'\n  + '<th style=\"padding:4px;text-align:right;\">CPS</th>'\n  + '<th style=\"padding:4px;\">Veredicto</th>'\n  + '<th style=\"padding:4px;\">Razon</th>'\n  + '</tr></thead><tbody>\\n'\n  + tableRows\n  + '\\n</tbody></table>'\n  + '<hr style=\"margin:20px 0;border:1px solid #e5e7eb;\">'\n  + '<details><summary style=\"cursor:pointer;font-size:12px;color:#7c3aed;font-weight:bold;\">Diagnóstico: action_types disponibles en esta cuenta (expandir)</summary>'\n  + '<p style=\"font-size:11px;color:#64748b;\">Muestra todos los action_types que Meta devolvió para los ads activos. Buscar si hay algún tipo relacionado con \"follow\" o \"instagram\". Una vez confirmado el string correcto, se puede quitar este bloque.</p>'\n  + '<pre style=\"font-size:10px;background:#f8fafc;padding:12px;border-radius:4px;border:1px solid #e2e8f0;max-height:200px;overflow-y:auto;\">'\n  + diagLines.join('\\n')\n  + '</pre></details>'\n  + '<hr style=\"margin:20px 0;border:1px solid #e5e7eb;\">'\n  + '<h3 style=\"color:#1e293b;\">Prompt para Bruno</h3>'\n  + '<p style=\"color:#64748b;font-size:12px;\">Copia y pega en Claude Code:</p>'\n  + '<pre style=\"background:#f8fafc;padding:16px;border-radius:8px;font-size:10px;overflow-x:auto;white-space:pre-wrap;border:1px solid #e2e8f0;\">'\n  + brunoPrompt.replace(/</g, '&lt;').replace(/>/g, '&gt;')\n  + '</pre>'\n  + '<p style=\"color:#94a3b8;font-size:10px;margin-top:16px;\">ENBA Ads Evaluation Workflow v2 &middot; ' + new Date().toISOString() + '</p>'\n  + '</body></html>';\n\nreturn [{ json: {\n  subject: subject, html: html, brunoPrompt: brunoPrompt,\n  totalSpend: totalSpend, totalIgFollows: totalIgFollows,\n  totalIgVisits: totalIgVisits, totalFbLikes: totalFbLikes,\n  blendedCPS: blendedCPS, adsCount: results.length, summaryStr: summaryStr,\n  diagActionTypes: diagActionTypes\n} }];\n"
        },
        "id": "node-evaluate",
        "name": "Evaluate Ads",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          640,
          300
        ]
      },
      {
        "parameters": {
          "fromEmail": "jmartinezplatt@gmail.com",
          "toEmail": "jmartinezplatt@gmail.com",
          "subject": "={{ $json.subject }}",
          "emailFormat": "html",
          "html": "={{ $json.html }}",
          "options": {}
        },
        "id": "node-send-report",
        "name": "Send Report Email",
        "type": "n8n-nodes-base.emailSend",
        "typeVersion": 2.1,
        "position": [
          860,
          300
        ],
        "credentials": {
          "smtp": {
            "id": "HpJBfNd1BCHaLYfY",
            "name": "Gmail ENBA"
          }
        },
        "webhookId": "4e879775-94df-4f3e-8c4c-6535453aca81"
      }
    ],
    "connections": {
      "Schedule 9:00 ART": {
        "main": [
          [
            {
              "node": "Get Ad Insights",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get Ad Insights": {
        "main": [
          [
            {
              "node": "Evaluate Ads",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Evaluate Ads": {
        "main": [
          [
            {
              "node": "Send Report Email",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Jose Martinez",
    "name": null,
    "description": null,
    "autosaved": false,
    "workflowPublishHistory": [
      {
        "createdAt": "2026-04-23T13:44:40.037Z",
        "id": 755,
        "workflowId": "1qRywsEWAl7VoO5o",
        "versionId": "c971a775-d99d-4a25-9e53-67b9cefb8351",
        "event": "activated",
        "userId": "7792ccbd-a153-4ec4-9b00-a26cc72db47d"
      },
      {
        "createdAt": "2026-04-23T13:44:40.763Z",
        "id": 757,
        "workflowId": "1qRywsEWAl7VoO5o",
        "versionId": "c971a775-d99d-4a25-9e53-67b9cefb8351",
        "event": "activated",
        "userId": "7792ccbd-a153-4ec4-9b00-a26cc72db47d"
      },
      {
        "createdAt": "2026-04-23T13:44:39.924Z",
        "id": 754,
        "workflowId": "1qRywsEWAl7VoO5o",
        "versionId": "c971a775-d99d-4a25-9e53-67b9cefb8351",
        "event": "deactivated",
        "userId": "7792ccbd-a153-4ec4-9b00-a26cc72db47d"
      },
      {
        "createdAt": "2026-04-23T13:44:40.365Z",
        "id": 756,
        "workflowId": "1qRywsEWAl7VoO5o",
        "versionId": "c971a775-d99d-4a25-9e53-67b9cefb8351",
        "event": "deactivated",
        "userId": "7792ccbd-a153-4ec4-9b00-a26cc72db47d"
      }
    ]
  }
}