scripts/backups/stories-c8MHANGzW56GORAi-backup.json
{"updatedAt":"2026-04-26T16:56:26.769Z","createdAt":"2026-04-26T07:59:17.006Z","id":"c8MHANGzW56GORAi","name":"ENBA - Stories Noche (noche)","description":null,"active":true,"isArchived":false,"nodes":[{"id":"schedule-noche","name":"Schedule Noche","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[200,300],"parameters":{"rule":{"interval":[{"field":"cronExpression","expression":"0 20 * * *"}]}}},{"id":"set-slot-noche","name":"Set Slot","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[420,300],"parameters":{"mode":"manual","assignments":{"assignments":[{"id":"slot","name":"slot","value":"noche","type":"string"},{"id":"cycleStartDate","name":"cycleStartDate","value":"2026-04-26","type":"string"}]}}},{"id":"pick-story-noche","name":"Pick Next Story","type":"n8n-nodes-base.code","typeVersion":2,"position":[860,300],"parameters":{"jsCode":"// pick-next-story-v2.js\n// Manifest llega del nodo anterior \"Get Manifest\" (HTTP Request)\n// — no usa fetch() para compatibilidad con el sandbox de n8n cloud\n// Slot y cycleStartDate vienen del nodo \"Set Slot\" referenciado por nombre\n\nconst manifest = $input.first().json;\nconst slot = $('Set Slot').first().json.slot;\nconst cycleStartDate = $('Set Slot').first().json.cycleStartDate || '2026-04-26';\n\nconst BASE_IMG_URL = 'https://enba-social-assets.pages.dev/campaigns/plan-crecimiento-10k/highlights/stories/';\n\n// Calcular día del ciclo en ART (UTC-3)\nconst now = new Date();\nconst artOffset = -3 * 60;\nconst utcMs = now.getTime() + now.getTimezoneOffset() * 60000;\nconst artNow = new Date(utcMs + artOffset * 60000);\nconst artToday = new Date(artNow.getFullYear(), artNow.getMonth(), artNow.getDate());\n\nconst [sy, sm, sd] = cycleStartDate.split('-').map(Number);\nconst startDate = new Date(sy, sm - 1, sd);\nconst diffMs = artToday - startDate;\nconst dayOfCycle = Math.floor(diffMs / (1000 * 60 * 60 * 24)) + 1;\n\nif (dayOfCycle < 1 || dayOfCycle > 10) {\n  return [{ json: {\n    skip: true,\n    reason: dayOfCycle < 1\n      ? `Ciclo aún no iniciado. Día calculado: ${dayOfCycle}`\n      : `Ciclo completado (día ${dayOfCycle}/10). No hay más stories programadas.`,\n    dayOfCycle, slot, timestamp: artNow.toISOString()\n  }}];\n}\n\nconst story = manifest.stories.find(s => s.day === dayOfCycle && s.slot === slot);\n\nif (!story) {\n  return [{ json: {\n    skip: true,\n    reason: `No se encontró story para día ${dayOfCycle} slot ${slot}`,\n    dayOfCycle, slot, timestamp: artNow.toISOString()\n  }}];\n}\n\nreturn [{ json: {\n  skip: false,\n  seq: story.seq,\n  day: dayOfCycle,\n  slot: story.slot,\n  time: story.time,\n  category: story.category,\n  caption: story.caption,\n  file: story.file,\n  imageUrl: BASE_IMG_URL + story.file,\n  cycleProgress: `Día ${dayOfCycle}/10`,\n  timestamp: artNow.toISOString()\n}}];\n"}},{"id":"if-skip-noche","name":"Skip?","type":"n8n-nodes-base.if","typeVersion":2,"position":[1080,300],"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"skip-check","leftValue":"={{ $json.skip }}","rightValue":true,"operator":{"type":"boolean","operation":"equal"}}],"combinator":"and"}}},{"id":"email-skip-noche","name":"Email Skip","type":"n8n-nodes-base.emailSend","typeVersion":2.1,"position":[1300,180],"credentials":{"smtp":{"id":"HpJBfNd1BCHaLYfY","name":"Gmail ENBA"}},"parameters":{"fromEmail":"enba.social@gmail.com","toEmail":"jmartinezplatt@gmail.com","subject":"={{ 'ENBA Stories [' + $('Set Slot').first().json.slot + ']: skip — ' + $json.reason }}","text":"={{ 'Stories 3x Diarias — slot ' + $('Set Slot').first().json.slot + '\\n\\nMotivo: ' + $json.reason + '\\nTimestamp: ' + $json.timestamp }}","emailFormat":"text"},"webhookId":"32365b3a-03ec-410b-bdef-bf89284e63d6"},{"id":"ig-container-noche","name":"IG Create Container","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1300,380],"credentials":{"httpHeaderAuth":{"id":"IGBqXMQRWJLxzh7f","name":"Meta API ENBA - Page Token"}},"continueOnFail":false,"parameters":{"method":"POST","url":"https://graph.facebook.com/v22.0/17841443139761422/media","sendBody":true,"bodyParameters":{"parameters":[{"name":"image_url","value":"={{ $('Pick Next Story').first().json.imageUrl }}"},{"name":"media_type","value":"STORIES"}]},"authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth"}},{"id":"wait-noche","name":"Wait 8s","type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1520,380],"parameters":{"amount":8,"unit":"seconds","resume":"timeInterval"},"webhookId":"1ed9f972-6974-4ce9-ae69-6070918f0f8e"},{"id":"ig-publish-noche","name":"IG Publish","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1740,380],"credentials":{"httpHeaderAuth":{"id":"IGBqXMQRWJLxzh7f","name":"Meta API ENBA - Page Token"}},"continueOnFail":false,"parameters":{"method":"POST","url":"https://graph.facebook.com/v22.0/17841443139761422/media_publish","sendBody":true,"bodyParameters":{"parameters":[{"name":"creation_id","value":"={{ $json.id }}"}]},"authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth"}},{"id":"email-ok-noche","name":"Email OK","type":"n8n-nodes-base.emailSend","typeVersion":2.1,"position":[1960,380],"credentials":{"smtp":{"id":"HpJBfNd1BCHaLYfY","name":"Gmail ENBA"}},"parameters":{"fromEmail":"enba.social@gmail.com","toEmail":"jmartinezplatt@gmail.com","subject":"={{ 'ENBA Stories [' + $('Pick Next Story').first().json.category + '] ' + $('Pick Next Story').first().json.cycleProgress + ' ' + $('Set Slot').first().json.slot + ' publicada ✓' }}","text":"={{ 'Story publicada correctamente.\\n\\nCategoría: ' + $('Pick Next Story').first().json.category + '\\nCaption: ' + $('Pick Next Story').first().json.caption + '\\nArchivo: ' + $('Pick Next Story').first().json.file + '\\nIG Story ID: ' + $json.id + '\\nCiclo: ' + $('Pick Next Story').first().json.cycleProgress + '\\nSlot: ' + $('Pick Next Story').first().json.slot + ' (' + $('Pick Next Story').first().json.time + ' ART)\\nTimestamp: ' + $('Pick Next Story').first().json.timestamp }}","emailFormat":"text"},"webhookId":"888f987e-70eb-47a2-a2fb-1b429aa1f61f"},{"id":"get-manifest-fase2","name":"Get Manifest","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[640,300],"parameters":{"method":"GET","url":"https://enba-social-assets.pages.dev/campaigns/plan-crecimiento-10k/highlights/stories/fase2-manifest.json","options":{}}}],"connections":{"Schedule Noche":{"main":[[{"node":"Set Slot","type":"main","index":0}]]},"Set Slot":{"main":[[{"node":"Get Manifest","type":"main","index":0}]]},"Pick Next Story":{"main":[[{"node":"Skip?","type":"main","index":0}]]},"Skip?":{"main":[[{"node":"Email Skip","type":"main","index":0}],[{"node":"IG Create Container","type":"main","index":0}]]},"IG Create Container":{"main":[[{"node":"Wait 8s","type":"main","index":0}]]},"Wait 8s":{"main":[[{"node":"IG Publish","type":"main","index":0}]]},"IG Publish":{"main":[[{"node":"Email OK","type":"main","index":0}]]},"Get Manifest":{"main":[[{"node":"Pick Next Story","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","timezone":"America/Argentina/Buenos_Aires"},"staticData":{"node:Schedule Noche":{"recurrenceRules":[]}},"meta":null,"pinData":null,"versionId":"49d233a1-7f2c-42b6-af77-5ad8659d0007","activeVersionId":"49d233a1-7f2c-42b6-af77-5ad8659d0007","versionCounter":19,"triggerCount":1,"shared":[{"updatedAt":"2026-04-26T07:59:17.008Z","createdAt":"2026-04-26T07:59:17.008Z","role":"workflow:owner","workflowId":"c8MHANGzW56GORAi","projectId":"HoHL7haDbRK6OwSu","project":{"updatedAt":"2026-03-01T23:53:57.251Z","createdAt":"2026-03-01T23:53:51.806Z","id":"HoHL7haDbRK6OwSu","name":"Jose Martinez <admin@espacionautico.com.ar>","type":"personal","icon":null,"description":null,"creatorId":"7792ccbd-a153-4ec4-9b00-a26cc72db47d"}}],"tags":[],"activeVersion":{"updatedAt":"2026-04-26T16:56:26.770Z","createdAt":"2026-04-26T16:56:26.770Z","versionId":"49d233a1-7f2c-42b6-af77-5ad8659d0007","workflowId":"c8MHANGzW56GORAi","nodes":[{"id":"schedule-noche","name":"Schedule Noche","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[200,300],"parameters":{"rule":{"interval":[{"field":"cronExpression","expression":"0 20 * * *"}]}}},{"id":"set-slot-noche","name":"Set Slot","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[420,300],"parameters":{"mode":"manual","assignments":{"assignments":[{"id":"slot","name":"slot","value":"noche","type":"string"},{"id":"cycleStartDate","name":"cycleStartDate","value":"2026-04-26","type":"string"}]}}},{"id":"pick-story-noche","name":"Pick Next Story","type":"n8n-nodes-base.code","typeVersion":2,"position":[860,300],"parameters":{"jsCode":"// pick-next-story-v2.js\n// Manifest llega del nodo anterior \"Get Manifest\" (HTTP Request)\n// — no usa fetch() para compatibilidad con el sandbox de n8n cloud\n// Slot y cycleStartDate vienen del nodo \"Set Slot\" referenciado por nombre\n\nconst manifest = $input.first().json;\nconst slot = $('Set Slot').first().json.slot;\nconst cycleStartDate = $('Set Slot').first().json.cycleStartDate || '2026-04-26';\n\nconst BASE_IMG_URL = 'https://enba-social-assets.pages.dev/campaigns/plan-crecimiento-10k/highlights/stories/';\n\n// Calcular día del ciclo en ART (UTC-3)\nconst now = new Date();\nconst artOffset = -3 * 60;\nconst utcMs = now.getTime() + now.getTimezoneOffset() * 60000;\nconst artNow = new Date(utcMs + artOffset * 60000);\nconst artToday = new Date(artNow.getFullYear(), artNow.getMonth(), artNow.getDate());\n\nconst [sy, sm, sd] = cycleStartDate.split('-').map(Number);\nconst startDate = new Date(sy, sm - 1, sd);\nconst diffMs = artToday - startDate;\nconst dayOfCycle = Math.floor(diffMs / (1000 * 60 * 60 * 24)) + 1;\n\nif (dayOfCycle < 1 || dayOfCycle > 10) {\n  return [{ json: {\n    skip: true,\n    reason: dayOfCycle < 1\n      ? `Ciclo aún no iniciado. Día calculado: ${dayOfCycle}`\n      : `Ciclo completado (día ${dayOfCycle}/10). No hay más stories programadas.`,\n    dayOfCycle, slot, timestamp: artNow.toISOString()\n  }}];\n}\n\nconst story = manifest.stories.find(s => s.day === dayOfCycle && s.slot === slot);\n\nif (!story) {\n  return [{ json: {\n    skip: true,\n    reason: `No se encontró story para día ${dayOfCycle} slot ${slot}`,\n    dayOfCycle, slot, timestamp: artNow.toISOString()\n  }}];\n}\n\nreturn [{ json: {\n  skip: false,\n  seq: story.seq,\n  day: dayOfCycle,\n  slot: story.slot,\n  time: story.time,\n  category: story.category,\n  caption: story.caption,\n  file: story.file,\n  imageUrl: BASE_IMG_URL + story.file,\n  cycleProgress: `Día ${dayOfCycle}/10`,\n  timestamp: artNow.toISOString()\n}}];\n"}},{"id":"if-skip-noche","name":"Skip?","type":"n8n-nodes-base.if","typeVersion":2,"position":[1080,300],"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"skip-check","leftValue":"={{ $json.skip }}","rightValue":true,"operator":{"type":"boolean","operation":"equal"}}],"combinator":"and"}}},{"id":"email-skip-noche","name":"Email Skip","type":"n8n-nodes-base.emailSend","typeVersion":2.1,"position":[1300,180],"credentials":{"smtp":{"id":"HpJBfNd1BCHaLYfY","name":"Gmail ENBA"}},"parameters":{"fromEmail":"enba.social@gmail.com","toEmail":"jmartinezplatt@gmail.com","subject":"={{ 'ENBA Stories [' + $('Set Slot').first().json.slot + ']: skip — ' + $json.reason }}","text":"={{ 'Stories 3x Diarias — slot ' + $('Set Slot').first().json.slot + '\\n\\nMotivo: ' + $json.reason + '\\nTimestamp: ' + $json.timestamp }}","emailFormat":"text"},"webhookId":"32365b3a-03ec-410b-bdef-bf89284e63d6"},{"id":"ig-container-noche","name":"IG Create Container","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1300,380],"credentials":{"httpHeaderAuth":{"id":"IGBqXMQRWJLxzh7f","name":"Meta API ENBA - Page Token"}},"continueOnFail":false,"parameters":{"method":"POST","url":"https://graph.facebook.com/v22.0/17841443139761422/media","sendBody":true,"bodyParameters":{"parameters":[{"name":"image_url","value":"={{ $('Pick Next Story').first().json.imageUrl }}"},{"name":"media_type","value":"STORIES"}]},"authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth"}},{"id":"wait-noche","name":"Wait 8s","type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1520,380],"parameters":{"amount":8,"unit":"seconds","resume":"timeInterval"},"webhookId":"1ed9f972-6974-4ce9-ae69-6070918f0f8e"},{"id":"ig-publish-noche","name":"IG Publish","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1740,380],"credentials":{"httpHeaderAuth":{"id":"IGBqXMQRWJLxzh7f","name":"Meta API ENBA - Page Token"}},"continueOnFail":false,"parameters":{"method":"POST","url":"https://graph.facebook.com/v22.0/17841443139761422/media_publish","sendBody":true,"bodyParameters":{"parameters":[{"name":"creation_id","value":"={{ $json.id }}"}]},"authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth"}},{"id":"email-ok-noche","name":"Email OK","type":"n8n-nodes-base.emailSend","typeVersion":2.1,"position":[1960,380],"credentials":{"smtp":{"id":"HpJBfNd1BCHaLYfY","name":"Gmail ENBA"}},"parameters":{"fromEmail":"enba.social@gmail.com","toEmail":"jmartinezplatt@gmail.com","subject":"={{ 'ENBA Stories [' + $('Pick Next Story').first().json.category + '] ' + $('Pick Next Story').first().json.cycleProgress + ' ' + $('Set Slot').first().json.slot + ' publicada ✓' }}","text":"={{ 'Story publicada correctamente.\\n\\nCategoría: ' + $('Pick Next Story').first().json.category + '\\nCaption: ' + $('Pick Next Story').first().json.caption + '\\nArchivo: ' + $('Pick Next Story').first().json.file + '\\nIG Story ID: ' + $json.id + '\\nCiclo: ' + $('Pick Next Story').first().json.cycleProgress + '\\nSlot: ' + $('Pick Next Story').first().json.slot + ' (' + $('Pick Next Story').first().json.time + ' ART)\\nTimestamp: ' + $('Pick Next Story').first().json.timestamp }}","emailFormat":"text"},"webhookId":"888f987e-70eb-47a2-a2fb-1b429aa1f61f"},{"id":"get-manifest-fase2","name":"Get Manifest","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[640,300],"parameters":{"method":"GET","url":"https://enba-social-assets.pages.dev/campaigns/plan-crecimiento-10k/highlights/stories/fase2-manifest.json","options":{}}}],"connections":{"Schedule Noche":{"main":[[{"node":"Set Slot","type":"main","index":0}]]},"Set Slot":{"main":[[{"node":"Get Manifest","type":"main","index":0}]]},"Pick Next Story":{"main":[[{"node":"Skip?","type":"main","index":0}]]},"Skip?":{"main":[[{"node":"Email Skip","type":"main","index":0}],[{"node":"IG Create Container","type":"main","index":0}]]},"IG Create Container":{"main":[[{"node":"Wait 8s","type":"main","index":0}]]},"Wait 8s":{"main":[[{"node":"IG Publish","type":"main","index":0}]]},"IG Publish":{"main":[[{"node":"Email OK","type":"main","index":0}]]},"Get Manifest":{"main":[[{"node":"Pick Next Story","type":"main","index":0}]]}},"authors":"Jose Martinez","name":null,"description":null,"autosaved":false,"workflowPublishHistory":[{"createdAt":"2026-04-26T16:56:26.943Z","id":939,"workflowId":"c8MHANGzW56GORAi","versionId":"49d233a1-7f2c-42b6-af77-5ad8659d0007","event":"activated","userId":"7792ccbd-a153-4ec4-9b00-a26cc72db47d"},{"createdAt":"2026-04-26T16:56:26.862Z","id":938,"workflowId":"c8MHANGzW56GORAi","versionId":"49d233a1-7f2c-42b6-af77-5ad8659d0007","event":"deactivated","userId":"7792ccbd-a153-4ec4-9b00-a26cc72db47d"}]}}