automatizaciones/n8n-workflows/eval-ads-fresh.json
{
  "updatedAt": "2026-05-05T05:15:17.452Z",
  "createdAt": "2026-04-19T03:27:36.675Z",
  "id": "1qRywsEWAl7VoO5o",
  "name": "ENBA - Ads Evaluation Diaria 9:00",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 9 * * *"
            }
          ]
        }
      },
      "id": "node-schedule-eval",
      "name": "Schedule 9:00 ART",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        -256,
        304
      ]
    },
    {
      "parameters": {
        "url": "https://graph.facebook.com/v22.0/act_2303565156801569/insights?level=ad&fields=ad_id,ad_name,campaign_id,created_time,impressions,reach,clicks,spend,actions,ctr,frequency,video_thruplay_watched_actions,instagram_profile_visits,quality_ranking,engagement_rate_ranking,conversion_rate_ranking&date_preset=maximum&limit=100",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "id": "node-get-insights",
      "name": "Get Ad Insights",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        0,
        304
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "6LxWcVxeyZgsBTUU",
          "name": "Meta Ads API ENB"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Evaluate Ads Performance — Code Node para n8n  v5\n// Input esperado: Get Ad Insights → Get FB Followers → Get IG Followers\n//                 + en paralelo: Get Ad Status Batch → Get Ad Set Budgets → Get Quality Rankings\n//                 → [este nodo]\n// Accede a nodos previos por nombre. Si alguno falla con continueOnFail,\n// los try/catch degradan graciosamente (el email igual llega, sin esa sección).\n//\n// Plan vigente: presupuesto-v4-reestructuracion.md + presupuesto-v4.1-estado-dia10.md\n// CORTAR  (72h+): CPS > $100 ó ER < 1% ó CTR < 0.4%\n// WINNER  (72h+): CPS < $30 + ER > 3%\n// FATIGUE: frecuencia > 3.5\n// MAX_REACHED: > 14 días / FATIGUE_WARNING: >= 10 días\n//\n// v5 vs v4:\n// - effective_status real desde nodo \"Get Ad Status Batch\": ads pausados → veredicto PAUSED\n// - Burn rate real desde nodo \"Get Ad Set Budgets\": suma budgets activos (no promedio histórico)\n// - Quality rankings reales desde nodo \"Get Quality Rankings\" (no UNKNOWN)\n// - Tabla Bruno: ads ACTIVOS separados de PAUSADOS\n// - Orquestador al inicio del prompt Bruno: posición, gap, hipótesis falsadas, decisiones pendientes\n// - Gate de frescura: si datos > 12h → advertencia en email\n// - Timestamp de ejecución en subject del email\n\n// ── Constantes de campaña ──────────────────────────────────────────────\nconst CAMPAIGN_BUDGET_TOTAL = 500000;               // ARS — presupuesto-v4\nconst CAMPAIGN_BASELINE_FB  = 23;                   // fans FB al 22/04 (baseline Follow Plan)\nconst CAMPAIGN_BASELINE_IG  = 11;                   // seguidores IG al 22/04\nconst CAMPAIGN_START_DATE   = new Date('2026-04-19T03:00:00Z'); // día 1 ART\nconst CAMPAIGN_END_DATE     = new Date('2026-05-16T03:00:00Z'); // fin plan\nconst CAMPAIGN_TOTAL_DAYS   = 27;\n\n// ── Input: insights ────────────────────────────────────────────────────\nvar response;\ntry {\n  response = $('Get Ad Insights').first().json;\n} catch(e) {\n  // fallback por si se ejecuta en contexto sin nodo nombrado (tests manuales)\n  response = $input.first().json;\n}\nconst adsData = response.data || [];\n\n// ── Input: follower counts ─────────────────────────────────────────────\nvar fbFollowersNow = null;\nvar igFollowersNow = null;\ntry {\n  var fbData = $('Get FB Followers').first().json;\n  fbFollowersNow = parseInt(fbData.fan_count || fbData.followers_count || 0) || null;\n} catch(e) {}\ntry {\n  var igData = $('Get IG Followers').first().json;\n  igFollowersNow = parseInt(igData.followers_count || 0) || null;\n} catch(e) {}\n\n// ── Input: effective_status real (nodo \"Get Ad Status Batch\") ──────────\n// Mapa { ad_id: effective_status } — diferencia activos de pausados sin ambigüedad\n// Mapa { adset_id: true } — ad sets que tienen al menos 1 ad ACTIVE\nvar adStatusMap = {};\nvar adsetHasActiveAd = {};\ntry {\n  var statusData = $('Get Ad Status Batch').first().json;\n  // La API devuelve {data: [{id, effective_status, adset_id, ...}], paging: {...}}\n  var statusItems = Array.isArray(statusData.data) ? statusData.data\n    : Array.isArray(statusData) ? statusData : [];\n  statusItems.forEach(function(item) {\n    if (item && item.id) {\n      adStatusMap[item.id] = item.effective_status;\n      if (item.effective_status === 'ACTIVE' && item.adset_id) {\n        adsetHasActiveAd[item.adset_id] = true;\n      }\n    }\n  });\n} catch(e) {}\n\n// ── Input: burn rate real (nodo \"Get Ad Set Budgets\") ──────────────────\n// Suma de daily_budget de ad sets con effective_status ACTIVE\nvar realBurnRate = 0;\nvar burnRateSource = 'historical_avg';\ntry {\n  var budgetData = $('Get Ad Set Budgets').first().json;\n  var budgetItems = Array.isArray(budgetData.data) ? budgetData.data\n    : Array.isArray(budgetData) ? budgetData : [];\n  budgetItems.forEach(function(adset) {\n    // Solo sumar si el ad set esta ACTIVE y tiene al menos 1 ad ACTIVE dentro\n    // (operamos pausando a nivel ad, los ad sets quedan siempre ACTIVE)\n    if (adset.effective_status === 'ACTIVE' && adsetHasActiveAd[adset.id]) {\n      realBurnRate += parseInt(adset.daily_budget || 0) / 100; // Meta devuelve en centavos\n    }\n  });\n  if (realBurnRate > 0) burnRateSource = 'ad_set_budgets';\n} catch(e) {}\n\n// ── Input: quality rankings reales (nodo \"Get Quality Rankings\") ───────\n// Mapa { ad_id: { quality_ranking, engagement_rate_ranking, conversion_rate_ranking } }\nvar qualityMap = {};\ntry {\n  var qualData = $('Get Quality Rankings').first().json;\n  var qualItems = Array.isArray(qualData.data) ? qualData.data\n    : Array.isArray(qualData) ? qualData : [];\n  qualItems.forEach(function(item) {\n    if (item && item.ad_id) qualityMap[item.ad_id] = item;\n  });\n} catch(e) {}\n\n// ── Gate de frescura (12h) ─────────────────────────────────────────────\nvar freshnessWarning = '';\ntry {\n  var metaHeader = $('Get Ad Insights').first().json._meta;\n  if (metaHeader && metaHeader.fetched_at) {\n    var insightsAge = (new Date() - new Date(metaHeader.fetched_at)) / (1000 * 60 * 60);\n    if (insightsAge >= 12) {\n      freshnessWarning = 'DATOS CON ' + Math.round(insightsAge) + 'h DE ANTIGUEDAD — verificar frescura';\n    }\n  }\n} catch(e) {}\n\n// ── Fecha ART ──────────────────────────────────────────────────────────\nconst now = new Date();\nconst artNow = new Date(now.getTime() - 3 * 60 * 60 * 1000);\nconst dd   = String(artNow.getUTCDate()).padStart(2, '0');\nconst mm   = String(artNow.getUTCMonth() + 1).padStart(2, '0');\nconst yyyy = artNow.getUTCFullYear();\nconst todayStr = dd + '/' + mm + '/' + yyyy;\n\n// ── Mapa campaign_id → tipo ────────────────────────────────────────────\nconst campaignTypeMap = {\n  '120238976548160139': 'AWR',\n  '120238976548380139': 'ENG',\n  '120238976549000139': 'TRF',\n  '120238976549780139': 'LEA',\n  '120239303658100139': 'FOLLOW',\n  '120239303658190139': 'FOLLOW',\n};\n\n// ── Helpers ────────────────────────────────────────────────────────────\nfunction getAction(actions, type) {\n  var found = (actions || []).find(function(a) { return a.action_type === type; });\n  return found ? parseInt(found.value) : 0;\n}\n\nfunction getFollowsIG(actions) {\n  return getAction(actions, 'instagram_follow')\n      || getAction(actions, 'omni_instagramapp_follow')\n      || getAction(actions, 'follow');\n}\n\nfunction getThruPlays(field) {\n  if (!field) return 0;\n  if (Array.isArray(field)) {\n    var found = field.find(function(a) { return a.action_type === 'video_thruplay_watched'; });\n    return found ? parseInt(found.value) : (field.length > 0 ? parseInt(field[0].value) : 0);\n  }\n  return parseInt(field) || 0;\n}\n\nfunction getDaysActive(createdTime) {\n  if (!createdTime) return 0;\n  return Math.max(0, Math.floor((now - new Date(createdTime)) / (1000 * 60 * 60 * 24)));\n}\n\nfunction inferCampaignType(campaignId) {\n  return campaignTypeMap[campaignId] || 'AWR';\n}\n\nfunction inferPlatform(adName) {\n  var n = (adName || '').toLowerCase();\n  if (n.includes('_ig_') || n.includes('_ig ') || n.endsWith('_ig')) return 'IG';\n  if (n.includes('_fb_') || n.includes('_fb ') || n.endsWith('_fb')) return 'FB';\n  return '—';\n}\n\nfunction inferSegment(adName) {\n  var n = (adName || '').toLowerCase();\n  if (n.includes('retarget')) return 'Retarget';\n  if (n.includes('cold'))     return 'Cold';\n  return '—';\n}\n\nfunction rankingInfo(val) {\n  if (!val || val === 'UNKNOWN' || val === '') return { label: '—', color: '#9ca3af' };\n  if (val === 'ABOVE_AVERAGE')    return { label: '▲ TOP', color: '#16a34a' };\n  if (val === 'AVERAGE')          return { label: '≈ AVG', color: '#2563eb' };\n  if (val === 'BELOW_AVERAGE_10') return { label: '▼ -10%', color: '#ca8a04' };\n  if (val === 'BELOW_AVERAGE_20') return { label: '▼ -20%', color: '#ea580c' };\n  if (val === 'BELOW_AVERAGE_35') return { label: '▼▼ BOT', color: '#dc2626' };\n  return { label: val, color: '#6b7280' };\n}\n\n// ── Sin datos ──────────────────────────────────────────────────────────\nif (adsData.length === 0) {\n  return [{ json: {\n    subject: '[ENBA Ads] ' + todayStr + ' — Sin datos de insights',\n    html: '<html><body style=\"font-family:Arial,sans-serif;\"><h2>ENBA Meta Ads — Sin datos</h2>'\n      + '<p>Fecha: ' + todayStr + '</p>'\n      + '<p>Meta no devolvio datos. Los ads pueden llevar menos de unas horas activos.</p>'\n      + '</body></html>',\n    brunoPrompt: '', totalSpend: 0, adsCount: 0\n  } }];\n}\n\n// ── Diagnóstico action_types ───────────────────────────────────────────\nvar diagActionTypes = {};\nadsData.forEach(function(ad) {\n  (ad.actions || []).forEach(function(a) {\n    if (!diagActionTypes[a.action_type]) diagActionTypes[a.action_type] = 0;\n    diagActionTypes[a.action_type] += parseInt(a.value) || 0;\n  });\n});\n\n// ── Procesar cada ad ───────────────────────────────────────────────────\nvar results = adsData.map(function(ad) {\n  var impressions  = parseInt(ad.impressions || 0);\n  var reach        = parseInt(ad.reach || 0);\n  var spend        = parseFloat(ad.spend || 0);\n  var ctr          = parseFloat(ad.ctr || 0);\n  var frequency    = parseFloat(ad.frequency || 0);\n  var daysActive   = getDaysActive(ad.created_time);\n  var campaignType = inferCampaignType(ad.campaign_id);\n  var platform     = inferPlatform(ad.ad_name);\n  var segment      = inferSegment(ad.ad_name);\n\n  var engagements = getAction(ad.actions, 'post_engagement');\n  var er = reach > 0 ? (engagements / reach * 100) : 0;\n\n  var igFollows       = getFollowsIG(ad.actions);\n  var igProfileVisits = parseInt(ad.instagram_profile_visits || 0);\n  var fbLikes         = getAction(ad.actions, 'like');\n\n  var followSignal = 0;\n  var followLabel  = '';\n  if (campaignType === 'FOLLOW') {\n    if (igFollows > 0) {\n      followSignal = igFollows + fbLikes;\n      followLabel = 'F:' + igFollows + (fbLikes > 0 ? '/L:' + fbLikes : '');\n    } else if (igProfileVisits > 0 || fbLikes > 0) {\n      followSignal = igProfileVisits + fbLikes;\n      followLabel = 'V:' + igProfileVisits + (fbLikes > 0 ? '/L:' + fbLikes : '');\n    } else {\n      followLabel = '0';\n    }\n  } else {\n    followLabel = '—';\n  }\n\n  var thruPlays    = getThruPlays(ad.video_thruplay_watched_actions);\n  var thruPlayRate = impressions > 0 ? (thruPlays / impressions * 100) : 0;\n\n  var videoViews3s = getAction(ad.actions, 'video_view');\n  var hookRate     = impressions > 0 ? (videoViews3s / impressions * 100) : 0;\n  var holdRate     = videoViews3s > 0 ? (thruPlays / videoViews3s * 100) : 0;\n  var isVideoAd    = videoViews3s > 0 || thruPlays > 0;\n\n  var cpm      = impressions > 0 ? (spend / impressions * 1000) : 0;\n  var saves    = getAction(ad.actions, 'onsite_conversion.post_net_save');\n\n  var cps    = (campaignType === 'FOLLOW' && followSignal > 0) ? Math.round(spend / followSignal) : null;\n  var cpsStr = cps !== null ? '$' + cps : 'N/A';\n\n  // KPI primario por plataforma para el nuevo diseño de email\n  var cpv = (campaignType === 'FOLLOW' && platform === 'IG' && igProfileVisits > 0)\n    ? Math.round(spend / igProfileVisits) : null;\n  var cpf = (campaignType === 'FOLLOW' && platform === 'FB' && fbLikes > 0)\n    ? Math.round(spend / fbLikes) : null;\n  var kpiStr = cpv !== null ? '$' + cpv + ' / visita'\n             : cpf !== null ? '$' + cpf + ' / like'\n             : (isVideoAd && videoViews3s > 0) ? 'Hold ' + holdRate.toFixed(0) + '%'\n             : cpsStr;\n\n  // Quality rankings desde nodo dedicado (no desde /insights — ese endpoint no los devuelve)\n  var qualRank = (qualityMap[ad.ad_id] && qualityMap[ad.ad_id].quality_ranking)\n    || ad.quality_ranking || 'UNKNOWN';\n  var engRank = (qualityMap[ad.ad_id] && qualityMap[ad.ad_id].engagement_rate_ranking)\n    || ad.engagement_rate_ranking || 'UNKNOWN';\n  var conRank = (qualityMap[ad.ad_id] && qualityMap[ad.ad_id].conversion_rate_ranking)\n    || ad.conversion_rate_ranking || 'UNKNOWN';\n\n  // effective_status real desde API (no el campo status que puede quedar desactualizado)\n  var effectiveStatus = adStatusMap[ad.ad_id] || 'UNKNOWN';\n  var isCurrentlyActive = effectiveStatus === 'ACTIVE';\n\n  var verdict = 'VIABLE';\n  var reasons = [];\n  if (!isCurrentlyActive) {\n    verdict = 'PAUSED';\n    reasons.push('Pausado — solo historial, sin gasto actual');\n  } else if (daysActive < 3) {\n    verdict = 'LEARNING';\n    reasons.push(daysActive + 'd activo, esperar 72h');\n  } else if (frequency > 3.5) {\n    verdict = 'FATIGUE';\n    reasons.push('Freq ' + frequency.toFixed(1) + ' > 3.5');\n  } else if (daysActive > 14) {\n    verdict = 'MAX_REACHED';\n    reasons.push(daysActive + 'd > 14 max');\n  } else if ((cps !== null && cps > 100) || er < 1 || ctr < 0.4) {\n    verdict = 'CORTAR';\n    if (cps !== null && cps > 100) reasons.push('CPS $' + cps + ' > $100');\n    if (er < 1)    reasons.push('ER ' + er.toFixed(1) + '% < 1%');\n    if (ctr < 0.4) reasons.push('CTR ' + ctr.toFixed(2) + '% < 0.4%');\n  } else if (cps !== null && cps < 30 && er > 3) {\n    verdict = 'WINNER';\n    reasons.push('CPS $' + cps + ' < $30, ER ' + er.toFixed(1) + '% > 3%');\n  } else if (daysActive >= 10) {\n    verdict = 'FATIGUE_WARNING';\n    reasons.push(daysActive + 'd, preparar reemplazo');\n  }\n\n  return {\n    adId: ad.ad_id, adName: ad.ad_name,\n    campaignType: campaignType, platform: platform, segment: segment,\n    daysActive: daysActive, impressions: impressions, reach: reach,\n    spend: Math.round(spend), cpm: cpm.toFixed(0),\n    ctr: ctr.toFixed(2), frequency: frequency.toFixed(1),\n    engagements: engagements, er: er.toFixed(1),\n    igFollows: igFollows, igProfileVisits: igProfileVisits, fbLikes: fbLikes,\n    followLabel: followLabel, followSignal: followSignal,\n    thruPlays: thruPlays, thruPlayRate: thruPlayRate.toFixed(1),\n    videoViews3s: videoViews3s,\n    hookRate: hookRate.toFixed(1), holdRate: holdRate.toFixed(1), isVideoAd: isVideoAd,\n    saves: saves,\n    cps: cpsStr, cpsRaw: cps,\n    cpv: cpv, cpf: cpf, kpiStr: kpiStr,\n    qualRank: qualRank, engRank: engRank, conRank: conRank,\n    effectiveStatus: effectiveStatus, isCurrentlyActive: isCurrentlyActive,\n    verdict: verdict, reason: reasons.join(', ') || 'Dentro de parametros'\n  };\n});\n\n// ── Segmentar ──────────────────────────────────────────────────────────\nvar followAds = results.filter(function(r) { return r.campaignType === 'FOLLOW'; });\nvar engAds    = results.filter(function(r) { return r.campaignType === 'ENG'; });\nvar awrAds    = results.filter(function(r) { return r.campaignType === 'AWR'; });\n\n// ── Totales ────────────────────────────────────────────────────────────\nvar totalSpend       = results.reduce(function(s, r) { return s + r.spend; }, 0);\nvar totalReach       = results.reduce(function(s, r) { return s + r.reach; }, 0);\nvar totalImpressions = results.reduce(function(s, r) { return s + r.impressions; }, 0);\nvar totalIgFollows   = followAds.reduce(function(s, r) { return s + r.igFollows; }, 0);\nvar totalIgVisits    = followAds.reduce(function(s, r) { return s + r.igProfileVisits; }, 0);\nvar totalFbLikes     = followAds.reduce(function(s, r) { return s + r.fbLikes; }, 0);\nvar totalSaves       = results.reduce(function(s, r) { return s + r.saves; }, 0);\nvar totalThruPlays   = results.reduce(function(s, r) { return s + r.thruPlays; }, 0);\nvar blendedCPM       = totalImpressions > 0 ? (totalSpend / totalImpressions * 1000).toFixed(0) : null;\nvar totalFollowSig   = followAds.reduce(function(s, r) {\n  var sig = r.igFollows > 0 ? r.igFollows + r.fbLikes : r.igProfileVisits + r.fbLikes;\n  return s + sig;\n}, 0);\nvar blendedCPS = totalFollowSig > 0 ? Math.round(totalSpend / totalFollowSig) : null;\n\n// ── Día de referencia ──────────────────────────────────────────────────\nvar refAd = results.find(function(r) { return r.campaignType === 'ENG' && r.daysActive > 0; });\nvar dayRef = refAd ? refAd.daysActive : results.reduce(function(m, r) { return Math.max(m, r.daysActive); }, 0);\n\n// ── Burn rate + presupuesto ────────────────────────────────────────────\n// Priorizar burn rate real (suma de budgets de ad sets activos) sobre promedio histórico\nvar burnRateDaily    = realBurnRate > 0 ? realBurnRate : (dayRef > 0 ? Math.round(totalSpend / dayRef) : 0);\nvar budgetRemaining  = CAMPAIGN_BUDGET_TOTAL - totalSpend;\nvar daysToEnd        = Math.max(0, Math.round((CAMPAIGN_END_DATE - now) / (1000 * 60 * 60 * 24)));\nvar daysAtBurn       = burnRateDaily > 0 ? Math.floor(budgetRemaining / burnRateDaily) : 999;\nvar budgetRisk       = daysAtBurn < daysToEnd; // true = presupuesto se agota antes que el plan\nvar exhaustDate      = new Date(now.getTime() + daysAtBurn * 24 * 60 * 60 * 1000);\nvar exhaustStr       = String(exhaustDate.getUTCDate()).padStart(2,'0') + '/'\n                     + String(exhaustDate.getUTCMonth()+1).padStart(2,'0');\n\n// ── Follower growth ────────────────────────────────────────────────────\nvar fbNetNew  = fbFollowersNow !== null ? fbFollowersNow - CAMPAIGN_BASELINE_FB : null;\nvar igNetNew  = igFollowersNow !== null ? igFollowersNow - CAMPAIGN_BASELINE_IG : null;\n// Follow rate IG: net new IG / total IG profile visits\nvar igFollowRate = (igNetNew !== null && igNetNew > 0 && totalIgVisits > 0)\n  ? (igNetNew / totalIgVisits * 100).toFixed(1) : null;\n\n// ── Segmento Cold/Retarget × FB/IG para Follow Plan ───────────────────\nvar segmentStats = {};\nfollowAds.forEach(function(r) {\n  var key = r.platform + '_' + r.segment;\n  if (!segmentStats[key]) {\n    segmentStats[key] = { platform: r.platform, segment: r.segment, spend: 0, follows: 0, visits: 0 };\n  }\n  segmentStats[key].spend   += r.spend;\n  segmentStats[key].follows += r.igFollows + r.fbLikes;\n  segmentStats[key].visits  += r.igProfileVisits;\n});\n\n// ── Split activos vs pausados ──────────────────────────────────────────\nvar activeResults = results.filter(function(r) { return r.isCurrentlyActive; });\nvar pausedResults = results.filter(function(r) { return !r.isCurrentlyActive; });\n\n// ── Post-process: HOLD PUENTE para FB FOLLOW ads en primeros 7d que serían CORTAR ──\n// Un ad FB joven con métricas débiles mantiene cobertura mientras no haya reemplazo.\n// Después del día 7 → CORTAR normal.\nactiveResults.forEach(function(r) {\n  if (r.campaignType === 'FOLLOW' && r.platform === 'FB' && r.daysActive < 7 && r.verdict === 'CORTAR') {\n    r.verdict = 'HOLD PUENTE';\n    r.reason = r.reason + ' — sin reemplazo FB, mantener por cobertura';\n  }\n});\n\n// ── Conteo veredictos (solo activos para el resumen ejecutivo) ─────────\nvar counts = {};\nactiveResults.forEach(function(r) { counts[r.verdict] = (counts[r.verdict] || 0) + 1; });\nvar summaryParts = [];\nif (counts.WINNER)              summaryParts.push(counts.WINNER + ' WINNER');\nif (counts.VIABLE)              summaryParts.push(counts.VIABLE + ' VIABLE');\nif (counts.LEARNING)            summaryParts.push(counts.LEARNING + ' LEARNING');\nif (counts['HOLD PUENTE'])      summaryParts.push(counts['HOLD PUENTE'] + ' HOLD PUENTE');\nif (counts.CORTAR)              summaryParts.push(counts.CORTAR + ' CORTAR');\nif (counts.FATIGUE)             summaryParts.push(counts.FATIGUE + ' FATIGUE');\nif (counts.FATIGUE_WARNING)     summaryParts.push(counts.FATIGUE_WARNING + ' WARNING');\nif (counts.MAX_REACHED)         summaryParts.push(counts.MAX_REACHED + ' MAX');\nvar summaryStr = summaryParts.join(' | ') || 'Sin datos';\n\n// ── Estilos HTML ───────────────────────────────────────────────────────\nfunction verdictStyle(v) {\n  var map = {\n    WINNER:          { color: '#16a34a', bg: '#f0fdf4' },\n    VIABLE:          { color: '#2563eb', bg: '#eff6ff' },\n    LEARNING:        { color: '#7c3aed', bg: '#f5f3ff' },\n    'HOLD PUENTE':   { color: '#92400e', bg: '#fef3c7' },\n    CORTAR:          { color: '#dc2626', bg: '#fef2f2' },\n    FATIGUE:         { color: '#ea580c', bg: '#fff7ed' },\n    FATIGUE_WARNING: { color: '#ca8a04', bg: '#fefce8' },\n    MAX_REACHED:     { color: '#dc2626', bg: '#fef2f2' },\n  };\n  return map[v] || { color: '#6b7280', bg: '#f9fafb' };\n}\nfunction typeBadge(type) {\n  var colors = { FOLLOW: '#7c3aed', ENG: '#2563eb', AWR: '#0891b2', LEA: '#059669', TRF: '#d97706' };\n  return '<span style=\"background:' + (colors[type] || '#9ca3af') + ';color:white;padding:1px 5px;border-radius:3px;font-size:10px;\">' + type + '</span>';\n}\nfunction rankBadge(val) {\n  var info = rankingInfo(val);\n  return '<span style=\"color:' + info.color + ';font-weight:bold;font-size:10px;\">' + info.label + '</span>';\n}\n\n// ── Mapping veredicto interno → display / acción ──────────────────────\n// Los valores internos (FATIGUE_WARNING, MAX_REACHED, etc.) se mantienen\n// para Bruno prompt y lógica interna. Solo el email muestra los nuevos nombres.\nfunction verdictDisplay(v) {\n  var map = { FATIGUE_WARNING: 'WARNING', MAX_REACHED: 'REEMPLAZAR', FATIGUE: 'REEMPLAZAR' };\n  return map[v] || v;\n}\nfunction verdictAction(v) {\n  var d = verdictDisplay(v);\n  var map = {\n    WINNER: 'ESCALAR', VIABLE: 'MANTENER', LEARNING: 'ESPERAR 72H',\n    WARNING: 'ROTAR CREATIVO', 'HOLD PUENTE': 'HOLD PUENTE',\n    REEMPLAZAR: 'REEMPLAZAR', CORTAR: 'PAUSAR', PAUSED: '—'\n  };\n  return map[d] || '—';\n}\nfunction verdictCellStyle(v) {\n  var d = verdictDisplay(v);\n  var map = {\n    WINNER:          { bg: '#dcfce7', color: '#15803d' },\n    VIABLE:          { bg: '#dbeafe', color: '#1d4ed8' },\n    LEARNING:        { bg: '#ede9fe', color: '#6d28d9' },\n    WARNING:         { bg: '#fef9c3', color: '#92400e' },\n    'HOLD PUENTE':   { bg: '#fef3c7', color: '#92400e' },\n    REEMPLAZAR:      { bg: '#fce7f3', color: '#9d174d' },\n    CORTAR:          { bg: '#fee2e2', color: '#b91c1c' },\n    PAUSED:          { bg: '#f1f5f9', color: '#94a3b8' },\n  };\n  return map[d] || { bg: '#f9fafb', color: '#6b7280' };\n}\nfunction kpiCellStyle(r) {\n  // Verde si KPI bajo umbral, rojo si alto\n  if (r.cpv !== null) return r.cpv < 30 ? 'background:#dcfce7;color:#15803d;font-weight:bold;' : r.cpv > 80 ? 'background:#fef2f2;color:#b91c1c;font-weight:bold;' : 'color:#92400e;font-weight:bold;';\n  if (r.cpf !== null) return r.cpf < 80 ? 'background:#dcfce7;color:#15803d;font-weight:bold;' : r.cpf > 100 ? 'background:#fef2f2;color:#b91c1c;font-weight:bold;' : 'color:#92400e;font-weight:bold;';\n  return '';\n}\n\n// ── Función fila tabla ─────────────────────────────────────────────────\n// Tabla activos — nueva (11 cols, agrupada por plataforma)\nfunction makeActiveRow(r) {\n  var vd = verdictDisplay(r.verdict);\n  var va = verdictAction(r.verdict);\n  var vs = verdictCellStyle(r.verdict);\n  var ks = kpiCellStyle(r);\n  var dayStyle = r.daysActive >= 10 ? 'color:#b91c1c;font-weight:bold;' : '';\n  var ctrStyle = parseFloat(r.ctr) < 0.4 ? 'color:#b91c1c;font-weight:bold;background:#fef2f2;' : parseFloat(r.ctr) > 0.8 ? 'color:#15803d;font-weight:bold;background:#f0fdf4;' : '';\n  var erStyle  = parseFloat(r.er)  < 1   ? 'color:#b91c1c;font-weight:bold;background:#fef2f2;' : parseFloat(r.er)  > 3   ? 'color:#15803d;font-weight:bold;background:#f0fdf4;' : '';\n  // Veredicto·Acción: mostrar ambos solo si difieren\n  var verdCell = vd === va\n    ? '<span style=\"background:' + vs.bg + ';color:' + vs.color + ';font-weight:bold;padding:2px 6px;border-radius:3px;font-size:10px;white-space:nowrap;\">' + vd + '</span>'\n    : '<span style=\"background:' + vs.bg + ';color:' + vs.color + ';font-weight:bold;padding:2px 6px;border-radius:3px;font-size:10px;white-space:nowrap;\">' + vd + '</span>'\n      + '<br><span style=\"background:' + vs.bg + ';color:' + vs.color + ';padding:2px 5px;border-radius:3px;font-size:9px;white-space:nowrap;display:inline-block;margin-top:2px;\">' + va + '</span>';\n  return '<tr style=\"border-bottom:1px solid #f1f5f9;\">'\n    + '<td style=\"padding:5px 7px;font-size:11px;max-width:175px;white-space:normal;\">' + r.adName + '</td>'\n    + '<td style=\"padding:4px 6px;text-align:center;\">' + typeBadge(r.campaignType) + '</td>'\n    + '<td style=\"padding:4px 6px;text-align:center;font-size:11px;' + dayStyle + '\">' + r.daysActive + 'd</td>'\n    + '<td style=\"padding:4px 6px;text-align:right;font-size:11px;\">$' + r.spend.toLocaleString() + '</td>'\n    + '<td style=\"padding:4px 6px;text-align:right;font-size:11px;\">' + r.reach.toLocaleString() + '</td>'\n    + '<td style=\"padding:4px 6px;text-align:center;font-size:11px;' + ctrStyle + '\">' + r.ctr + '%</td>'\n    + '<td style=\"padding:4px 6px;text-align:center;font-size:11px;' + erStyle  + '\">' + r.er  + '%</td>'\n    + '<td style=\"padding:4px 6px;text-align:center;font-size:11px;\">' + r.frequency + '</td>'\n    + '<td style=\"padding:4px 6px;text-align:center;font-size:11px;' + ks + '\">' + r.kpiStr + '</td>'\n    + '<td style=\"padding:4px 6px;text-align:center;min-width:90px;\">' + verdCell + '</td>'\n    + '<td style=\"padding:4px 6px;font-size:10px;color:#64748b;max-width:140px;white-space:normal;\">' + r.reason + '</td>'\n    + '</tr>';\n}\n\n// Tabla pausados — simplificada\nfunction makePausedRow(r) {\n  return '<tr style=\"border-bottom:1px solid #f1f5f9;\">'\n    + '<td style=\"padding:3px 6px;font-size:10px;\">' + r.adName + '</td>'\n    + '<td style=\"padding:3px 6px;text-align:center;\">' + typeBadge(r.campaignType) + '</td>'\n    + '<td style=\"padding:3px 6px;text-align:center;font-size:10px;\">' + r.daysActive + 'd</td>'\n    + '<td style=\"padding:3px 6px;text-align:right;font-size:10px;\">$' + r.spend.toLocaleString() + '</td>'\n    + '<td style=\"padding:3px 6px;text-align:center;font-size:10px;\">' + r.ctr + '%</td>'\n    + '<td style=\"padding:3px 6px;text-align:center;font-size:10px;\">' + r.er + '%</td>'\n    + '<td style=\"padding:3px 6px;font-size:10px;\">' + r.kpiStr + '</td>'\n    + '<td style=\"padding:3px 6px;font-size:10px;color:#64748b;\">' + r.reason + '</td>'\n    + '</tr>';\n}\n\n// Agrupado por plataforma para tabla activos\nfunction makePlatformGroup(ads, icon, label, colCount) {\n  if (ads.length === 0) return '';\n  var sepTd = '<td colspan=\"' + colCount + '\" style=\"background:#f8fafc;font-size:9px;font-weight:bold;color:#94a3b8;padding:3px 7px;letter-spacing:0.07em;text-transform:uppercase;border-top:2px solid #e2e8f0;\">'\n    + icon + ' ' + label + '</td>';\n  return '<tr>' + sepTd + '</tr>' + ads.map(makeActiveRow).join('\\n');\n}\n\nvar verdictSortOrder = { 'WINNER': 0, 'VIABLE': 1, 'LEARNING': 2, 'HOLD PUENTE': 3, 'WARNING': 4, 'REEMPLAZAR': 5, 'CORTAR': 6 };\nfunction sortByVerdict(a, b) {\n  var oa = verdictSortOrder[verdictDisplay(a.verdict)];\n  var ob = verdictSortOrder[verdictDisplay(b.verdict)];\n  return (oa !== undefined ? oa : 99) - (ob !== undefined ? ob : 99);\n}\n\nvar igActive  = activeResults.filter(function(r) { return r.platform === 'IG'; });\nvar fbActive  = activeResults.filter(function(r) { return r.platform === 'FB'; });\nvar engActive = activeResults.filter(function(r) { return r.campaignType === 'ENG' && r.platform !== 'IG' && r.platform !== 'FB'; });\n// ENG ads que son IG o FB ya caen en igActive/fbActive — separar por campaignType\nigActive  = activeResults.filter(function(r) { return r.platform === 'IG' && r.campaignType !== 'ENG'; });\nfbActive  = activeResults.filter(function(r) { return r.platform === 'FB' && r.campaignType !== 'ENG'; });\nengActive = activeResults.filter(function(r) { return r.campaignType === 'ENG'; });\n\nigActive.sort(sortByVerdict);\nfbActive.sort(sortByVerdict);\nengActive.sort(sortByVerdict);\n\nvar activeTableRows = makePlatformGroup(igActive,  '📱', 'Instagram', 11)\n  + makePlatformGroup(fbActive,  '👍', 'Facebook', 11)\n  + makePlatformGroup(engActive, '🎬', 'Engagement', 11);\n\n// Motivo pausa específico por ad (mejor que el genérico \"solo historial\")\nfunction inferPauseReason(r) {\n  if (r.adName.match(/piece0[0-9]|piece[0-9]/)) return 'AWR campana lanzamiento &mdash; historial';\n  if (r.adName.match(/reel4h[A-Za-z]/) && r.campaignType === 'AWR') return 'AWR historial &mdash; datos de D4 preservados';\n  if (r.adName.match(/regalos|corporativo_C|reelPV/)) return 'Campana lanzamiento &mdash; historial';\n  if (r.isVideoAd && r.holdRate > 20) return 'ENG &mdash; Hold ' + r.holdRate + '% &middot; D4 se nutre de este ad';\n  if (r.cpsRaw !== null && r.cpsRaw > 100) return 'CPF $' + r.cpsRaw + ' &gt; $100 (umbral)';\n  if (r.cpv !== null && r.cpv > 80) return 'CPV $' + r.cpv + ' &gt; $80 (umbral)';\n  if (r.daysActive > 14) return 'M&aacute;x ' + r.daysActive + 'd &mdash; reemplazado';\n  return 'Pausado &mdash; historial';\n}\n\n// Ordenar por días activos (más recientes primero) y separar recientes vs históricos\nvar sortedPaused = pausedResults.slice().sort(function(a, b) { return a.daysActive - b.daysActive; });\nvar PAUSED_SHOW_MAX = 8;\nvar recentPausedRows = sortedPaused.slice(0, PAUSED_SHOW_MAX);\nvar historicalPausedRows = sortedPaused.slice(PAUSED_SHOW_MAX);\n\nfunction makePausedRowRich(r) {\n  return '<tr style=\"border-bottom:1px solid #f1f5f9;\">'\n    + '<td style=\"padding:3px 6px;font-size:10px;\">' + r.adName + '</td>'\n    + '<td style=\"padding:3px 6px;text-align:center;\">' + typeBadge(r.campaignType) + '</td>'\n    + '<td style=\"padding:3px 6px;text-align:center;font-size:10px;\">' + r.daysActive + 'd</td>'\n    + '<td style=\"padding:3px 6px;text-align:right;font-size:10px;\">$' + r.spend.toLocaleString() + '</td>'\n    + '<td style=\"padding:3px 6px;text-align:center;font-size:10px;\">' + r.ctr + '%</td>'\n    + '<td style=\"padding:3px 6px;text-align:center;font-size:10px;\">' + r.er + '%</td>'\n    + '<td style=\"padding:3px 6px;font-size:10px;\">' + r.kpiStr + '</td>'\n    + '<td style=\"padding:3px 6px;font-size:10px;color:#64748b;\">' + inferPauseReason(r) + '</td>'\n    + '</tr>';\n}\n\nvar pausedTableRows = recentPausedRows.map(makePausedRowRich).join('\\n')\n  + (historicalPausedRows.length > 0\n    ? '<tr><td colspan=\"8\" style=\"padding:4px 8px;font-size:10px;color:#94a3b8;font-style:italic;\">+ '\n      + historicalPausedRows.length + ' ads hist&oacute;ricos adicionales (AWR pausados, ENG v1, Follow Plan v1)</td></tr>'\n    : '');\n\n// ── Panel Quality Rankings ─────────────────────────────────────────────\nvar qualityRows = results.map(function(r) {\n  return '<tr style=\"border-bottom:1px solid #e5e7eb;\">'\n    + '<td style=\"padding:4px 8px;font-size:11px;\">' + r.adName + '</td>'\n    + '<td style=\"padding:4px;text-align:center;\">' + typeBadge(r.campaignType) + '</td>'\n    + '<td style=\"padding:4px;text-align:center;\">' + rankBadge(r.qualRank) + '</td>'\n    + '<td style=\"padding:4px;text-align:center;\">' + rankBadge(r.engRank) + '</td>'\n    + '<td style=\"padding:4px;text-align:center;\">' + rankBadge(r.conRank) + '</td>'\n    + '</tr>';\n}).join('\\n');\n\n// ── Prompt Bruno ───────────────────────────────────────────────────────\nfunction makeBrunoSection(ads, title) {\n  if (ads.length === 0) return '';\n  var hdr = '| Ad | Plat | Seg | Dias | Spend | CPM | Reach | CTR | ER | Hook% | Hold% | ThruPlay | IG Visits | FB Likes | Saves | CPS | Freq | QualRank | EngRank | Veredicto | Razon |';\n  var sep = '|---|---|---|---|---|---|---|---|---|---|---|---|---|---|---|---|---|---|---|---|---|';\n  var rows = ads.map(function(r) {\n    var tp = r.thruPlays > 0 ? r.thruPlayRate + '% (' + r.thruPlays + ')' : 'N/A';\n    return '| ' + r.adName + ' | ' + r.platform + ' | ' + r.segment\n      + ' | ' + r.daysActive + 'd'\n      + ' | $' + r.spend + ' | $' + r.cpm\n      + ' | ' + r.reach\n      + ' | ' + r.ctr + '% | ' + r.er + '%'\n      + ' | ' + (r.isVideoAd ? r.hookRate + '%' : '—')\n      + ' | ' + (r.isVideoAd && r.videoViews3s > 0 ? r.holdRate + '%' : '—')\n      + ' | ' + tp\n      + ' | ' + r.igProfileVisits\n      + ' | ' + r.fbLikes\n      + ' | ' + r.saves\n      + ' | ' + r.cps + ' | ' + r.frequency\n      + ' | ' + r.qualRank + ' | ' + r.engRank\n      + ' | ' + r.verdict + ' | ' + r.reason + ' |';\n  }).join('\\n');\n  return '\\n### ' + title + '\\n\\n' + hdr + '\\n' + sep + '\\n' + rows + '\\n';\n}\n\n// Tabla segmentos Cold/Retarget × FB/IG\nvar segTableLines = ['| Segmento | Spend | Follows/Likes | Visits IG | CPF/CPV |',\n                     '|---|---|---|---|---|'];\nObject.keys(segmentStats).sort().forEach(function(key) {\n  var s = segmentStats[key];\n  var cpf = s.follows > 0 ? '$' + Math.round(s.spend / s.follows) : '—';\n  var cpv = s.visits > 0 && s.platform === 'IG' ? '$' + Math.round(s.spend / s.visits) : '—';\n  segTableLines.push('| ' + s.platform + ' ' + s.segment\n    + ' | $' + s.spend + ' | ' + s.follows + ' | ' + s.visits\n    + ' | ' + (s.platform === 'FB' ? cpf : cpv) + ' |');\n});\n\n// ENG D4 context\nvar engThruTotal = engAds.reduce(function(s, r) { return s + r.thruPlays; }, 0);\nvar d4Context = engThruTotal > 0\n  ? '\\n### D4 Custom Audience (Video Viewers)\\n'\n    + engThruTotal.toLocaleString() + ' ThruPlays acumulados en ENG. '\n    + 'D4 debería tener volumen para warm retargeting. '\n    + 'Verificar en Ads Manager → Audiences → D4 Video Viewers.\\n'\n    + 'Los ENG reels tienen valor estratégico aunque no generen follows directos: '\n    + 'alimentan la custom audience que baja el CPF en Follow FB Retarget.\\n'\n  : '';\n\n// Follower summary para prompt\nvar followerSummary = '';\nif (fbFollowersNow !== null || igFollowersNow !== null) {\n  followerSummary = '\\n## Estado de seguidores (API en tiempo real)\\n';\n  if (fbFollowersNow !== null) {\n    followerSummary += '| Plataforma | Ahora | Baseline 22/04 | Nuevos |\\n';\n    followerSummary += '|---|---|---|---|\\n';\n    followerSummary += '| Facebook | ' + fbFollowersNow + ' | ' + CAMPAIGN_BASELINE_FB + ' | +' + (fbFollowersNow - CAMPAIGN_BASELINE_FB) + ' |\\n';\n    if (igFollowersNow !== null) {\n      followerSummary += '| Instagram | ' + igFollowersNow + ' | ' + CAMPAIGN_BASELINE_IG + ' | +' + (igFollowersNow - CAMPAIGN_BASELINE_IG) + ' |\\n';\n    }\n  }\n  if (igFollowRate !== null) {\n    followerSummary += '\\n⚠ **Follow rate IG**: ' + igNetNew + ' nuevos IG / ' + totalIgVisits + ' profile visits = **' + igFollowRate + '%**'\n      + ' (benchmark 15–35%). '\n      + (parseFloat(igFollowRate) < 10 ? '🔴 Perfil no convierte — revisar bio, grid y highlights antes de escalar Follow IG.' : '✅ Conversión aceptable.')\n      + '\\n';\n  }\n}\n\n// Burn rate para prompt\nvar burnSummary = '\\n## Presupuesto y burn rate\\n'\n  + '| | |\\n|---|---|\\n'\n  + '| Presupuesto total | $' + CAMPAIGN_BUDGET_TOTAL.toLocaleString() + ' |\\n'\n  + '| Gastado (acumulado) | $' + totalSpend.toLocaleString() + ' |\\n'\n  + '| Restante | $' + Math.round(budgetRemaining).toLocaleString() + ' |\\n'\n  + '| Burn rate (promedio/día) | $' + burnRateDaily.toLocaleString() + ' |\\n'\n  + '| Días restantes del plan | ' + daysToEnd + ' (hasta 16/05) |\\n'\n  + '| Días de presupuesto al ritmo actual | ' + daysAtBurn + ' |\\n'\n  + (budgetRisk\n    ? '\\n🔴 **RIESGO PRESUPUESTO**: al ritmo actual ($' + burnRateDaily.toLocaleString() + '/día), el presupuesto se agota el '\n      + exhaustStr + ' — **' + (daysToEnd - daysAtBurn) + ' días antes del cierre del plan**. '\n      + 'Para llegar al 16/05 el budget diario máximo es $' + Math.round(budgetRemaining / daysToEnd).toLocaleString() + '/día.\\n'\n    : '\\n✅ Presupuesto alcanza hasta el final del plan y más.\\n');\n\n// ── Orquestador de campaña ─────────────────────────────────────────────\nvar fbNetNewStr  = fbNetNew !== null ? '+' + fbNetNew : '?';\nvar igNetNewStr  = igNetNew !== null ? '+' + igNetNew : '?';\nvar totalNetNew  = (fbNetNew || 0) + (igNetNew || 0);\nvar GOAL_ADJUSTED = 6500; // meta ajustada por Jose (original 10.000)\nvar gapToGoal    = GOAL_ADJUSTED - (fbFollowersNow || CAMPAIGN_BASELINE_FB) - (igFollowersNow || CAMPAIGN_BASELINE_IG);\nvar orchestratorSection =\n  '## CONTEXTO DE CAMPANA — Orquestador\\n\\n'\n  + 'Mision: 6.500 seguidores IG+FB en 27 dias de pauta (19/04 – 16/05/2026). Meta ajustada por Jose.\\n'\n  + 'Datos frescos al: ' + todayStr + ' ' + String(artNow.getUTCHours()).padStart(2,'0') + ':' + String(artNow.getUTCMinutes()).padStart(2,'0') + ' ART'\n  + (burnRateSource === 'ad_set_budgets' ? ' | Burn rate: sum ad_set budgets activos' : ' | Burn rate: promedio historico')\n  + (freshnessWarning ? ' | AVISO: ' + freshnessWarning : '')\n  + '\\n\\n'\n  + '### Posicion actual: Dia ' + dayRef + ' de 27\\n'\n  + '- Seguidores FB: ' + (fbFollowersNow || '?') + ' (baseline 23 → ' + fbNetNewStr + ' nuevos)\\n'\n  + '- Seguidores IG: ' + (igFollowersNow || '?') + ' (baseline 11 → ' + igNetNewStr + ' nuevos)\\n'\n  + '- Total nuevos: ' + totalNetNew + ' / objetivo 6.500 | Gap: ' + gapToGoal + ' seguidores\\n\\n'\n  + '### Budget\\n'\n  + '- Gastado: $' + totalSpend.toLocaleString() + ' / $500.000\\n'\n  + '- Restante: $' + Math.round(budgetRemaining).toLocaleString() + '\\n'\n  + '- Burn rate REAL (sum ad sets activos): $' + burnRateDaily.toLocaleString() + '/dia\\n'\n  + '- Dias restantes: ' + daysToEnd + '\\n'\n  + (budgetRisk ? '- RIESGO: presupuesto se agota el ' + exhaustStr + ' — ' + (daysToEnd - daysAtBurn) + ' dias antes del 16/05\\n' : '- OK: presupuesto alcanza hasta el 16/05\\n')\n  + '\\n### Ads ACTIVOS ahora (' + activeResults.length + ' ads gastan dinero)\\n'\n  + activeResults.map(function(r) { return '- ' + r.adName + ' [' + r.verdict + ']'; }).join('\\n') + '\\n'\n  + '\\n### Ads PAUSADOS (' + pausedResults.length + ' ads — solo historial)\\n'\n  + pausedResults.map(function(r) { return '- ' + r.adName; }).join('\\n') + '\\n'\n  + '\\n### Lo que sabemos que FUNCIONA\\n'\n  + '- WINNER: ENBA_ad_corporativo_IG_Cold — CPV $26, ER 4.9%, imagen estatica (NO video)\\n'\n  + '- Follow FB: destinos_FB_Cold — CPF $89, ABOVE_AVERAGE, imagen\\n'\n  + '- ENG: reel4horas — Hook 57%, ER 64.9%, alimenta D4 (3.600-4.200 personas)\\n\\n'\n  + '### Hipotesis FALSADAS\\n'\n  + '- FALSADA: Video-first — el WINNER es imagen estatica. Micro-reels en FB tienen CPM 4x mas caro.\\n'\n  + '- FALSADA: Retarget siempre mas barato — en FB retarget es MAS CARO que cold (anomalia).\\n\\n'\n  + '### Decisiones pendientes (bloquean escalado)\\n'\n  + '1. Perfil IG no convierte (follow rate 3.2% vs benchmark 15-35%) — requiere Marina\\n'\n  + '2. Reemplazo creativo para reel4horas (FATIGUE_WARNING dia ' + dayRef + ') — requiere Dani\\n'\n  + '3. 3 ads ACTIVOS + CORTAR: microreel_FB_Cold, microreel_FB_Retarget, nosotros_FB_Retarget — pendiente Jose\\n\\n'\n  + '---\\n\\n';\n\n// ── Time string (necesario para Bruno prompt y subject) ───────────────\nvar timeStr = String(artNow.getUTCHours()).padStart(2,'0') + ':' + String(artNow.getUTCMinutes()).padStart(2,'0');\n\n// ── Bruno prompt — nuevo formato ───────────────────────────────────────\nvar currentDailyPace = dayRef > 0 ? Math.round(totalNetNew / dayRef) : 0;\nvar paceNeeded = daysToEnd > 0 ? Math.round(gapToGoal / daysToEnd) : 0;\nvar projectedEnd = Math.round((fbFollowersNow || CAMPAIGN_BASELINE_FB) + (igFollowersNow || CAMPAIGN_BASELINE_IG) + currentDailyPace * daysToEnd);\nvar budgetStatusStr = budgetRisk\n  ? 'RIESGO — se agota el ' + exhaustStr\n  : 'OK — alcanza hasta 16/05';\n\nvar brunoAdsTable = activeResults.map(function(r) {\n  var plat = r.campaignType === 'ENG' ? 'ENG' : r.platform;\n  return plat + ' | ' + r.adName + ' | ' + r.kpiStr + ' | ' + verdictDisplay(r.verdict);\n}).join('\\n');\n\n// Gaps estructurales auto-generados\nvar gapLines = [];\nvar hasRetargetFB = activeResults.some(function(r) { return r.platform === 'FB' && r.segment === 'Retarget'; });\nif (!hasRetargetFB) gapLines.push('- Sin retarget FB activo — funnel 100% cold, CPF inflado.');\nvar warnAds = activeResults.filter(function(r) { return verdictDisplay(r.verdict) === 'WARNING'; });\nif (warnAds.length > 0) gapLines.push('- Ads en WARNING (rotar creativo urgente): ' + warnAds.map(function(r) { return r.adName + ' (' + r.daysActive + 'd)'; }).join(', '));\nvar learningAds = activeResults.filter(function(r) { return r.verdict === 'LEARNING'; });\nif (learningAds.length > 0) gapLines.push('- Ads en LEARNING — revisar manana: ' + learningAds.map(function(r) { return r.adName; }).join(', '));\nvar replaceAds = activeResults.filter(function(r) { return verdictDisplay(r.verdict) === 'REEMPLAZAR'; });\nif (replaceAds.length > 0) gapLines.push('- Ads para reemplazar (sin pausar hasta tener reemplazo): ' + replaceAds.map(function(r) { return r.adName; }).join(', '));\nif (engThruTotal > 100) gapLines.push('- D4 tiene ' + engThruTotal.toLocaleString() + ' ThruPlays — evaluar si tiene volumen para retarget.');\n\nvar brunoPrompt = 'Contexto REDES. Carga /bruno.\\n\\n'\n  + '## Corte temporal\\n'\n  + todayStr + ' · ' + timeStr + ' ART · Dia ' + dayRef + ' de ' + CAMPAIGN_TOTAL_DAYS + ' · Campana 19/04–16/05/2026.\\n'\n  + 'Datos con corte fijo. No tengo delta vs ayer. Trabajar con snapshot actual.\\n'\n  + (freshnessWarning ? '\\nAVISO: ' + freshnessWarning + '\\n' : '')\n  + '\\n## Objetivo vigente\\n'\n  + 'Meta ajustada por Jose: ' + GOAL_ADJUSTED.toLocaleString() + ' seguidores totales IG+FB.\\n'\n  + 'Proyeccion al 16/05 al ritmo actual: ~' + projectedEnd.toLocaleString() + ' seguidores.\\n'\n  + 'Pace necesario: ' + paceNeeded + ' seguidores/dia. Ritmo actual: ~' + currentDailyPace + '/dia'\n  + (paceNeeded > 0 && currentDailyPace < paceNeeded ? ' → DEFICIT.' : ' → OK.') + '\\n'\n  + 'Presupuesto restante: $' + Math.round(budgetRemaining).toLocaleString()\n  + ' · Burn: $' + burnRateDaily.toLocaleString() + '/dia · ' + budgetStatusStr + '\\n'\n  + '\\n## Seguidores ahora (API)\\n'\n  + 'FB: ' + (fbFollowersNow || '?') + ' (+' + (fbNetNew || 0) + ' desde 22/04)'\n  + ' · IG: ' + (igFollowersNow || '?') + ' (+' + (igNetNew || 0) + ' desde 22/04)'\n  + ' · Total nuevos: ' + totalNetNew + '\\n'\n  + (igFollowRate !== null ? 'Follow rate IG: ' + igFollowRate + '% → objetivo operativo >5%, >8% fuerte.\\n' : '')\n  + '\\n## Ads activos — snapshot ' + timeStr + ' ART\\n'\n  + 'Plataforma | Ad | KPI ENBA | Veredicto\\n'\n  + brunoAdsTable + '\\n'\n  + '\\n## Gaps estructurales\\n'\n  + (gapLines.length > 0 ? gapLines.join('\\n') : '- Sin gaps criticos detectados.') + '\\n'\n  + '\\n## Benchmarks 2026\\n'\n  + '- CPV IG ($/visita perfil): < $30 WINNER, $30-$80 viable, > $80 WARNING\\n'\n  + '- CPF FB ($/page like): < $80 bueno, $80-$100 limite, > $100 CORTAR\\n'\n  + '- Hold% (video): > 30% bueno, > 40% excelente\\n'\n  + '- CTR: > 0.8% bueno IG/FB, < 0.4% alerta\\n'\n  + '- ER: > 3% bueno, < 1% problema\\n'\n  + '- Follow rate IG (visita→follow): > 8% fuerte, > 5% aceptable, < 5% critico\\n'\n  + '\\n## Historial — PAUSADOS (sin gasto actual)\\n'\n  + makeBrunoSection(pausedResults, 'Ads pausados — referencia historica')\n  + '\\n## Tu tarea\\n'\n  + '1. Confirma o corregi cada veredicto automatico (solo ads ACTIVOS).\\n'\n  + '2. Propone acciones concretas con impacto presupuestario estimado.\\n'\n  + '3. Identifica el gap mas urgente a resolver hoy.\\n'\n  + '4. Entrega tu analisis en <= 300 palabras y espera aprobacion antes de ejecutar.';\n\n// subject (diagLines vive solo en el HTML — se define abajo)\nvar followDisplay = totalIgFollows > 0\n  ? 'IG F:' + totalIgFollows + ' FB L:' + totalFbLikes\n  : 'IG V:' + totalIgVisits + ' FB L:' + totalFbLikes;\nvar subject = '[ENBA Ads] ' + todayStr + ' ' + timeStr\n  + ' | ' + summaryStr\n  + ' | $' + totalSpend.toLocaleString()\n  + ' | ' + followDisplay\n  + ' | Saves:' + totalSaves\n  + (budgetRisk ? ' | BURN' : '')\n  + (freshnessWarning ? ' | DATOS VIEJOS' : '');\n\n// ── Pre-cálculo KPIs para hero block ──────────────────────────────────\nvar bestCpvIG = null, bestCpvVerdict = '';\nvar bestCpfFB = null, bestCpfAdShort = '';\nactiveResults.forEach(function(r) {\n  if (r.cpv !== null && (bestCpvIG === null || r.cpv < bestCpvIG)) {\n    bestCpvIG = r.cpv;\n    bestCpvVerdict = verdictDisplay(r.verdict);\n  }\n  if (r.cpf !== null && (bestCpfFB === null || r.cpf < bestCpfFB)) {\n    bestCpfFB = r.cpf;\n    var parts = r.adName.split('_');\n    bestCpfAdShort = parts.slice(-2).join('_');\n  }\n});\n\n// ── HTML email v7 — Gmail compatible (table-based layout) ──────────────\nvar diagLines = Object.keys(diagActionTypes).sort().map(function(k) {\n  return k + ': ' + diagActionTypes[k];\n});\n\n// Verdicts pills — aggregate counts (display:inline-block — Gmail-safe)\nvar verdictCounts = {};\nactiveResults.forEach(function(r) {\n  var vd = verdictDisplay(r.verdict);\n  verdictCounts[vd] = (verdictCounts[vd] || 0) + 1;\n});\nvar verdictOrder = [\n  { v: 'WINNER',       color: '#15803d', bg: '#dcfce7' },\n  { v: 'VIABLE',       color: '#1d4ed8', bg: '#dbeafe' },\n  { v: 'LEARNING',     color: '#6d28d9', bg: '#ede9fe' },\n  { v: 'WARNING',      color: '#92400e', bg: '#fef9c3' },\n  { v: 'HOLD PUENTE',  color: '#92400e', bg: '#fef3c7' },\n  { v: 'REEMPLAZAR',   color: '#9d174d', bg: '#fce7f3' },\n  { v: 'CORTAR',       color: '#b91c1c', bg: '#fee2e2' }\n];\nvar verdictPills = verdictOrder.map(function(item) {\n  var count = verdictCounts[item.v] || 0;\n  var style = 'display:inline-block;margin:2px 4px 2px 0;font-size:11px;font-weight:bold;'\n    + 'background:' + item.bg + ';color:' + item.color + ';padding:2px 10px;border-radius:10px;'\n    + (count === 0 ? 'opacity:0.45;' : '');\n  return '<span style=\"' + style + '\">' + count + ' ' + item.v + '</span>';\n}).join('');\n\n// Progress\nvar progressPct = Math.min(100, Math.round(((fbFollowersNow || CAMPAIGN_BASELINE_FB) + (igFollowersNow || CAMPAIGN_BASELINE_IG)) / GOAL_ADJUSTED * 100));\nvar totalFollowers = (fbFollowersNow || CAMPAIGN_BASELINE_FB) + (igFollowersNow || CAMPAIGN_BASELINE_IG);\nvar barColor = progressPct >= 70 ? '#16a34a' : progressPct >= 40 ? '#ca8a04' : '#dc2626';\n\n// Follow rate color\nvar frColor = igFollowRate !== null ? (parseFloat(igFollowRate) >= 8 ? '#4ade80' : parseFloat(igFollowRate) >= 5 ? '#fbbf24' : '#f87171') : '#94a3b8';\n\n// Auto-insights\nvar insightLines = [];\nvar winnerAds    = activeResults.filter(function(r) { return r.verdict === 'WINNER'; });\nvar cortarAds    = activeResults.filter(function(r) { return verdictDisplay(r.verdict) === 'CORTAR'; });\nvar warnAdsI     = activeResults.filter(function(r) { return verdictDisplay(r.verdict) === 'WARNING'; });\nvar reemplazarAds = activeResults.filter(function(r) { return verdictDisplay(r.verdict) === 'REEMPLAZAR'; });\nvar learningAdsI = activeResults.filter(function(r) { return r.verdict === 'LEARNING'; });\nvar hasRetargetFBI = activeResults.some(function(r) { return r.platform === 'FB' && r.segment === 'Retarget'; });\n\nif (!hasRetargetFBI) insightLines.push({ icon: '&#128308;', text: '<b>Sin retarget FB activo.</b> Funnel FB 100% cold &mdash; se paga CPF de audiencia fr&iacute;a sin aprovechar quienes ya interactuaron.' });\nif (cortarAds.length > 0)    insightLines.push({ icon: '&#128308;', text: '<b>' + cortarAds.length + ' ads para CORTAR:</b> ' + cortarAds.map(function(r) { return r.adName + ' (' + r.kpiStr + ')'; }).join(', ') + '.' });\nif (warnAdsI.length > 0)     insightLines.push({ icon: '&#128993;', text: '<b>' + warnAdsI.length + ' ads en WARNING &mdash; rotar creativo urgente:</b> ' + warnAdsI.map(function(r) { return r.adName + ' (' + r.daysActive + 'd)'; }).join(', ') + '.' });\nif (reemplazarAds.length > 0) insightLines.push({ icon: '&#128993;', text: '<b>' + reemplazarAds.length + ' ads para reemplazar</b> (no pausar hasta tener reemplazo listo): ' + reemplazarAds.map(function(r) { return r.adName; }).join(', ') + '.' });\nif (winnerAds.length > 0)    insightLines.push({ icon: '&#128994;', text: '<b>WINNER activo:</b> ' + winnerAds.map(function(r) { return r.adName + ' (' + r.kpiStr + ', ER ' + r.er + '%)'; }).join(', ') + '. Candidato a escalar.' });\nif (learningAdsI.length > 0) insightLines.push({ icon: '&#128993;', text: '<b>' + learningAdsI.length + ' ads en LEARNING (&lt;72h):</b> ' + learningAdsI.map(function(r) { return r.adName; }).join(', ') + '. Revisar ma&ntilde;ana.' });\nif (engThruTotal > 100)      insightLines.push({ icon: '&#128994;', text: '<b>D4 acumula ' + engThruTotal.toLocaleString() + ' ThruPlays.</b> Audience lista para retarget m&aacute;s barato cuando tenga volumen suficiente.' });\nif (paceNeeded > 0 && currentDailyPace < paceNeeded) insightLines.push({ icon: '&#128308;', text: '<b>D&eacute;ficit de pace cr&iacute;tico.</b> Ritmo ~' + currentDailyPace + '/d&iacute;a vs ' + paceNeeded + '/d&iacute;a necesarios. Proyecci&oacute;n: ~' + projectedEnd.toLocaleString() + ' al 16/05 vs objetivo ' + GOAL_ADJUSTED.toLocaleString() + '.' });\n\nvar insightsHtml = insightLines.length > 0\n  ? '<table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\">'\n    + '<tr><td style=\"background:#fffbeb;border:1px solid #fcd34d;border-radius:5px;padding:10px 14px;\">'\n    + '<div style=\"font-size:10px;font-weight:bold;color:#92400e;text-transform:uppercase;letter-spacing:0.05em;margin-bottom:7px;\">Lo que no se ve en la tabla</div>'\n    + insightLines.map(function(ins) {\n        return '<table cellpadding=\"0\" cellspacing=\"0\" style=\"margin-bottom:4px;width:100%;\"><tr>'\n          + '<td style=\"font-size:13px;width:20px;vertical-align:top;padding-top:1px;\">' + ins.icon + '</td>'\n          + '<td style=\"font-size:11px;color:#44403c;line-height:1.4;\">' + ins.text + '</td>'\n          + '</tr></table>';\n      }).join('')\n    + '</td></tr></table>'\n  : '';\n\n// Glosario completo (table-based, Gmail-safe)\nvar gTd = 'style=\"font-size:10px;color:#475569;padding:3px 8px 3px 0;border-bottom:1px solid #f1f5f9;vertical-align:top;\"';\nvar glosario = '<table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"background:#f8fafc;border-top:2px solid #e2e8f0;\">'\n  + '<tr><td style=\"padding:10px 20px 14px;\">'\n  + '<div style=\"font-size:10px;font-weight:bold;color:#64748b;text-transform:uppercase;letter-spacing:0.05em;margin-bottom:8px;\">Glosario de siglas y t&eacute;rminos</div>'\n  // Terms grid — 3 columns, 5 rows\n  + '<table cellpadding=\"0\" cellspacing=\"0\" width=\"100%\">'\n  + '<tr>'\n  + '<td ' + gTd + ' width=\"33%\"><b>CPV perfil</b> &mdash; Costo por Visita al Perfil IG (objetivo VISIT_INSTAGRAM_PROFILE)</td>'\n  + '<td ' + gTd + ' width=\"33%\"><b>CPF</b> &mdash; Costo por Follower/Like de Page (objetivo PAGE_LIKES en FB)</td>'\n  + '<td ' + gTd + '><b>CTR</b> &mdash; Click-Through Rate: % de impresiones que generan un click</td>'\n  + '</tr><tr>'\n  + '<td ' + gTd + '><b>ER</b> &mdash; Engagement Rate: engagements / reach &times; 100</td>'\n  + '<td ' + gTd + '><b>Freq</b> &mdash; Frecuencia: veces que el mismo usuario vio el anuncio</td>'\n  + '<td ' + gTd + '><b>Hold%</b> &mdash; Retenci&oacute;n de video: ThruPlays / vistas 3s &times; 100</td>'\n  + '</tr><tr>'\n  + '<td ' + gTd + '><b>Hook%</b> &mdash; Gancho de video: vistas 3s / impresiones &times; 100</td>'\n  + '<td ' + gTd + '><b>CPM</b> &mdash; Costo por Mil impresiones</td>'\n  + '<td ' + gTd + '><b>D4</b> &mdash; Custom Audience: VideoViewers 30d (construida por ENG)</td>'\n  + '</tr><tr>'\n  + '<td ' + gTd + '><b>LAL1</b> &mdash; Lookalike 1% desde FB Page Likers</td>'\n  + '<td ' + gTd + '><b>FOLLOW</b> &mdash; Campa&ntilde;a objetivo seguidores (IG visits + FB likes)</td>'\n  + '<td ' + gTd + '><b>ENG</b> &mdash; Campa&ntilde;a objetivo engagement (ThruPlay)</td>'\n  + '</tr><tr>'\n  + '<td ' + gTd + '><b>AWR</b> &mdash; Campa&ntilde;a objetivo awareness (reach, impresiones)</td>'\n  + '<td ' + gTd + '><b>Cold</b> &mdash; Audiencia fr&iacute;a: nunca interactu&oacute; con ENBA</td>'\n  + '<td ' + gTd + '><b>Retarget</b> &mdash; Audiencia caliente: interactu&oacute; previamente (D1&ndash;D4)</td>'\n  + '</tr></table>'\n  // Verdicts grid — 3 columns, 3 rows\n  + '<table cellpadding=\"0\" cellspacing=\"0\" width=\"100%\" style=\"margin-top:10px;\">'\n  + '<tr>'\n  + '<td style=\"font-size:10px;padding:3px 8px 3px 0;vertical-align:top;\"><span style=\"background:#dcfce7;color:#15803d;padding:1px 6px;border-radius:3px;font-weight:bold;\">WINNER</span>&nbsp; KPI bajo umbral + ER &gt; 3%</td>'\n  + '<td style=\"font-size:10px;padding:3px 8px 3px 0;vertical-align:top;\"><span style=\"background:#dbeafe;color:#1d4ed8;padding:1px 6px;border-radius:3px;font-weight:bold;\">VIABLE</span>&nbsp; Dentro de par&aacute;metros</td>'\n  + '<td style=\"font-size:10px;padding:3px 0;vertical-align:top;\"><span style=\"background:#ede9fe;color:#6d28d9;padding:1px 6px;border-radius:3px;font-weight:bold;\">LEARNING</span>&nbsp; Menos de 72h activo &mdash; sin veredicto v&aacute;lido</td>'\n  + '</tr><tr>'\n  + '<td style=\"font-size:10px;padding:3px 8px 3px 0;vertical-align:top;\"><span style=\"background:#fef9c3;color:#92400e;padding:1px 6px;border-radius:3px;font-weight:bold;\">WARNING</span>&nbsp; &ge;10d activo &mdash; preparar reemplazo urgente</td>'\n  + '<td style=\"font-size:10px;padding:3px 8px 3px 0;vertical-align:top;\"><span style=\"background:#fef3c7;color:#92400e;padding:1px 6px;border-radius:3px;font-weight:bold;\">HOLD PUENTE</span>&nbsp; Mal rendimiento, sin reemplazo &mdash; mantener por cobertura</td>'\n  + '<td style=\"font-size:10px;padding:3px 0;vertical-align:top;\"><span style=\"background:#fce7f3;color:#9d174d;padding:1px 6px;border-radius:3px;font-weight:bold;\">REEMPLAZAR</span>&nbsp; Fuera de umbral &mdash; pausar cuando haya creativo nuevo</td>'\n  + '</tr><tr>'\n  + '<td colspan=\"3\" style=\"font-size:10px;padding:3px 0;vertical-align:top;\"><span style=\"background:#fee2e2;color:#b91c1c;padding:1px 6px;border-radius:3px;font-weight:bold;\">CORTAR</span>&nbsp; Fuera de umbral + reemplazo ya activo &mdash; pausar ahora</td>'\n  + '</tr></table>'\n  + '</td></tr></table>';\n\n\n// Frescura banner\nvar freshnessBannerHtml = freshnessWarning\n  ? '<div style=\"background:#fef9c3;border-left:4px solid #ca8a04;padding:8px 14px;margin:8px 20px;font-size:11px;\">'\n    + '<b style=\"color:#92400e;\">AVISO FRESCURA:</b> ' + freshnessWarning + '</div>'\n  : '';\n\n// Budget risk banner\nvar budgetBannerHtml = budgetRisk\n  ? '<div style=\"background:#fef2f2;border-left:4px solid #dc2626;padding:8px 14px;margin:8px 20px;font-size:11px;\">'\n    + '<b style=\"color:#b91c1c;\">RIESGO PRESUPUESTO:</b>'\n    + ' Burn $' + burnRateDaily.toLocaleString() + '/dia · Restante $' + Math.round(budgetRemaining).toLocaleString()\n    + ' · Se agota el <b>' + exhaustStr + '</b>'\n    + ' (' + (daysToEnd - daysAtBurn) + ' dias antes del 16/05)'\n    + ' · Max diario: <b>$' + Math.round(budgetRemaining / daysToEnd).toLocaleString() + '/dia</b>'\n    + '</div>'\n  : '';\n\n\nvar html = '<!DOCTYPE html><html><head><meta http-equiv=\"Content-Type\" content=\"text/html; charset=UTF-8\">'\n  + '<style>*{box-sizing:border-box;margin:0;padding:0;}</style></head>'\n  + '<body style=\"font-family:Arial,sans-serif;background:#f1f5f9;padding:0;\">'\n  + '<div style=\"max-width:980px;margin:0 auto;background:white;border:1px solid #e2e8f0;\">'\n\n  // HEADER oscuro — table-based\n  + '<div style=\"background:#0f172a;color:white;padding:14px 20px 16px;\">'\n  + '<table cellpadding=\"0\" cellspacing=\"0\" width=\"100%\"><tr>'\n  + '<td style=\"vertical-align:baseline;\"><b style=\"font-size:15px;color:white;\">ENBA Meta Ads &mdash; Reporte Diario</b></td>'\n  + '<td align=\"right\" style=\"vertical-align:baseline;white-space:nowrap;font-size:11px;color:#94a3b8;\">' + todayStr + ' &middot; ' + timeStr + ' ART &middot; Dia ' + dayRef + ' de ' + CAMPAIGN_TOTAL_DAYS + '</td>'\n  + '</tr></table>'\n  // Metrics bar — table-based\n  + '<table cellpadding=\"0\" cellspacing=\"0\" width=\"100%\" style=\"border:1px solid #1e3a5f;border-radius:6px;margin-top:12px;\"><tr>'\n  + '<td width=\"16%\" style=\"padding:8px 12px;text-align:center;border-right:1px solid #1e3a5f;vertical-align:middle;\">'\n    + '<div style=\"font-size:16px;font-weight:bold;color:white;\">$' + totalSpend.toLocaleString() + '</div>'\n    + '<div style=\"font-size:9px;color:#94a3b8;text-transform:uppercase;letter-spacing:0.04em;\">Spend total</div></td>'\n  + '<td width=\"16%\" style=\"padding:8px 12px;text-align:center;border-right:1px solid #1e3a5f;vertical-align:middle;\">'\n    + '<div style=\"font-size:16px;font-weight:bold;color:' + (budgetRisk ? '#f87171' : '#fbbf24') + ';\">$' + burnRateDaily.toLocaleString() + '</div>'\n    + '<div style=\"font-size:9px;color:#94a3b8;text-transform:uppercase;letter-spacing:0.04em;\">Burn rate / dia</div></td>'\n  + '<td width=\"16%\" style=\"padding:8px 12px;text-align:center;border-right:1px solid #1e3a5f;vertical-align:middle;\">'\n    + '<div style=\"font-size:16px;font-weight:bold;color:#4ade80;\">$' + Math.round(budgetRemaining).toLocaleString() + '</div>'\n    + '<div style=\"font-size:9px;color:#94a3b8;text-transform:uppercase;letter-spacing:0.04em;\">Presupuesto restante</div></td>'\n  + '<td width=\"18%\" style=\"padding:8px 12px;text-align:center;border-right:1px solid #1e3a5f;vertical-align:middle;\">'\n    + '<div style=\"font-size:16px;font-weight:bold;color:white;\">' + totalIgVisits.toLocaleString() + '</div>'\n    + '<div style=\"font-size:9px;color:#94a3b8;text-transform:uppercase;letter-spacing:0.04em;\">Visitas perfil IG</div></td>'\n  + '<td width=\"17%\" style=\"padding:8px 12px;text-align:center;border-right:1px solid #1e3a5f;vertical-align:middle;\">'\n    + '<div style=\"font-size:16px;font-weight:bold;color:white;\">' + totalFbLikes.toLocaleString() + '</div>'\n    + '<div style=\"font-size:9px;color:#94a3b8;text-transform:uppercase;letter-spacing:0.04em;\">Page likes FB</div></td>'\n  + '<td style=\"padding:8px 12px;text-align:center;vertical-align:middle;\">'\n    + '<div style=\"font-size:16px;font-weight:bold;color:white;\">' + totalSaves + '</div>'\n    + '<div style=\"font-size:9px;color:#94a3b8;text-transform:uppercase;letter-spacing:0.04em;\">Saves</div></td>'\n  + '</tr></table>'\n  + '</div>'\n\n  // FOLLOWERS HERO — 4 columnas: FB | IG | Total Nuevos | KPI box\n  + '<div style=\"background:#0f172a;border-top:1px solid #1e3a5f;padding:10px 20px 14px;\">'\n  + '<table cellpadding=\"0\" cellspacing=\"0\" width=\"100%\"><tr>'\n  + '<td width=\"130\" style=\"text-align:center;vertical-align:middle;padding-right:14px;\">'\n    + '<div style=\"font-size:22px;font-weight:bold;color:white;\">' + (fbFollowersNow !== null ? fbFollowersNow.toLocaleString() : '?') + '</div>'\n    + '<div style=\"font-size:11px;color:#4ade80;\">+' + (fbNetNew || 0) + ' desde 22/04</div>'\n    + '<div style=\"font-size:10px;color:#94a3b8;\">Seguidores Facebook</div></td>'\n  + '<td width=\"1\" style=\"background:#1e3a5f;padding:0;\">&nbsp;</td>'\n  + '<td width=\"130\" style=\"text-align:center;vertical-align:middle;padding:0 14px;\">'\n    + '<div style=\"font-size:22px;font-weight:bold;color:white;\">' + (igFollowersNow !== null ? igFollowersNow.toLocaleString() : '?') + '</div>'\n    + '<div style=\"font-size:11px;color:#4ade80;\">+' + (igNetNew || 0) + ' desde 22/04</div>'\n    + '<div style=\"font-size:10px;color:#94a3b8;\">Seguidores Instagram</div></td>'\n  + '<td width=\"1\" style=\"background:#1e3a5f;padding:0;\">&nbsp;</td>'\n  + '<td width=\"130\" style=\"text-align:center;vertical-align:middle;padding:0 14px;\">'\n    + '<div style=\"font-size:22px;font-weight:bold;color:white;\">~' + totalNetNew.toLocaleString() + '</div>'\n    + '<div style=\"font-size:10px;color:#94a3b8;margin-top:2px;\">total nuevos</div>'\n    + '<div style=\"font-size:10px;color:#64748b;\">IG + FB desde 22/04</div></td>'\n  + '<td width=\"1\" style=\"background:#1e3a5f;padding:0;\">&nbsp;</td>'\n  + '<td style=\"padding-left:14px;vertical-align:middle;\">'\n    + (bestCpvIG !== null ? '<div style=\"font-size:11px;color:#94a3b8;margin-bottom:3px;\">CPV perfil IG <span style=\"font-size:9px;color:#4ade80;\">(' + bestCpvVerdict + ')</span>: <b style=\"color:white;\">$' + bestCpvIG + '</b></div>' : '')\n    + (bestCpfFB !== null ? '<div style=\"font-size:11px;color:#94a3b8;margin-bottom:3px;\">CPF best FB: <b style=\"color:white;\">~$' + bestCpfFB + '</b> <span style=\"font-size:9px;color:#64748b;\">(' + bestCpfAdShort + ')</span></div>' : '')\n    + '<div style=\"font-size:11px;color:#94a3b8;margin-bottom:3px;\">Follow rate IG: <b style=\"color:' + frColor + ';\">' + (igFollowRate !== null ? igFollowRate + '%' : '?') + '</b> <span style=\"font-size:10px;color:#475569;\">(obj &gt;5%)</span></div>'\n    + '<div style=\"font-size:11px;color:#94a3b8;\">CPS blended: <b style=\"color:white;\">' + (blendedCPS !== null ? '$' + blendedCPS : '&mdash;') + '</b></div>'\n  + '</td></tr></table>'\n  + '</div>'\n\n  // Banners frescura / presupuesto\n  + freshnessBannerHtml\n  + budgetBannerHtml\n\n  // VERDICTS STRIP — aggregate counts\n  + '<div style=\"background:#f8fafc;border-bottom:1px solid #e2e8f0;padding:8px 20px;\">'\n  + '<span style=\"font-size:10px;font-weight:bold;color:#475569;text-transform:uppercase;letter-spacing:0.06em;display:inline-block;vertical-align:middle;margin-right:10px;\">Activos hoy:</span>'\n  + verdictPills\n  + '</div>'\n\n  // ROADMAP + PACE — table-based\n  + '<div style=\"padding:12px 20px;border-bottom:1px solid #e2e8f0;\">'\n  + '<div style=\"font-size:10px;font-weight:bold;color:#475569;text-transform:uppercase;letter-spacing:0.06em;margin-bottom:8px;\">Roadmap &mdash; Objetivo ' + GOAL_ADJUSTED.toLocaleString() + ' seguidores (19/04 &mdash; 16/05)</div>'\n  + '<table cellpadding=\"0\" cellspacing=\"0\" width=\"100%\"><tr>'\n  + '<td style=\"vertical-align:top;padding-right:20px;\">'\n    + '<table cellpadding=\"0\" cellspacing=\"0\" width=\"100%\"><tr>'\n    + '<td style=\"font-size:24px;font-weight:bold;color:#1e293b;vertical-align:baseline;\">' + ((fbFollowersNow || CAMPAIGN_BASELINE_FB) + (igFollowersNow || CAMPAIGN_BASELINE_IG)).toLocaleString() + '</td>'\n    + '<td align=\"right\" style=\"font-size:11px;color:#64748b;vertical-align:baseline;\">/ ' + GOAL_ADJUSTED.toLocaleString() + ' seguidores nuevos &middot; ' + progressPct + '%</td>'\n    + '</tr></table>'\n    + '<div style=\"background:#e2e8f0;border-radius:4px;height:8px;overflow:hidden;margin:4px 0;\">'\n    + '<div style=\"background:' + barColor + ';height:8px;width:' + progressPct + '%;border-radius:4px;\"></div></div>'\n    + '<div style=\"font-size:10px;color:#94a3b8;\">Dia ' + dayRef + ' de ' + CAMPAIGN_TOTAL_DAYS + ' &middot; ' + (CAMPAIGN_TOTAL_DAYS - dayRef) + ' dias operativos restantes (hasta 16/05)</div>'\n    + '<div style=\"margin-top:7px;\">'\n    + '<span style=\"font-size:10px;background:#f1f5f9;border-radius:3px;padding:2px 6px;color:#475569;display:inline-block;\">Restante <b style=\"color:#1e293b;\">$' + Math.round(budgetRemaining).toLocaleString() + '</b></span>'\n    + '&nbsp;&nbsp;'\n    + '<span style=\"font-size:10px;background:#f1f5f9;border-radius:3px;padding:2px 6px;color:#475569;display:inline-block;\">Burn <b style=\"color:#1e293b;\">$' + burnRateDaily.toLocaleString() + '/dia</b></span>'\n    + '&nbsp;&nbsp;'\n    + '<span style=\"font-size:10px;background:' + (budgetRisk ? '#fef2f2' : '#f0fdf4') + ';border-radius:3px;padding:2px 6px;color:' + (budgetRisk ? '#b91c1c' : '#15803d') + ';display:inline-block;\">Budget ' + (budgetRisk ? 'RIESGO hasta ' + exhaustStr : 'alcanza ✓ hasta 16/05') + '</span>'\n    + '</div>'\n  + '</td>'\n  + '<td width=\"360\" style=\"vertical-align:top;\">'\n    + '<div style=\"background:#fef2f2;border:1px solid #fca5a5;border-radius:5px;padding:8px 12px;\">'\n    + '<div style=\"font-size:10px;font-weight:bold;color:#b91c1c;text-transform:uppercase;letter-spacing:0.04em;margin-bottom:6px;\">' + (currentDailyPace < paceNeeded ? '&#9888; D&eacute;ficit de Pace' : 'En Pace') + '</div>'\n    + '<table cellpadding=\"0\" cellspacing=\"0\"><tr>'\n    + '<td style=\"text-align:center;padding-right:16px;vertical-align:top;\"><div style=\"font-size:18px;font-weight:bold;color:#b91c1c;\">' + paceNeeded + '</div><div style=\"font-size:9px;color:#9ca3af;text-transform:uppercase;\">Seg/dia necesarios</div></td>'\n    + '<td style=\"text-align:center;padding-right:16px;vertical-align:top;\"><div style=\"font-size:18px;font-weight:bold;color:#1d4ed8;\">~' + currentDailyPace + '</div><div style=\"font-size:9px;color:#9ca3af;text-transform:uppercase;\">Ritmo actual (prom)</div></td>'\n    + '<td style=\"text-align:center;vertical-align:top;\"><div style=\"font-size:18px;font-weight:bold;color:#b91c1c;\">~' + projectedEnd.toLocaleString() + '</div><div style=\"font-size:9px;color:#9ca3af;text-transform:uppercase;\">Proyeccion al 16/05</div></td>'\n    + '</tr></table>'\n    + '<div style=\"font-size:10px;color:#6b7280;margin-top:5px;\">Gap: ' + gapToGoal.toLocaleString() + ' &middot; ' + (CAMPAIGN_TOTAL_DAYS - dayRef) + ' dias operativos &middot; ' + gapToGoal.toLocaleString() + ' / ' + (CAMPAIGN_TOTAL_DAYS - dayRef) + ' = ' + paceNeeded + '/dia necesarios</div>'\n    + '<div style=\"font-size:9px;text-align:center;margin-top:5px;color:' + (budgetRisk ? '#b91c1c' : '#15803d') + ';font-weight:bold;\">'\n    + (budgetRisk ? 'Budget RIESGO &mdash; se agota el ' + exhaustStr : 'Budget alcanza &#10003; hasta 16/05')\n    + '</div>'\n    + '</div>'\n  + '</td></tr></table>'\n  + '</div>'\n\n  // ADS ACTIVOS — header table-based\n  + '<div style=\"padding:12px 20px 0;\">'\n  + '<table cellpadding=\"0\" cellspacing=\"0\" width=\"100%\"><tr>'\n  + '<td style=\"font-size:10px;font-weight:bold;color:#475569;text-transform:uppercase;letter-spacing:0.06em;padding:5px 8px;background:#f1f5f9;border-radius:3px;vertical-align:middle;\">Ads activos &mdash; gastan dinero ahora</td>'\n  + '<td align=\"right\" style=\"font-size:10px;color:#94a3b8;font-weight:normal;padding:5px 8px;background:#f1f5f9;border-radius:3px;vertical-align:middle;white-space:nowrap;\">' + activeResults.length + ' ads &middot; $' + burnRateDaily.toLocaleString() + '/dia estimado</td>'\n  + '</tr></table>'\n  + '</div>'\n  + '<div style=\"overflow-x:auto;padding:4px 20px 0;\">'\n  + '<table style=\"border-collapse:collapse;width:100%;font-size:11px;\">'\n  + '<thead><tr>'\n  + '<th style=\"padding:5px 7px;text-align:left;background:#f8fafc;border-bottom:2px solid #e2e8f0;font-size:10px;color:#64748b;white-space:nowrap;min-width:140px;max-width:175px;\">Ad</th>'\n  + '<th style=\"padding:5px 7px;text-align:center;background:#f8fafc;border-bottom:2px solid #e2e8f0;font-size:10px;color:#64748b;white-space:nowrap;\">Tipo</th>'\n  + '<th style=\"padding:5px 7px;text-align:center;background:#f8fafc;border-bottom:2px solid #e2e8f0;font-size:10px;color:#64748b;white-space:nowrap;\">Dias</th>'\n  + '<th style=\"padding:5px 7px;text-align:right;background:#f8fafc;border-bottom:2px solid #e2e8f0;font-size:10px;color:#64748b;white-space:nowrap;\">$</th>'\n  + '<th style=\"padding:5px 7px;text-align:right;background:#f8fafc;border-bottom:2px solid #e2e8f0;font-size:10px;color:#64748b;white-space:nowrap;\">Alc.</th>'\n  + '<th style=\"padding:5px 7px;text-align:center;background:#f8fafc;border-bottom:2px solid #e2e8f0;font-size:10px;color:#64748b;white-space:nowrap;\">CTR</th>'\n  + '<th style=\"padding:5px 7px;text-align:center;background:#f8fafc;border-bottom:2px solid #e2e8f0;font-size:10px;color:#64748b;white-space:nowrap;\">ER</th>'\n  + '<th style=\"padding:5px 7px;text-align:center;background:#f8fafc;border-bottom:2px solid #e2e8f0;font-size:10px;color:#64748b;white-space:nowrap;\">Fr.</th>'\n  + '<th style=\"padding:5px 7px;text-align:center;background:#eff6ff;border-bottom:2px solid #93c5fd;font-size:10px;color:#1d4ed8;white-space:nowrap;\">KPI ENBA<br><span style=\"font-size:9px;font-weight:normal;color:#64748b;\">CPV (IG) &middot; CPF (FB) &middot; Hold% (ENG)</span></th>'\n  + '<th style=\"padding:5px 7px;text-align:center;background:#f0fdf4;border-bottom:2px solid #86efac;font-size:10px;color:#15803d;white-space:nowrap;min-width:90px;\">Veredicto &middot; Accion</th>'\n  + '<th style=\"padding:5px 7px;text-align:left;background:#f8fafc;border-bottom:2px solid #e2e8f0;font-size:10px;color:#64748b;white-space:nowrap;\">Razon</th>'\n  + '</tr></thead><tbody>'\n  + activeTableRows\n  + '</tbody></table></div>'\n\n  // AUTO-INSIGHTS — después de la tabla de ads activos\n  + (insightsHtml ? '<div style=\"padding:8px 20px 4px;\">' + insightsHtml + '</div>' : '')\n\n  // ADS PAUSADOS\n  + '<div style=\"padding:0 20px 12px;margin-top:12px;\">'\n  + '<div style=\"font-size:10px;font-weight:bold;color:#94a3b8;padding:4px 8px;background:#f8fafc;border-radius:3px;margin-bottom:5px;\">Ads Pausados &mdash; historial unicamente, sin gasto actual (' + pausedResults.length + ' ads)</div>'\n  + '<div style=\"overflow-x:auto;opacity:0.65;\">'\n  + '<table style=\"border-collapse:collapse;width:100%;font-size:10px;\">'\n  + '<thead><tr style=\"background:#f8fafc;border-bottom:1px solid #e2e8f0;\">'\n  + '<th style=\"padding:3px 6px;text-align:left;font-size:10px;color:#64748b;\">Ad</th>'\n  + '<th style=\"padding:3px 6px;text-align:center;font-size:10px;color:#64748b;\">Tipo</th>'\n  + '<th style=\"padding:3px 6px;text-align:center;font-size:10px;color:#64748b;\">Dias</th>'\n  + '<th style=\"padding:3px 6px;text-align:right;font-size:10px;color:#64748b;\">Spend hist.</th>'\n  + '<th style=\"padding:3px 6px;text-align:center;font-size:10px;color:#64748b;\">CTR</th>'\n  + '<th style=\"padding:3px 6px;text-align:center;font-size:10px;color:#64748b;\">ER</th>'\n  + '<th style=\"padding:3px 6px;text-align:center;font-size:10px;color:#64748b;\">KPI ENBA</th>'\n  + '<th style=\"padding:3px 6px;text-align:left;font-size:10px;color:#64748b;\">Motivo pausa</th>'\n  + '</tr></thead><tbody>'\n  + pausedTableRows\n  + '</tbody></table></div></div>'\n\n  // PROMPT BRUNO — table header\n  + '<div style=\"margin:0 20px 20px;border-top:1px solid #e2e8f0;padding-top:12px;\">'\n  + '<table cellpadding=\"0\" cellspacing=\"0\" width=\"100%\" style=\"margin-bottom:6px;\"><tr>'\n  + '<td style=\"font-size:11px;font-weight:bold;color:#1e293b;vertical-align:middle;\">Prompt para Bruno &mdash; copiar y pegar en Claude Code con /bruno</td>'\n  + '<td align=\"right\" style=\"font-size:10px;color:#94a3b8;font-weight:normal;vertical-align:middle;white-space:nowrap;\">Corte: ' + todayStr + ' ' + timeStr + ' ART &middot; Dia ' + dayRef + ' de ' + CAMPAIGN_TOTAL_DAYS + '</td>'\n  + '</tr></table>'\n  + '<pre style=\"background:#0f172a;border-radius:5px;padding:14px;font-size:10px;font-family:Courier New,monospace;white-space:pre-wrap;color:#e2e8f0;line-height:1.5;\">'\n  + brunoPrompt.replace(/&/g,'&amp;').replace(/</g,'&lt;').replace(/>/g,'&gt;')\n  + '</pre></div>'\n\n  // BENCHMARK COMPETIDORES — datos estáticos abr 2026\n  + '<div style=\"border-top:1px solid #e2e8f0;padding:12px 20px 0;\">'\n  + '<table cellpadding=\"0\" cellspacing=\"0\" width=\"100%\"><tr>'\n  + '<td style=\"font-size:10px;font-weight:bold;color:#475569;text-transform:uppercase;letter-spacing:0.06em;padding:5px 8px;background:#f1f5f9;border-radius:3px;vertical-align:middle;\">Benchmark Competidores &mdash; Redes Sociales</td>'\n  + '<td align=\"right\" style=\"font-size:10px;color:#94a3b8;font-weight:normal;padding:5px 8px;background:#f1f5f9;border-radius:3px;vertical-align:middle;white-space:nowrap;\">Actualizaci&oacute;n manual requerida &middot; &Uacute;ltima verificaci&oacute;n: abr 2026</td>'\n  + '</tr></table>'\n  + '<p style=\"font-size:10px;color:#94a3b8;margin:6px 0 8px;\">Datos verificados manualmente. Actualizar semanalmente. Fuente: an&aacute;lisis competitivo ENBA abr 2026.</p>'\n  + '</div>'\n  + '<div style=\"overflow-x:auto;padding:0 20px 0;\">'\n  + '<table style=\"border-collapse:collapse;width:100%;font-size:11px;\">'\n  + '<thead><tr style=\"background:#f8fafc;border-bottom:2px solid #e2e8f0;\">'\n  + '<th style=\"padding:4px 7px;text-align:left;font-size:10px;color:#64748b;min-width:160px;\">Competidor</th>'\n  + '<th style=\"padding:4px 7px;text-align:left;font-size:10px;color:#64748b;\">Zona</th>'\n  + '<th style=\"padding:4px 7px;text-align:left;font-size:10px;color:#64748b;\">Verticales</th>'\n  + '<th style=\"padding:4px 7px;text-align:right;font-size:10px;color:#64748b;\">IG</th>'\n  + '<th style=\"padding:4px 7px;text-align:right;font-size:10px;color:#64748b;\">FB</th>'\n  + '<th style=\"padding:4px 7px;text-align:right;font-size:10px;color:#64748b;\">TikTok</th>'\n  + '<th style=\"padding:4px 7px;text-align:left;font-size:10px;color:#64748b;\">Diferenciador clave</th>'\n  + '<th style=\"padding:4px 7px;text-align:right;font-size:10px;color:#b91c1c;\">Gap IG vs ENBA</th>'\n  + '</tr></thead><tbody>'\n  // ENBA — fila destacada con seguidores reales del día\n  + '<tr style=\"background:#eff6ff;border-top:2px solid #93c5fd;border-bottom:2px solid #93c5fd;\">'\n  + '<td style=\"padding:4px 7px;font-weight:bold;color:#1d4ed8;font-size:10px;\">&#9658; ENBA (nosotros)</td>'\n  + '<td style=\"padding:4px 7px;font-size:10px;color:#475569;\">Costanera Norte</td>'\n  + '<td style=\"padding:4px 7px;font-size:10px;color:#475569;\">Paseos &middot; Escuela &middot; Traves&iacute;as &middot; Broker</td>'\n  + '<td style=\"padding:4px 7px;text-align:right;color:#1d4ed8;font-weight:bold;font-size:10px;\">' + (igFollowersNow || '~') + '</td>'\n  + '<td style=\"padding:4px 7px;text-align:right;color:#1d4ed8;font-weight:bold;font-size:10px;\">' + (fbFollowersNow || '~') + '</td>'\n  + '<td style=\"padding:4px 7px;text-align:right;font-size:10px;color:#94a3b8;\">&mdash;</td>'\n  + '<td style=\"padding:4px 7px;font-size:10px;color:#475569;\">Hub n&aacute;utico completo &middot; Blog SEO &middot; Marca unificada</td>'\n  + '<td style=\"padding:4px 7px;text-align:right;font-size:10px;\">&mdash;</td>'\n  + '</tr>'\n  // D'Serra\n  + '<tr style=\"border-bottom:1px solid #f1f5f9;\">'\n  + '<td style=\"padding:4px 7px;font-size:10px;\"><b>Esc. N&aacute;utica D\\'Serra</b><br><span style=\"font-size:9px;color:#94a3b8;\">IG @escuelanauticads &middot; FB @EscuelaNauticaDSerra</span></td>'\n  + '<td style=\"padding:4px 7px;font-size:10px;color:#475569;\">Costanera Norte</td>'\n  + '<td style=\"padding:4px 7px;font-size:10px;color:#475569;\">Paseos &middot; Escuela &middot; Traves&iacute;as &middot; Broker &middot; <b>Astillero</b></td>'\n  + '<td style=\"padding:4px 7px;text-align:right;font-size:10px;\">~7.200</td>'\n  + '<td style=\"padding:4px 7px;text-align:right;font-size:10px;\">~26.000</td>'\n  + '<td style=\"padding:4px 7px;text-align:right;font-size:10px;\">~2.700</td>'\n  + '<td style=\"padding:4px 7px;font-size:10px;color:#475569;\">20+ a&ntilde;os &middot; Fabrica veleros &middot; 10 personas visibles</td>'\n  + '<td style=\"padding:4px 7px;text-align:right;font-size:10px;background:#fef2f2;color:#b91c1c;font-weight:bold;\">&times;90</td>'\n  + '</tr>'\n  // Bairesnavega\n  + '<tr style=\"border-bottom:1px solid #f1f5f9;\">'\n  + '<td style=\"padding:4px 7px;font-size:10px;\"><b>Bairesnavega</b><br><span style=\"font-size:9px;color:#94a3b8;\">IG @bairesnavega</span></td>'\n  + '<td style=\"padding:4px 7px;font-size:10px;color:#475569;\">San Isidro</td>'\n  + '<td style=\"padding:4px 7px;font-size:10px;color:#475569;\">Paseos &middot; Vouchers</td>'\n  + '<td style=\"padding:4px 7px;text-align:right;font-size:10px;\">~106.000</td>'\n  + '<td style=\"padding:4px 7px;text-align:right;font-size:10px;color:#94a3b8;\">&mdash;</td>'\n  + '<td style=\"padding:4px 7px;text-align:right;font-size:10px;color:#94a3b8;\">&mdash;</td>'\n  + '<td style=\"padding:4px 7px;font-size:10px;color:#475569;\">Cara visible &middot; Lifestyle &middot; Voucher &uacute;nico $110K</td>'\n  + '<td style=\"padding:4px 7px;text-align:right;font-size:10px;background:#fef2f2;color:#b91c1c;font-weight:bold;\">&times;1.325</td>'\n  + '</tr>'\n  // Medio Siglo\n  + '<tr style=\"border-bottom:1px solid #f1f5f9;\">'\n  + '<td style=\"padding:4px 7px;font-size:10px;\"><b>Medio Siglo</b><br><span style=\"font-size:9px;color:#94a3b8;\">IG @mediosiglovelero &middot; FB @mediosiglovelero</span></td>'\n  + '<td style=\"padding:4px 7px;font-size:10px;color:#475569;\">San Isidro</td>'\n  + '<td style=\"padding:4px 7px;font-size:10px;color:#475569;\">Paseos &middot; Traves&iacute;as</td>'\n  + '<td style=\"padding:4px 7px;text-align:right;font-size:10px;\">~13.000</td>'\n  + '<td style=\"padding:4px 7px;text-align:right;font-size:10px;color:#94a3b8;\">&mdash; verif.</td>'\n  + '<td style=\"padding:4px 7px;text-align:right;font-size:10px;color:#94a3b8;\">&mdash;</td>'\n  + '<td style=\"padding:4px 7px;font-size:10px;color:#475569;\">Storytelling personal &middot; Bigbox &middot; GetYourGuide</td>'\n  + '<td style=\"padding:4px 7px;text-align:right;font-size:10px;background:#fef2f2;color:#b91c1c;font-weight:bold;\">&times;163</td>'\n  + '</tr>'\n  // Navegando BA\n  + '<tr style=\"border-bottom:1px solid #f1f5f9;\">'\n  + '<td style=\"padding:4px 7px;font-size:10px;\"><b>Navegando BA</b><br><span style=\"font-size:9px;color:#94a3b8;\">IG @navegandobsas &middot; FB @navegandobsas</span></td>'\n  + '<td style=\"padding:4px 7px;font-size:10px;color:#475569;\">Costanera Norte</td>'\n  + '<td style=\"padding:4px 7px;font-size:10px;color:#475569;\">Paseos</td>'\n  + '<td style=\"padding:4px 7px;text-align:right;font-size:10px;color:#94a3b8;\">&mdash; verif.</td>'\n  + '<td style=\"padding:4px 7px;text-align:right;font-size:10px;color:#94a3b8;\">&mdash; verif.</td>'\n  + '<td style=\"padding:4px 7px;text-align:right;font-size:10px;color:#94a3b8;\">&mdash;</td>'\n  + '<td style=\"padding:4px 7px;font-size:10px;color:#475569;\">Civitatis 9.9/10 &middot; $72K/pax con aperitivo &middot; misma zona</td>'\n  + '<td style=\"padding:4px 7px;text-align:right;font-size:10px;color:#94a3b8;\">&mdash; verif.</td>'\n  + '</tr>'\n  // Sailing Republic\n  + '<tr>'\n  + '<td style=\"padding:4px 7px;font-size:10px;\"><b>Sailing Republic</b><br><span style=\"font-size:9px;color:#94a3b8;\">IG @sailingrepublic</span></td>'\n  + '<td style=\"padding:4px 7px;font-size:10px;color:#475569;\">Puerto N&uacute;&ntilde;ez</td>'\n  + '<td style=\"padding:4px 7px;font-size:10px;color:#475569;\">Paseos &middot; Navegaci&oacute;n</td>'\n  + '<td style=\"padding:4px 7px;text-align:right;font-size:10px;color:#94a3b8;\">&mdash; verif.</td>'\n  + '<td style=\"padding:4px 7px;text-align:right;font-size:10px;color:#94a3b8;\">&mdash;</td>'\n  + '<td style=\"padding:4px 7px;text-align:right;font-size:10px;color:#94a3b8;\">&mdash;</td>'\n  + '<td style=\"padding:4px 7px;font-size:10px;color:#475569;\">Puerto N&uacute;&ntilde;ez &middot; perfil digital bajo</td>'\n  + '<td style=\"padding:4px 7px;text-align:right;font-size:10px;color:#94a3b8;\">&mdash; verif.</td>'\n  + '</tr>'\n  + '</tbody></table></div>'\n  + '<div style=\"margin:4px 20px 14px;background:#f8fafc;border:1px solid #e2e8f0;border-radius:4px;padding:8px 12px;font-size:10px;color:#64748b;\">'\n  + '<b style=\"color:#475569;\">Notas de contexto:</b> D\\'Serra (mismo edificio) tiene 90&times; m&aacute;s seguidores IG con 20 a&ntilde;os de ventaja. Bairesnavega domina IG con estrategia lifestyle + cara visible. Ning&uacute;n competidor invierte en Google Ads &mdash; oportunidad virgen con CPC bajo. Los datos marcados &ldquo;&mdash; verificar&rdquo; deben relevarse manualmente. <b style=\"color:#b91c1c;\">Actualizar esta tabla 1&times; por semana.</b>'\n  + '</div>'\n\n  // GLOSARIO (table-based)\n  + glosario\n\n  // FOOTER — table-based\n  + '<div style=\"background:#f8fafc;border-top:1px solid #e2e8f0;padding:7px 20px;\">'\n  + '<table cellpadding=\"0\" cellspacing=\"0\" width=\"100%\"><tr>'\n  + '<td style=\"font-size:10px;color:#94a3b8;\">ENBA Ads Evaluation v7</td>'\n  + '<td align=\"right\" style=\"font-size:10px;color:#94a3b8;\">' + new Date().toISOString() + ' &middot; Burn rate: ' + (burnRateSource === 'ad_set_budgets' ? 'suma ad sets activos (real)' : 'promedio hist&oacute;rico (estimado)') + '</td>'\n  + '</tr></table>'\n  + '</div>'\n  + '</div></body></html>';\n\nreturn [{ json: {\n  subject: subject, html: html, brunoPrompt: brunoPrompt,\n  totalSpend: totalSpend, totalIgFollows: totalIgFollows,\n  totalIgVisits: totalIgVisits, totalFbLikes: totalFbLikes,\n  totalSaves: totalSaves, blendedCPM: blendedCPM,\n  blendedCPS: blendedCPS, burnRateDaily: burnRateDaily, burnRateSource: burnRateSource,\n  budgetRemaining: Math.round(budgetRemaining), budgetRisk: budgetRisk,\n  fbFollowersNow: fbFollowersNow, igFollowersNow: igFollowersNow,\n  igFollowRate: igFollowRate,\n  adsCount: results.length, activeAdsCount: activeResults.length, pausedAdsCount: pausedResults.length,\n  summaryStr: summaryStr, freshnessWarning: freshnessWarning,\n  diagActionTypes: diagActionTypes\n} }];\n"
      },
      "id": "node-evaluate",
      "name": "Evaluate Ads",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        976,
        304
      ]
    },
    {
      "parameters": {
        "fromEmail": "jmartinezplatt@gmail.com",
        "toEmail": "jmartinezplatt@gmail.com",
        "subject": "={{ $json.subject }}",
        "html": "={{ $json.html }}",
        "options": {}
      },
      "id": "node-send-report",
      "name": "Send Report Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        1200,
        304
      ],
      "webhookId": "4e879775-94df-4f3e-8c4c-6535453aca81",
      "credentials": {
        "smtp": {
          "id": "HpJBfNd1BCHaLYfY",
          "name": "Gmail ENBA"
        }
      }
    },
    {
      "parameters": {
        "url": "https://graph.facebook.com/v22.0/1064806400040502?fields=fan_count,followers_count",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "id": "node-get-fb-followers",
      "name": "Get FB Followers",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        240,
        304
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "6LxWcVxeyZgsBTUU",
          "name": "Meta Ads API ENB"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "url": "https://graph.facebook.com/v22.0/17841443139761422?fields=followers_count",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "id": "node-get-ig-followers",
      "name": "Get IG Followers",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        480,
        304
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "6LxWcVxeyZgsBTUU",
          "name": "Meta Ads API ENB"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "url": "https://graph.facebook.com/v22.0/act_2303565156801569/ads?fields=id,name,effective_status,status,adset_id&limit=100",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        704,
        64
      ],
      "id": "d13e2c2f-9548-45f8-bca5-ab0772dfd13e",
      "name": "Get Ad Status Batch",
      "credentials": {
        "httpHeaderAuth": {
          "id": "6LxWcVxeyZgsBTUU",
          "name": "Meta Ads API ENB"
        }
      }
    },
    {
      "parameters": {
        "url": "https://graph.facebook.com/v22.0/act_2303565156801569/adsets?fields=id,name,daily_budget,status,effective_status&limit=100",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        704,
        304
      ],
      "id": "1e4d5a38-f6d7-4510-8027-5454638e8059",
      "name": "Get Ad Set Budgets",
      "credentials": {
        "httpHeaderAuth": {
          "id": "6LxWcVxeyZgsBTUU",
          "name": "Meta Ads API ENB"
        }
      }
    },
    {
      "parameters": {
        "url": "https://graph.facebook.com/v22.0/act_2303565156801569/insights?level=ad&fields=ad_id,ad_name,quality_ranking,engagement_rate_ranking,conversion_rate_ranking&date_preset=last_7d&filtering=[{\"field\": \"ad.effective_status\", \"operator\": \"IN\", \"value\": [\"ACTIVE\"]}]&limit=100",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        704,
        512
      ],
      "id": "fae5fcfa-7359-4dd5-8b31-a8ca2cb24cfa",
      "name": "Get Quality Rankings",
      "credentials": {
        "httpHeaderAuth": {
          "id": "6LxWcVxeyZgsBTUU",
          "name": "Meta Ads API ENB"
        }
      }
    },
    {
      "parameters": {
        "path": "eval-ads-manual",
        "httpMethod": "POST",
        "responseMode": "lastNode",
        "options": {}
      },
      "name": "Webhook Manual Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -256,
        104
      ],
      "id": "272edeba-2147-4152-9800-465dd5968e0d",
      "webhookId": "187246df-e9e1-44fb-ac00-74a7a6444973"
    }
  ],
  "connections": {
    "Schedule 9:00 ART": {
      "main": [
        [
          {
            "node": "Get Ad Insights",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Evaluate Ads": {
      "main": [
        [
          {
            "node": "Send Report Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Ad Insights": {
      "main": [
        [
          {
            "node": "Get FB Followers",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get FB Followers": {
      "main": [
        [
          {
            "node": "Get IG Followers",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get IG Followers": {
      "main": [
        [
          {
            "node": "Get Ad Status Batch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Ad Status Batch": {
      "main": [
        [
          {
            "node": "Get Ad Set Budgets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Ad Set Budgets": {
      "main": [
        [
          {
            "node": "Get Quality Rankings",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Quality Rankings": {
      "main": [
        [
          {
            "node": "Evaluate Ads",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook Manual Trigger": {
      "main": [
        [
          {
            "node": "Get Ad Insights",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "timezone": "America/Argentina/Buenos_Aires",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false,
    "binaryMode": "separate",
    "timeSavedMode": "fixed",
    "errorWorkflow": "WlY5org5Ih3ioFoy"
  },
  "staticData": {
    "node:Schedule 9:00 ART": {
      "recurrenceRules": []
    }
  },
  "meta": null,
  "pinData": {},
  "versionId": "e1d03b33-2964-4783-a8c3-6d5e15f72473",
  "activeVersionId": "e1d03b33-2964-4783-a8c3-6d5e15f72473",
  "versionCounter": 224,
  "triggerCount": 2,
  "shared": [
    {
      "updatedAt": "2026-04-19T03:27:36.676Z",
      "createdAt": "2026-04-19T03:27:36.676Z",
      "role": "workflow:owner",
      "workflowId": "1qRywsEWAl7VoO5o",
      "projectId": "HoHL7haDbRK6OwSu",
      "project": {
        "updatedAt": "2026-03-01T23:53:57.251Z",
        "createdAt": "2026-03-01T23:53:51.806Z",
        "id": "HoHL7haDbRK6OwSu",
        "name": "Jose Martinez <admin@espacionautico.com.ar>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "7792ccbd-a153-4ec4-9b00-a26cc72db47d"
      }
    }
  ],
  "tags": [],
  "activeVersion": {
    "updatedAt": "2026-05-05T05:15:17.453Z",
    "createdAt": "2026-05-05T05:15:17.453Z",
    "versionId": "e1d03b33-2964-4783-a8c3-6d5e15f72473",
    "workflowId": "1qRywsEWAl7VoO5o",
    "nodes": [
      {
        "parameters": {
          "rule": {
            "interval": [
              {
                "field": "cronExpression",
                "expression": "0 9 * * *"
              }
            ]
          }
        },
        "id": "node-schedule-eval",
        "name": "Schedule 9:00 ART",
        "type": "n8n-nodes-base.scheduleTrigger",
        "typeVersion": 1.1,
        "position": [
          -256,
          304
        ]
      },
      {
        "parameters": {
          "url": "https://graph.facebook.com/v22.0/act_2303565156801569/insights?level=ad&fields=ad_id,ad_name,campaign_id,created_time,impressions,reach,clicks,spend,actions,ctr,frequency,video_thruplay_watched_actions,instagram_profile_visits,quality_ranking,engagement_rate_ranking,conversion_rate_ranking&date_preset=maximum&limit=100",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpHeaderAuth",
          "options": {}
        },
        "id": "node-get-insights",
        "name": "Get Ad Insights",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          0,
          304
        ],
        "credentials": {
          "httpHeaderAuth": {
            "id": "6LxWcVxeyZgsBTUU",
            "name": "Meta Ads API ENB"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "// Evaluate Ads Performance — Code Node para n8n  v5\n// Input esperado: Get Ad Insights → Get FB Followers → Get IG Followers\n//                 + en paralelo: Get Ad Status Batch → Get Ad Set Budgets → Get Quality Rankings\n//                 → [este nodo]\n// Accede a nodos previos por nombre. Si alguno falla con continueOnFail,\n// los try/catch degradan graciosamente (el email igual llega, sin esa sección).\n//\n// Plan vigente: presupuesto-v4-reestructuracion.md + presupuesto-v4.1-estado-dia10.md\n// CORTAR  (72h+): CPS > $100 ó ER < 1% ó CTR < 0.4%\n// WINNER  (72h+): CPS < $30 + ER > 3%\n// FATIGUE: frecuencia > 3.5\n// MAX_REACHED: > 14 días / FATIGUE_WARNING: >= 10 días\n//\n// v5 vs v4:\n// - effective_status real desde nodo \"Get Ad Status Batch\": ads pausados → veredicto PAUSED\n// - Burn rate real desde nodo \"Get Ad Set Budgets\": suma budgets activos (no promedio histórico)\n// - Quality rankings reales desde nodo \"Get Quality Rankings\" (no UNKNOWN)\n// - Tabla Bruno: ads ACTIVOS separados de PAUSADOS\n// - Orquestador al inicio del prompt Bruno: posición, gap, hipótesis falsadas, decisiones pendientes\n// - Gate de frescura: si datos > 12h → advertencia en email\n// - Timestamp de ejecución en subject del email\n\n// ── Constantes de campaña ──────────────────────────────────────────────\nconst CAMPAIGN_BUDGET_TOTAL = 500000;               // ARS — presupuesto-v4\nconst CAMPAIGN_BASELINE_FB  = 23;                   // fans FB al 22/04 (baseline Follow Plan)\nconst CAMPAIGN_BASELINE_IG  = 11;                   // seguidores IG al 22/04\nconst CAMPAIGN_START_DATE   = new Date('2026-04-19T03:00:00Z'); // día 1 ART\nconst CAMPAIGN_END_DATE     = new Date('2026-05-16T03:00:00Z'); // fin plan\nconst CAMPAIGN_TOTAL_DAYS   = 27;\n\n// ── Input: insights ────────────────────────────────────────────────────\nvar response;\ntry {\n  response = $('Get Ad Insights').first().json;\n} catch(e) {\n  // fallback por si se ejecuta en contexto sin nodo nombrado (tests manuales)\n  response = $input.first().json;\n}\nconst adsData = response.data || [];\n\n// ── Input: follower counts ─────────────────────────────────────────────\nvar fbFollowersNow = null;\nvar igFollowersNow = null;\ntry {\n  var fbData = $('Get FB Followers').first().json;\n  fbFollowersNow = parseInt(fbData.fan_count || fbData.followers_count || 0) || null;\n} catch(e) {}\ntry {\n  var igData = $('Get IG Followers').first().json;\n  igFollowersNow = parseInt(igData.followers_count || 0) || null;\n} catch(e) {}\n\n// ── Input: effective_status real (nodo \"Get Ad Status Batch\") ──────────\n// Mapa { ad_id: effective_status } — diferencia activos de pausados sin ambigüedad\n// Mapa { adset_id: true } — ad sets que tienen al menos 1 ad ACTIVE\nvar adStatusMap = {};\nvar adsetHasActiveAd = {};\ntry {\n  var statusData = $('Get Ad Status Batch').first().json;\n  // La API devuelve {data: [{id, effective_status, adset_id, ...}], paging: {...}}\n  var statusItems = Array.isArray(statusData.data) ? statusData.data\n    : Array.isArray(statusData) ? statusData : [];\n  statusItems.forEach(function(item) {\n    if (item && item.id) {\n      adStatusMap[item.id] = item.effective_status;\n      if (item.effective_status === 'ACTIVE' && item.adset_id) {\n        adsetHasActiveAd[item.adset_id] = true;\n      }\n    }\n  });\n} catch(e) {}\n\n// ── Input: burn rate real (nodo \"Get Ad Set Budgets\") ──────────────────\n// Suma de daily_budget de ad sets con effective_status ACTIVE\nvar realBurnRate = 0;\nvar burnRateSource = 'historical_avg';\ntry {\n  var budgetData = $('Get Ad Set Budgets').first().json;\n  var budgetItems = Array.isArray(budgetData.data) ? budgetData.data\n    : Array.isArray(budgetData) ? budgetData : [];\n  budgetItems.forEach(function(adset) {\n    // Solo sumar si el ad set esta ACTIVE y tiene al menos 1 ad ACTIVE dentro\n    // (operamos pausando a nivel ad, los ad sets quedan siempre ACTIVE)\n    if (adset.effective_status === 'ACTIVE' && adsetHasActiveAd[adset.id]) {\n      realBurnRate += parseInt(adset.daily_budget || 0) / 100; // Meta devuelve en centavos\n    }\n  });\n  if (realBurnRate > 0) burnRateSource = 'ad_set_budgets';\n} catch(e) {}\n\n// ── Input: quality rankings reales (nodo \"Get Quality Rankings\") ───────\n// Mapa { ad_id: { quality_ranking, engagement_rate_ranking, conversion_rate_ranking } }\nvar qualityMap = {};\ntry {\n  var qualData = $('Get Quality Rankings').first().json;\n  var qualItems = Array.isArray(qualData.data) ? qualData.data\n    : Array.isArray(qualData) ? qualData : [];\n  qualItems.forEach(function(item) {\n    if (item && item.ad_id) qualityMap[item.ad_id] = item;\n  });\n} catch(e) {}\n\n// ── Gate de frescura (12h) ─────────────────────────────────────────────\nvar freshnessWarning = '';\ntry {\n  var metaHeader = $('Get Ad Insights').first().json._meta;\n  if (metaHeader && metaHeader.fetched_at) {\n    var insightsAge = (new Date() - new Date(metaHeader.fetched_at)) / (1000 * 60 * 60);\n    if (insightsAge >= 12) {\n      freshnessWarning = 'DATOS CON ' + Math.round(insightsAge) + 'h DE ANTIGUEDAD — verificar frescura';\n    }\n  }\n} catch(e) {}\n\n// ── Fecha ART ──────────────────────────────────────────────────────────\nconst now = new Date();\nconst artNow = new Date(now.getTime() - 3 * 60 * 60 * 1000);\nconst dd   = String(artNow.getUTCDate()).padStart(2, '0');\nconst mm   = String(artNow.getUTCMonth() + 1).padStart(2, '0');\nconst yyyy = artNow.getUTCFullYear();\nconst todayStr = dd + '/' + mm + '/' + yyyy;\n\n// ── Mapa campaign_id → tipo ────────────────────────────────────────────\nconst campaignTypeMap = {\n  '120238976548160139': 'AWR',\n  '120238976548380139': 'ENG',\n  '120238976549000139': 'TRF',\n  '120238976549780139': 'LEA',\n  '120239303658100139': 'FOLLOW',\n  '120239303658190139': 'FOLLOW',\n};\n\n// ── Helpers ────────────────────────────────────────────────────────────\nfunction getAction(actions, type) {\n  var found = (actions || []).find(function(a) { return a.action_type === type; });\n  return found ? parseInt(found.value) : 0;\n}\n\nfunction getFollowsIG(actions) {\n  return getAction(actions, 'instagram_follow')\n      || getAction(actions, 'omni_instagramapp_follow')\n      || getAction(actions, 'follow');\n}\n\nfunction getThruPlays(field) {\n  if (!field) return 0;\n  if (Array.isArray(field)) {\n    var found = field.find(function(a) { return a.action_type === 'video_thruplay_watched'; });\n    return found ? parseInt(found.value) : (field.length > 0 ? parseInt(field[0].value) : 0);\n  }\n  return parseInt(field) || 0;\n}\n\nfunction getDaysActive(createdTime) {\n  if (!createdTime) return 0;\n  return Math.max(0, Math.floor((now - new Date(createdTime)) / (1000 * 60 * 60 * 24)));\n}\n\nfunction inferCampaignType(campaignId) {\n  return campaignTypeMap[campaignId] || 'AWR';\n}\n\nfunction inferPlatform(adName) {\n  var n = (adName || '').toLowerCase();\n  if (n.includes('_ig_') || n.includes('_ig ') || n.endsWith('_ig')) return 'IG';\n  if (n.includes('_fb_') || n.includes('_fb ') || n.endsWith('_fb')) return 'FB';\n  return '—';\n}\n\nfunction inferSegment(adName) {\n  var n = (adName || '').toLowerCase();\n  if (n.includes('retarget')) return 'Retarget';\n  if (n.includes('cold'))     return 'Cold';\n  return '—';\n}\n\nfunction rankingInfo(val) {\n  if (!val || val === 'UNKNOWN' || val === '') return { label: '—', color: '#9ca3af' };\n  if (val === 'ABOVE_AVERAGE')    return { label: '▲ TOP', color: '#16a34a' };\n  if (val === 'AVERAGE')          return { label: '≈ AVG', color: '#2563eb' };\n  if (val === 'BELOW_AVERAGE_10') return { label: '▼ -10%', color: '#ca8a04' };\n  if (val === 'BELOW_AVERAGE_20') return { label: '▼ -20%', color: '#ea580c' };\n  if (val === 'BELOW_AVERAGE_35') return { label: '▼▼ BOT', color: '#dc2626' };\n  return { label: val, color: '#6b7280' };\n}\n\n// ── Sin datos ──────────────────────────────────────────────────────────\nif (adsData.length === 0) {\n  return [{ json: {\n    subject: '[ENBA Ads] ' + todayStr + ' — Sin datos de insights',\n    html: '<html><body style=\"font-family:Arial,sans-serif;\"><h2>ENBA Meta Ads — Sin datos</h2>'\n      + '<p>Fecha: ' + todayStr + '</p>'\n      + '<p>Meta no devolvio datos. Los ads pueden llevar menos de unas horas activos.</p>'\n      + '</body></html>',\n    brunoPrompt: '', totalSpend: 0, adsCount: 0\n  } }];\n}\n\n// ── Diagnóstico action_types ───────────────────────────────────────────\nvar diagActionTypes = {};\nadsData.forEach(function(ad) {\n  (ad.actions || []).forEach(function(a) {\n    if (!diagActionTypes[a.action_type]) diagActionTypes[a.action_type] = 0;\n    diagActionTypes[a.action_type] += parseInt(a.value) || 0;\n  });\n});\n\n// ── Procesar cada ad ───────────────────────────────────────────────────\nvar results = adsData.map(function(ad) {\n  var impressions  = parseInt(ad.impressions || 0);\n  var reach        = parseInt(ad.reach || 0);\n  var spend        = parseFloat(ad.spend || 0);\n  var ctr          = parseFloat(ad.ctr || 0);\n  var frequency    = parseFloat(ad.frequency || 0);\n  var daysActive   = getDaysActive(ad.created_time);\n  var campaignType = inferCampaignType(ad.campaign_id);\n  var platform     = inferPlatform(ad.ad_name);\n  var segment      = inferSegment(ad.ad_name);\n\n  var engagements = getAction(ad.actions, 'post_engagement');\n  var er = reach > 0 ? (engagements / reach * 100) : 0;\n\n  var igFollows       = getFollowsIG(ad.actions);\n  var igProfileVisits = parseInt(ad.instagram_profile_visits || 0);\n  var fbLikes         = getAction(ad.actions, 'like');\n\n  var followSignal = 0;\n  var followLabel  = '';\n  if (campaignType === 'FOLLOW') {\n    if (igFollows > 0) {\n      followSignal = igFollows + fbLikes;\n      followLabel = 'F:' + igFollows + (fbLikes > 0 ? '/L:' + fbLikes : '');\n    } else if (igProfileVisits > 0 || fbLikes > 0) {\n      followSignal = igProfileVisits + fbLikes;\n      followLabel = 'V:' + igProfileVisits + (fbLikes > 0 ? '/L:' + fbLikes : '');\n    } else {\n      followLabel = '0';\n    }\n  } else {\n    followLabel = '—';\n  }\n\n  var thruPlays    = getThruPlays(ad.video_thruplay_watched_actions);\n  var thruPlayRate = impressions > 0 ? (thruPlays / impressions * 100) : 0;\n\n  var videoViews3s = getAction(ad.actions, 'video_view');\n  var hookRate     = impressions > 0 ? (videoViews3s / impressions * 100) : 0;\n  var holdRate     = videoViews3s > 0 ? (thruPlays / videoViews3s * 100) : 0;\n  var isVideoAd    = videoViews3s > 0 || thruPlays > 0;\n\n  var cpm      = impressions > 0 ? (spend / impressions * 1000) : 0;\n  var saves    = getAction(ad.actions, 'onsite_conversion.post_net_save');\n\n  var cps    = (campaignType === 'FOLLOW' && followSignal > 0) ? Math.round(spend / followSignal) : null;\n  var cpsStr = cps !== null ? '$' + cps : 'N/A';\n\n  // KPI primario por plataforma para el nuevo diseño de email\n  var cpv = (campaignType === 'FOLLOW' && platform === 'IG' && igProfileVisits > 0)\n    ? Math.round(spend / igProfileVisits) : null;\n  var cpf = (campaignType === 'FOLLOW' && platform === 'FB' && fbLikes > 0)\n    ? Math.round(spend / fbLikes) : null;\n  var kpiStr = cpv !== null ? '$' + cpv + ' / visita'\n             : cpf !== null ? '$' + cpf + ' / like'\n             : (isVideoAd && videoViews3s > 0) ? 'Hold ' + holdRate.toFixed(0) + '%'\n             : cpsStr;\n\n  // Quality rankings desde nodo dedicado (no desde /insights — ese endpoint no los devuelve)\n  var qualRank = (qualityMap[ad.ad_id] && qualityMap[ad.ad_id].quality_ranking)\n    || ad.quality_ranking || 'UNKNOWN';\n  var engRank = (qualityMap[ad.ad_id] && qualityMap[ad.ad_id].engagement_rate_ranking)\n    || ad.engagement_rate_ranking || 'UNKNOWN';\n  var conRank = (qualityMap[ad.ad_id] && qualityMap[ad.ad_id].conversion_rate_ranking)\n    || ad.conversion_rate_ranking || 'UNKNOWN';\n\n  // effective_status real desde API (no el campo status que puede quedar desactualizado)\n  var effectiveStatus = adStatusMap[ad.ad_id] || 'UNKNOWN';\n  var isCurrentlyActive = effectiveStatus === 'ACTIVE';\n\n  var verdict = 'VIABLE';\n  var reasons = [];\n  if (!isCurrentlyActive) {\n    verdict = 'PAUSED';\n    reasons.push('Pausado — solo historial, sin gasto actual');\n  } else if (daysActive < 3) {\n    verdict = 'LEARNING';\n    reasons.push(daysActive + 'd activo, esperar 72h');\n  } else if (frequency > 3.5) {\n    verdict = 'FATIGUE';\n    reasons.push('Freq ' + frequency.toFixed(1) + ' > 3.5');\n  } else if (daysActive > 14) {\n    verdict = 'MAX_REACHED';\n    reasons.push(daysActive + 'd > 14 max');\n  } else if ((cps !== null && cps > 100) || er < 1 || ctr < 0.4) {\n    verdict = 'CORTAR';\n    if (cps !== null && cps > 100) reasons.push('CPS $' + cps + ' > $100');\n    if (er < 1)    reasons.push('ER ' + er.toFixed(1) + '% < 1%');\n    if (ctr < 0.4) reasons.push('CTR ' + ctr.toFixed(2) + '% < 0.4%');\n  } else if (cps !== null && cps < 30 && er > 3) {\n    verdict = 'WINNER';\n    reasons.push('CPS $' + cps + ' < $30, ER ' + er.toFixed(1) + '% > 3%');\n  } else if (daysActive >= 10) {\n    verdict = 'FATIGUE_WARNING';\n    reasons.push(daysActive + 'd, preparar reemplazo');\n  }\n\n  return {\n    adId: ad.ad_id, adName: ad.ad_name,\n    campaignType: campaignType, platform: platform, segment: segment,\n    daysActive: daysActive, impressions: impressions, reach: reach,\n    spend: Math.round(spend), cpm: cpm.toFixed(0),\n    ctr: ctr.toFixed(2), frequency: frequency.toFixed(1),\n    engagements: engagements, er: er.toFixed(1),\n    igFollows: igFollows, igProfileVisits: igProfileVisits, fbLikes: fbLikes,\n    followLabel: followLabel, followSignal: followSignal,\n    thruPlays: thruPlays, thruPlayRate: thruPlayRate.toFixed(1),\n    videoViews3s: videoViews3s,\n    hookRate: hookRate.toFixed(1), holdRate: holdRate.toFixed(1), isVideoAd: isVideoAd,\n    saves: saves,\n    cps: cpsStr, cpsRaw: cps,\n    cpv: cpv, cpf: cpf, kpiStr: kpiStr,\n    qualRank: qualRank, engRank: engRank, conRank: conRank,\n    effectiveStatus: effectiveStatus, isCurrentlyActive: isCurrentlyActive,\n    verdict: verdict, reason: reasons.join(', ') || 'Dentro de parametros'\n  };\n});\n\n// ── Segmentar ──────────────────────────────────────────────────────────\nvar followAds = results.filter(function(r) { return r.campaignType === 'FOLLOW'; });\nvar engAds    = results.filter(function(r) { return r.campaignType === 'ENG'; });\nvar awrAds    = results.filter(function(r) { return r.campaignType === 'AWR'; });\n\n// ── Totales ────────────────────────────────────────────────────────────\nvar totalSpend       = results.reduce(function(s, r) { return s + r.spend; }, 0);\nvar totalReach       = results.reduce(function(s, r) { return s + r.reach; }, 0);\nvar totalImpressions = results.reduce(function(s, r) { return s + r.impressions; }, 0);\nvar totalIgFollows   = followAds.reduce(function(s, r) { return s + r.igFollows; }, 0);\nvar totalIgVisits    = followAds.reduce(function(s, r) { return s + r.igProfileVisits; }, 0);\nvar totalFbLikes     = followAds.reduce(function(s, r) { return s + r.fbLikes; }, 0);\nvar totalSaves       = results.reduce(function(s, r) { return s + r.saves; }, 0);\nvar totalThruPlays   = results.reduce(function(s, r) { return s + r.thruPlays; }, 0);\nvar blendedCPM       = totalImpressions > 0 ? (totalSpend / totalImpressions * 1000).toFixed(0) : null;\nvar totalFollowSig   = followAds.reduce(function(s, r) {\n  var sig = r.igFollows > 0 ? r.igFollows + r.fbLikes : r.igProfileVisits + r.fbLikes;\n  return s + sig;\n}, 0);\nvar blendedCPS = totalFollowSig > 0 ? Math.round(totalSpend / totalFollowSig) : null;\n\n// ── Día de referencia ──────────────────────────────────────────────────\nvar refAd = results.find(function(r) { return r.campaignType === 'ENG' && r.daysActive > 0; });\nvar dayRef = refAd ? refAd.daysActive : results.reduce(function(m, r) { return Math.max(m, r.daysActive); }, 0);\n\n// ── Burn rate + presupuesto ────────────────────────────────────────────\n// Priorizar burn rate real (suma de budgets de ad sets activos) sobre promedio histórico\nvar burnRateDaily    = realBurnRate > 0 ? realBurnRate : (dayRef > 0 ? Math.round(totalSpend / dayRef) : 0);\nvar budgetRemaining  = CAMPAIGN_BUDGET_TOTAL - totalSpend;\nvar daysToEnd        = Math.max(0, Math.round((CAMPAIGN_END_DATE - now) / (1000 * 60 * 60 * 24)));\nvar daysAtBurn       = burnRateDaily > 0 ? Math.floor(budgetRemaining / burnRateDaily) : 999;\nvar budgetRisk       = daysAtBurn < daysToEnd; // true = presupuesto se agota antes que el plan\nvar exhaustDate      = new Date(now.getTime() + daysAtBurn * 24 * 60 * 60 * 1000);\nvar exhaustStr       = String(exhaustDate.getUTCDate()).padStart(2,'0') + '/'\n                     + String(exhaustDate.getUTCMonth()+1).padStart(2,'0');\n\n// ── Follower growth ────────────────────────────────────────────────────\nvar fbNetNew  = fbFollowersNow !== null ? fbFollowersNow - CAMPAIGN_BASELINE_FB : null;\nvar igNetNew  = igFollowersNow !== null ? igFollowersNow - CAMPAIGN_BASELINE_IG : null;\n// Follow rate IG: net new IG / total IG profile visits\nvar igFollowRate = (igNetNew !== null && igNetNew > 0 && totalIgVisits > 0)\n  ? (igNetNew / totalIgVisits * 100).toFixed(1) : null;\n\n// ── Segmento Cold/Retarget × FB/IG para Follow Plan ───────────────────\nvar segmentStats = {};\nfollowAds.forEach(function(r) {\n  var key = r.platform + '_' + r.segment;\n  if (!segmentStats[key]) {\n    segmentStats[key] = { platform: r.platform, segment: r.segment, spend: 0, follows: 0, visits: 0 };\n  }\n  segmentStats[key].spend   += r.spend;\n  segmentStats[key].follows += r.igFollows + r.fbLikes;\n  segmentStats[key].visits  += r.igProfileVisits;\n});\n\n// ── Split activos vs pausados ──────────────────────────────────────────\nvar activeResults = results.filter(function(r) { return r.isCurrentlyActive; });\nvar pausedResults = results.filter(function(r) { return !r.isCurrentlyActive; });\n\n// ── Post-process: HOLD PUENTE para FB FOLLOW ads en primeros 7d que serían CORTAR ──\n// Un ad FB joven con métricas débiles mantiene cobertura mientras no haya reemplazo.\n// Después del día 7 → CORTAR normal.\nactiveResults.forEach(function(r) {\n  if (r.campaignType === 'FOLLOW' && r.platform === 'FB' && r.daysActive < 7 && r.verdict === 'CORTAR') {\n    r.verdict = 'HOLD PUENTE';\n    r.reason = r.reason + ' — sin reemplazo FB, mantener por cobertura';\n  }\n});\n\n// ── Conteo veredictos (solo activos para el resumen ejecutivo) ─────────\nvar counts = {};\nactiveResults.forEach(function(r) { counts[r.verdict] = (counts[r.verdict] || 0) + 1; });\nvar summaryParts = [];\nif (counts.WINNER)              summaryParts.push(counts.WINNER + ' WINNER');\nif (counts.VIABLE)              summaryParts.push(counts.VIABLE + ' VIABLE');\nif (counts.LEARNING)            summaryParts.push(counts.LEARNING + ' LEARNING');\nif (counts['HOLD PUENTE'])      summaryParts.push(counts['HOLD PUENTE'] + ' HOLD PUENTE');\nif (counts.CORTAR)              summaryParts.push(counts.CORTAR + ' CORTAR');\nif (counts.FATIGUE)             summaryParts.push(counts.FATIGUE + ' FATIGUE');\nif (counts.FATIGUE_WARNING)     summaryParts.push(counts.FATIGUE_WARNING + ' WARNING');\nif (counts.MAX_REACHED)         summaryParts.push(counts.MAX_REACHED + ' MAX');\nvar summaryStr = summaryParts.join(' | ') || 'Sin datos';\n\n// ── Estilos HTML ───────────────────────────────────────────────────────\nfunction verdictStyle(v) {\n  var map = {\n    WINNER:          { color: '#16a34a', bg: '#f0fdf4' },\n    VIABLE:          { color: '#2563eb', bg: '#eff6ff' },\n    LEARNING:        { color: '#7c3aed', bg: '#f5f3ff' },\n    'HOLD PUENTE':   { color: '#92400e', bg: '#fef3c7' },\n    CORTAR:          { color: '#dc2626', bg: '#fef2f2' },\n    FATIGUE:         { color: '#ea580c', bg: '#fff7ed' },\n    FATIGUE_WARNING: { color: '#ca8a04', bg: '#fefce8' },\n    MAX_REACHED:     { color: '#dc2626', bg: '#fef2f2' },\n  };\n  return map[v] || { color: '#6b7280', bg: '#f9fafb' };\n}\nfunction typeBadge(type) {\n  var colors = { FOLLOW: '#7c3aed', ENG: '#2563eb', AWR: '#0891b2', LEA: '#059669', TRF: '#d97706' };\n  return '<span style=\"background:' + (colors[type] || '#9ca3af') + ';color:white;padding:1px 5px;border-radius:3px;font-size:10px;\">' + type + '</span>';\n}\nfunction rankBadge(val) {\n  var info = rankingInfo(val);\n  return '<span style=\"color:' + info.color + ';font-weight:bold;font-size:10px;\">' + info.label + '</span>';\n}\n\n// ── Mapping veredicto interno → display / acción ──────────────────────\n// Los valores internos (FATIGUE_WARNING, MAX_REACHED, etc.) se mantienen\n// para Bruno prompt y lógica interna. Solo el email muestra los nuevos nombres.\nfunction verdictDisplay(v) {\n  var map = { FATIGUE_WARNING: 'WARNING', MAX_REACHED: 'REEMPLAZAR', FATIGUE: 'REEMPLAZAR' };\n  return map[v] || v;\n}\nfunction verdictAction(v) {\n  var d = verdictDisplay(v);\n  var map = {\n    WINNER: 'ESCALAR', VIABLE: 'MANTENER', LEARNING: 'ESPERAR 72H',\n    WARNING: 'ROTAR CREATIVO', 'HOLD PUENTE': 'HOLD PUENTE',\n    REEMPLAZAR: 'REEMPLAZAR', CORTAR: 'PAUSAR', PAUSED: '—'\n  };\n  return map[d] || '—';\n}\nfunction verdictCellStyle(v) {\n  var d = verdictDisplay(v);\n  var map = {\n    WINNER:          { bg: '#dcfce7', color: '#15803d' },\n    VIABLE:          { bg: '#dbeafe', color: '#1d4ed8' },\n    LEARNING:        { bg: '#ede9fe', color: '#6d28d9' },\n    WARNING:         { bg: '#fef9c3', color: '#92400e' },\n    'HOLD PUENTE':   { bg: '#fef3c7', color: '#92400e' },\n    REEMPLAZAR:      { bg: '#fce7f3', color: '#9d174d' },\n    CORTAR:          { bg: '#fee2e2', color: '#b91c1c' },\n    PAUSED:          { bg: '#f1f5f9', color: '#94a3b8' },\n  };\n  return map[d] || { bg: '#f9fafb', color: '#6b7280' };\n}\nfunction kpiCellStyle(r) {\n  // Verde si KPI bajo umbral, rojo si alto\n  if (r.cpv !== null) return r.cpv < 30 ? 'background:#dcfce7;color:#15803d;font-weight:bold;' : r.cpv > 80 ? 'background:#fef2f2;color:#b91c1c;font-weight:bold;' : 'color:#92400e;font-weight:bold;';\n  if (r.cpf !== null) return r.cpf < 80 ? 'background:#dcfce7;color:#15803d;font-weight:bold;' : r.cpf > 100 ? 'background:#fef2f2;color:#b91c1c;font-weight:bold;' : 'color:#92400e;font-weight:bold;';\n  return '';\n}\n\n// ── Función fila tabla ─────────────────────────────────────────────────\n// Tabla activos — nueva (11 cols, agrupada por plataforma)\nfunction makeActiveRow(r) {\n  var vd = verdictDisplay(r.verdict);\n  var va = verdictAction(r.verdict);\n  var vs = verdictCellStyle(r.verdict);\n  var ks = kpiCellStyle(r);\n  var dayStyle = r.daysActive >= 10 ? 'color:#b91c1c;font-weight:bold;' : '';\n  var ctrStyle = parseFloat(r.ctr) < 0.4 ? 'color:#b91c1c;font-weight:bold;background:#fef2f2;' : parseFloat(r.ctr) > 0.8 ? 'color:#15803d;font-weight:bold;background:#f0fdf4;' : '';\n  var erStyle  = parseFloat(r.er)  < 1   ? 'color:#b91c1c;font-weight:bold;background:#fef2f2;' : parseFloat(r.er)  > 3   ? 'color:#15803d;font-weight:bold;background:#f0fdf4;' : '';\n  // Veredicto·Acción: mostrar ambos solo si difieren\n  var verdCell = vd === va\n    ? '<span style=\"background:' + vs.bg + ';color:' + vs.color + ';font-weight:bold;padding:2px 6px;border-radius:3px;font-size:10px;white-space:nowrap;\">' + vd + '</span>'\n    : '<span style=\"background:' + vs.bg + ';color:' + vs.color + ';font-weight:bold;padding:2px 6px;border-radius:3px;font-size:10px;white-space:nowrap;\">' + vd + '</span>'\n      + '<br><span style=\"background:' + vs.bg + ';color:' + vs.color + ';padding:2px 5px;border-radius:3px;font-size:9px;white-space:nowrap;display:inline-block;margin-top:2px;\">' + va + '</span>';\n  return '<tr style=\"border-bottom:1px solid #f1f5f9;\">'\n    + '<td style=\"padding:5px 7px;font-size:11px;max-width:175px;white-space:normal;\">' + r.adName + '</td>'\n    + '<td style=\"padding:4px 6px;text-align:center;\">' + typeBadge(r.campaignType) + '</td>'\n    + '<td style=\"padding:4px 6px;text-align:center;font-size:11px;' + dayStyle + '\">' + r.daysActive + 'd</td>'\n    + '<td style=\"padding:4px 6px;text-align:right;font-size:11px;\">$' + r.spend.toLocaleString() + '</td>'\n    + '<td style=\"padding:4px 6px;text-align:right;font-size:11px;\">' + r.reach.toLocaleString() + '</td>'\n    + '<td style=\"padding:4px 6px;text-align:center;font-size:11px;' + ctrStyle + '\">' + r.ctr + '%</td>'\n    + '<td style=\"padding:4px 6px;text-align:center;font-size:11px;' + erStyle  + '\">' + r.er  + '%</td>'\n    + '<td style=\"padding:4px 6px;text-align:center;font-size:11px;\">' + r.frequency + '</td>'\n    + '<td style=\"padding:4px 6px;text-align:center;font-size:11px;' + ks + '\">' + r.kpiStr + '</td>'\n    + '<td style=\"padding:4px 6px;text-align:center;min-width:90px;\">' + verdCell + '</td>'\n    + '<td style=\"padding:4px 6px;font-size:10px;color:#64748b;max-width:140px;white-space:normal;\">' + r.reason + '</td>'\n    + '</tr>';\n}\n\n// Tabla pausados — simplificada\nfunction makePausedRow(r) {\n  return '<tr style=\"border-bottom:1px solid #f1f5f9;\">'\n    + '<td style=\"padding:3px 6px;font-size:10px;\">' + r.adName + '</td>'\n    + '<td style=\"padding:3px 6px;text-align:center;\">' + typeBadge(r.campaignType) + '</td>'\n    + '<td style=\"padding:3px 6px;text-align:center;font-size:10px;\">' + r.daysActive + 'd</td>'\n    + '<td style=\"padding:3px 6px;text-align:right;font-size:10px;\">$' + r.spend.toLocaleString() + '</td>'\n    + '<td style=\"padding:3px 6px;text-align:center;font-size:10px;\">' + r.ctr + '%</td>'\n    + '<td style=\"padding:3px 6px;text-align:center;font-size:10px;\">' + r.er + '%</td>'\n    + '<td style=\"padding:3px 6px;font-size:10px;\">' + r.kpiStr + '</td>'\n    + '<td style=\"padding:3px 6px;font-size:10px;color:#64748b;\">' + r.reason + '</td>'\n    + '</tr>';\n}\n\n// Agrupado por plataforma para tabla activos\nfunction makePlatformGroup(ads, icon, label, colCount) {\n  if (ads.length === 0) return '';\n  var sepTd = '<td colspan=\"' + colCount + '\" style=\"background:#f8fafc;font-size:9px;font-weight:bold;color:#94a3b8;padding:3px 7px;letter-spacing:0.07em;text-transform:uppercase;border-top:2px solid #e2e8f0;\">'\n    + icon + ' ' + label + '</td>';\n  return '<tr>' + sepTd + '</tr>' + ads.map(makeActiveRow).join('\\n');\n}\n\nvar verdictSortOrder = { 'WINNER': 0, 'VIABLE': 1, 'LEARNING': 2, 'HOLD PUENTE': 3, 'WARNING': 4, 'REEMPLAZAR': 5, 'CORTAR': 6 };\nfunction sortByVerdict(a, b) {\n  var oa = verdictSortOrder[verdictDisplay(a.verdict)];\n  var ob = verdictSortOrder[verdictDisplay(b.verdict)];\n  return (oa !== undefined ? oa : 99) - (ob !== undefined ? ob : 99);\n}\n\nvar igActive  = activeResults.filter(function(r) { return r.platform === 'IG'; });\nvar fbActive  = activeResults.filter(function(r) { return r.platform === 'FB'; });\nvar engActive = activeResults.filter(function(r) { return r.campaignType === 'ENG' && r.platform !== 'IG' && r.platform !== 'FB'; });\n// ENG ads que son IG o FB ya caen en igActive/fbActive — separar por campaignType\nigActive  = activeResults.filter(function(r) { return r.platform === 'IG' && r.campaignType !== 'ENG'; });\nfbActive  = activeResults.filter(function(r) { return r.platform === 'FB' && r.campaignType !== 'ENG'; });\nengActive = activeResults.filter(function(r) { return r.campaignType === 'ENG'; });\n\nigActive.sort(sortByVerdict);\nfbActive.sort(sortByVerdict);\nengActive.sort(sortByVerdict);\n\nvar activeTableRows = makePlatformGroup(igActive,  '📱', 'Instagram', 11)\n  + makePlatformGroup(fbActive,  '👍', 'Facebook', 11)\n  + makePlatformGroup(engActive, '🎬', 'Engagement', 11);\n\n// Motivo pausa específico por ad (mejor que el genérico \"solo historial\")\nfunction inferPauseReason(r) {\n  if (r.adName.match(/piece0[0-9]|piece[0-9]/)) return 'AWR campana lanzamiento &mdash; historial';\n  if (r.adName.match(/reel4h[A-Za-z]/) && r.campaignType === 'AWR') return 'AWR historial &mdash; datos de D4 preservados';\n  if (r.adName.match(/regalos|corporativo_C|reelPV/)) return 'Campana lanzamiento &mdash; historial';\n  if (r.isVideoAd && r.holdRate > 20) return 'ENG &mdash; Hold ' + r.holdRate + '% &middot; D4 se nutre de este ad';\n  if (r.cpsRaw !== null && r.cpsRaw > 100) return 'CPF $' + r.cpsRaw + ' &gt; $100 (umbral)';\n  if (r.cpv !== null && r.cpv > 80) return 'CPV $' + r.cpv + ' &gt; $80 (umbral)';\n  if (r.daysActive > 14) return 'M&aacute;x ' + r.daysActive + 'd &mdash; reemplazado';\n  return 'Pausado &mdash; historial';\n}\n\n// Ordenar por días activos (más recientes primero) y separar recientes vs históricos\nvar sortedPaused = pausedResults.slice().sort(function(a, b) { return a.daysActive - b.daysActive; });\nvar PAUSED_SHOW_MAX = 8;\nvar recentPausedRows = sortedPaused.slice(0, PAUSED_SHOW_MAX);\nvar historicalPausedRows = sortedPaused.slice(PAUSED_SHOW_MAX);\n\nfunction makePausedRowRich(r) {\n  return '<tr style=\"border-bottom:1px solid #f1f5f9;\">'\n    + '<td style=\"padding:3px 6px;font-size:10px;\">' + r.adName + '</td>'\n    + '<td style=\"padding:3px 6px;text-align:center;\">' + typeBadge(r.campaignType) + '</td>'\n    + '<td style=\"padding:3px 6px;text-align:center;font-size:10px;\">' + r.daysActive + 'd</td>'\n    + '<td style=\"padding:3px 6px;text-align:right;font-size:10px;\">$' + r.spend.toLocaleString() + '</td>'\n    + '<td style=\"padding:3px 6px;text-align:center;font-size:10px;\">' + r.ctr + '%</td>'\n    + '<td style=\"padding:3px 6px;text-align:center;font-size:10px;\">' + r.er + '%</td>'\n    + '<td style=\"padding:3px 6px;font-size:10px;\">' + r.kpiStr + '</td>'\n    + '<td style=\"padding:3px 6px;font-size:10px;color:#64748b;\">' + inferPauseReason(r) + '</td>'\n    + '</tr>';\n}\n\nvar pausedTableRows = recentPausedRows.map(makePausedRowRich).join('\\n')\n  + (historicalPausedRows.length > 0\n    ? '<tr><td colspan=\"8\" style=\"padding:4px 8px;font-size:10px;color:#94a3b8;font-style:italic;\">+ '\n      + historicalPausedRows.length + ' ads hist&oacute;ricos adicionales (AWR pausados, ENG v1, Follow Plan v1)</td></tr>'\n    : '');\n\n// ── Panel Quality Rankings ─────────────────────────────────────────────\nvar qualityRows = results.map(function(r) {\n  return '<tr style=\"border-bottom:1px solid #e5e7eb;\">'\n    + '<td style=\"padding:4px 8px;font-size:11px;\">' + r.adName + '</td>'\n    + '<td style=\"padding:4px;text-align:center;\">' + typeBadge(r.campaignType) + '</td>'\n    + '<td style=\"padding:4px;text-align:center;\">' + rankBadge(r.qualRank) + '</td>'\n    + '<td style=\"padding:4px;text-align:center;\">' + rankBadge(r.engRank) + '</td>'\n    + '<td style=\"padding:4px;text-align:center;\">' + rankBadge(r.conRank) + '</td>'\n    + '</tr>';\n}).join('\\n');\n\n// ── Prompt Bruno ───────────────────────────────────────────────────────\nfunction makeBrunoSection(ads, title) {\n  if (ads.length === 0) return '';\n  var hdr = '| Ad | Plat | Seg | Dias | Spend | CPM | Reach | CTR | ER | Hook% | Hold% | ThruPlay | IG Visits | FB Likes | Saves | CPS | Freq | QualRank | EngRank | Veredicto | Razon |';\n  var sep = '|---|---|---|---|---|---|---|---|---|---|---|---|---|---|---|---|---|---|---|---|---|';\n  var rows = ads.map(function(r) {\n    var tp = r.thruPlays > 0 ? r.thruPlayRate + '% (' + r.thruPlays + ')' : 'N/A';\n    return '| ' + r.adName + ' | ' + r.platform + ' | ' + r.segment\n      + ' | ' + r.daysActive + 'd'\n      + ' | $' + r.spend + ' | $' + r.cpm\n      + ' | ' + r.reach\n      + ' | ' + r.ctr + '% | ' + r.er + '%'\n      + ' | ' + (r.isVideoAd ? r.hookRate + '%' : '—')\n      + ' | ' + (r.isVideoAd && r.videoViews3s > 0 ? r.holdRate + '%' : '—')\n      + ' | ' + tp\n      + ' | ' + r.igProfileVisits\n      + ' | ' + r.fbLikes\n      + ' | ' + r.saves\n      + ' | ' + r.cps + ' | ' + r.frequency\n      + ' | ' + r.qualRank + ' | ' + r.engRank\n      + ' | ' + r.verdict + ' | ' + r.reason + ' |';\n  }).join('\\n');\n  return '\\n### ' + title + '\\n\\n' + hdr + '\\n' + sep + '\\n' + rows + '\\n';\n}\n\n// Tabla segmentos Cold/Retarget × FB/IG\nvar segTableLines = ['| Segmento | Spend | Follows/Likes | Visits IG | CPF/CPV |',\n                     '|---|---|---|---|---|'];\nObject.keys(segmentStats).sort().forEach(function(key) {\n  var s = segmentStats[key];\n  var cpf = s.follows > 0 ? '$' + Math.round(s.spend / s.follows) : '—';\n  var cpv = s.visits > 0 && s.platform === 'IG' ? '$' + Math.round(s.spend / s.visits) : '—';\n  segTableLines.push('| ' + s.platform + ' ' + s.segment\n    + ' | $' + s.spend + ' | ' + s.follows + ' | ' + s.visits\n    + ' | ' + (s.platform === 'FB' ? cpf : cpv) + ' |');\n});\n\n// ENG D4 context\nvar engThruTotal = engAds.reduce(function(s, r) { return s + r.thruPlays; }, 0);\nvar d4Context = engThruTotal > 0\n  ? '\\n### D4 Custom Audience (Video Viewers)\\n'\n    + engThruTotal.toLocaleString() + ' ThruPlays acumulados en ENG. '\n    + 'D4 debería tener volumen para warm retargeting. '\n    + 'Verificar en Ads Manager → Audiences → D4 Video Viewers.\\n'\n    + 'Los ENG reels tienen valor estratégico aunque no generen follows directos: '\n    + 'alimentan la custom audience que baja el CPF en Follow FB Retarget.\\n'\n  : '';\n\n// Follower summary para prompt\nvar followerSummary = '';\nif (fbFollowersNow !== null || igFollowersNow !== null) {\n  followerSummary = '\\n## Estado de seguidores (API en tiempo real)\\n';\n  if (fbFollowersNow !== null) {\n    followerSummary += '| Plataforma | Ahora | Baseline 22/04 | Nuevos |\\n';\n    followerSummary += '|---|---|---|---|\\n';\n    followerSummary += '| Facebook | ' + fbFollowersNow + ' | ' + CAMPAIGN_BASELINE_FB + ' | +' + (fbFollowersNow - CAMPAIGN_BASELINE_FB) + ' |\\n';\n    if (igFollowersNow !== null) {\n      followerSummary += '| Instagram | ' + igFollowersNow + ' | ' + CAMPAIGN_BASELINE_IG + ' | +' + (igFollowersNow - CAMPAIGN_BASELINE_IG) + ' |\\n';\n    }\n  }\n  if (igFollowRate !== null) {\n    followerSummary += '\\n⚠ **Follow rate IG**: ' + igNetNew + ' nuevos IG / ' + totalIgVisits + ' profile visits = **' + igFollowRate + '%**'\n      + ' (benchmark 15–35%). '\n      + (parseFloat(igFollowRate) < 10 ? '🔴 Perfil no convierte — revisar bio, grid y highlights antes de escalar Follow IG.' : '✅ Conversión aceptable.')\n      + '\\n';\n  }\n}\n\n// Burn rate para prompt\nvar burnSummary = '\\n## Presupuesto y burn rate\\n'\n  + '| | |\\n|---|---|\\n'\n  + '| Presupuesto total | $' + CAMPAIGN_BUDGET_TOTAL.toLocaleString() + ' |\\n'\n  + '| Gastado (acumulado) | $' + totalSpend.toLocaleString() + ' |\\n'\n  + '| Restante | $' + Math.round(budgetRemaining).toLocaleString() + ' |\\n'\n  + '| Burn rate (promedio/día) | $' + burnRateDaily.toLocaleString() + ' |\\n'\n  + '| Días restantes del plan | ' + daysToEnd + ' (hasta 16/05) |\\n'\n  + '| Días de presupuesto al ritmo actual | ' + daysAtBurn + ' |\\n'\n  + (budgetRisk\n    ? '\\n🔴 **RIESGO PRESUPUESTO**: al ritmo actual ($' + burnRateDaily.toLocaleString() + '/día), el presupuesto se agota el '\n      + exhaustStr + ' — **' + (daysToEnd - daysAtBurn) + ' días antes del cierre del plan**. '\n      + 'Para llegar al 16/05 el budget diario máximo es $' + Math.round(budgetRemaining / daysToEnd).toLocaleString() + '/día.\\n'\n    : '\\n✅ Presupuesto alcanza hasta el final del plan y más.\\n');\n\n// ── Orquestador de campaña ─────────────────────────────────────────────\nvar fbNetNewStr  = fbNetNew !== null ? '+' + fbNetNew : '?';\nvar igNetNewStr  = igNetNew !== null ? '+' + igNetNew : '?';\nvar totalNetNew  = (fbNetNew || 0) + (igNetNew || 0);\nvar GOAL_ADJUSTED = 6500; // meta ajustada por Jose (original 10.000)\nvar gapToGoal    = GOAL_ADJUSTED - (fbFollowersNow || CAMPAIGN_BASELINE_FB) - (igFollowersNow || CAMPAIGN_BASELINE_IG);\nvar orchestratorSection =\n  '## CONTEXTO DE CAMPANA — Orquestador\\n\\n'\n  + 'Mision: 6.500 seguidores IG+FB en 27 dias de pauta (19/04 – 16/05/2026). Meta ajustada por Jose.\\n'\n  + 'Datos frescos al: ' + todayStr + ' ' + String(artNow.getUTCHours()).padStart(2,'0') + ':' + String(artNow.getUTCMinutes()).padStart(2,'0') + ' ART'\n  + (burnRateSource === 'ad_set_budgets' ? ' | Burn rate: sum ad_set budgets activos' : ' | Burn rate: promedio historico')\n  + (freshnessWarning ? ' | AVISO: ' + freshnessWarning : '')\n  + '\\n\\n'\n  + '### Posicion actual: Dia ' + dayRef + ' de 27\\n'\n  + '- Seguidores FB: ' + (fbFollowersNow || '?') + ' (baseline 23 → ' + fbNetNewStr + ' nuevos)\\n'\n  + '- Seguidores IG: ' + (igFollowersNow || '?') + ' (baseline 11 → ' + igNetNewStr + ' nuevos)\\n'\n  + '- Total nuevos: ' + totalNetNew + ' / objetivo 6.500 | Gap: ' + gapToGoal + ' seguidores\\n\\n'\n  + '### Budget\\n'\n  + '- Gastado: $' + totalSpend.toLocaleString() + ' / $500.000\\n'\n  + '- Restante: $' + Math.round(budgetRemaining).toLocaleString() + '\\n'\n  + '- Burn rate REAL (sum ad sets activos): $' + burnRateDaily.toLocaleString() + '/dia\\n'\n  + '- Dias restantes: ' + daysToEnd + '\\n'\n  + (budgetRisk ? '- RIESGO: presupuesto se agota el ' + exhaustStr + ' — ' + (daysToEnd - daysAtBurn) + ' dias antes del 16/05\\n' : '- OK: presupuesto alcanza hasta el 16/05\\n')\n  + '\\n### Ads ACTIVOS ahora (' + activeResults.length + ' ads gastan dinero)\\n'\n  + activeResults.map(function(r) { return '- ' + r.adName + ' [' + r.verdict + ']'; }).join('\\n') + '\\n'\n  + '\\n### Ads PAUSADOS (' + pausedResults.length + ' ads — solo historial)\\n'\n  + pausedResults.map(function(r) { return '- ' + r.adName; }).join('\\n') + '\\n'\n  + '\\n### Lo que sabemos que FUNCIONA\\n'\n  + '- WINNER: ENBA_ad_corporativo_IG_Cold — CPV $26, ER 4.9%, imagen estatica (NO video)\\n'\n  + '- Follow FB: destinos_FB_Cold — CPF $89, ABOVE_AVERAGE, imagen\\n'\n  + '- ENG: reel4horas — Hook 57%, ER 64.9%, alimenta D4 (3.600-4.200 personas)\\n\\n'\n  + '### Hipotesis FALSADAS\\n'\n  + '- FALSADA: Video-first — el WINNER es imagen estatica. Micro-reels en FB tienen CPM 4x mas caro.\\n'\n  + '- FALSADA: Retarget siempre mas barato — en FB retarget es MAS CARO que cold (anomalia).\\n\\n'\n  + '### Decisiones pendientes (bloquean escalado)\\n'\n  + '1. Perfil IG no convierte (follow rate 3.2% vs benchmark 15-35%) — requiere Marina\\n'\n  + '2. Reemplazo creativo para reel4horas (FATIGUE_WARNING dia ' + dayRef + ') — requiere Dani\\n'\n  + '3. 3 ads ACTIVOS + CORTAR: microreel_FB_Cold, microreel_FB_Retarget, nosotros_FB_Retarget — pendiente Jose\\n\\n'\n  + '---\\n\\n';\n\n// ── Time string (necesario para Bruno prompt y subject) ───────────────\nvar timeStr = String(artNow.getUTCHours()).padStart(2,'0') + ':' + String(artNow.getUTCMinutes()).padStart(2,'0');\n\n// ── Bruno prompt — nuevo formato ───────────────────────────────────────\nvar currentDailyPace = dayRef > 0 ? Math.round(totalNetNew / dayRef) : 0;\nvar paceNeeded = daysToEnd > 0 ? Math.round(gapToGoal / daysToEnd) : 0;\nvar projectedEnd = Math.round((fbFollowersNow || CAMPAIGN_BASELINE_FB) + (igFollowersNow || CAMPAIGN_BASELINE_IG) + currentDailyPace * daysToEnd);\nvar budgetStatusStr = budgetRisk\n  ? 'RIESGO — se agota el ' + exhaustStr\n  : 'OK — alcanza hasta 16/05';\n\nvar brunoAdsTable = activeResults.map(function(r) {\n  var plat = r.campaignType === 'ENG' ? 'ENG' : r.platform;\n  return plat + ' | ' + r.adName + ' | ' + r.kpiStr + ' | ' + verdictDisplay(r.verdict);\n}).join('\\n');\n\n// Gaps estructurales auto-generados\nvar gapLines = [];\nvar hasRetargetFB = activeResults.some(function(r) { return r.platform === 'FB' && r.segment === 'Retarget'; });\nif (!hasRetargetFB) gapLines.push('- Sin retarget FB activo — funnel 100% cold, CPF inflado.');\nvar warnAds = activeResults.filter(function(r) { return verdictDisplay(r.verdict) === 'WARNING'; });\nif (warnAds.length > 0) gapLines.push('- Ads en WARNING (rotar creativo urgente): ' + warnAds.map(function(r) { return r.adName + ' (' + r.daysActive + 'd)'; }).join(', '));\nvar learningAds = activeResults.filter(function(r) { return r.verdict === 'LEARNING'; });\nif (learningAds.length > 0) gapLines.push('- Ads en LEARNING — revisar manana: ' + learningAds.map(function(r) { return r.adName; }).join(', '));\nvar replaceAds = activeResults.filter(function(r) { return verdictDisplay(r.verdict) === 'REEMPLAZAR'; });\nif (replaceAds.length > 0) gapLines.push('- Ads para reemplazar (sin pausar hasta tener reemplazo): ' + replaceAds.map(function(r) { return r.adName; }).join(', '));\nif (engThruTotal > 100) gapLines.push('- D4 tiene ' + engThruTotal.toLocaleString() + ' ThruPlays — evaluar si tiene volumen para retarget.');\n\nvar brunoPrompt = 'Contexto REDES. Carga /bruno.\\n\\n'\n  + '## Corte temporal\\n'\n  + todayStr + ' · ' + timeStr + ' ART · Dia ' + dayRef + ' de ' + CAMPAIGN_TOTAL_DAYS + ' · Campana 19/04–16/05/2026.\\n'\n  + 'Datos con corte fijo. No tengo delta vs ayer. Trabajar con snapshot actual.\\n'\n  + (freshnessWarning ? '\\nAVISO: ' + freshnessWarning + '\\n' : '')\n  + '\\n## Objetivo vigente\\n'\n  + 'Meta ajustada por Jose: ' + GOAL_ADJUSTED.toLocaleString() + ' seguidores totales IG+FB.\\n'\n  + 'Proyeccion al 16/05 al ritmo actual: ~' + projectedEnd.toLocaleString() + ' seguidores.\\n'\n  + 'Pace necesario: ' + paceNeeded + ' seguidores/dia. Ritmo actual: ~' + currentDailyPace + '/dia'\n  + (paceNeeded > 0 && currentDailyPace < paceNeeded ? ' → DEFICIT.' : ' → OK.') + '\\n'\n  + 'Presupuesto restante: $' + Math.round(budgetRemaining).toLocaleString()\n  + ' · Burn: $' + burnRateDaily.toLocaleString() + '/dia · ' + budgetStatusStr + '\\n'\n  + '\\n## Seguidores ahora (API)\\n'\n  + 'FB: ' + (fbFollowersNow || '?') + ' (+' + (fbNetNew || 0) + ' desde 22/04)'\n  + ' · IG: ' + (igFollowersNow || '?') + ' (+' + (igNetNew || 0) + ' desde 22/04)'\n  + ' · Total nuevos: ' + totalNetNew + '\\n'\n  + (igFollowRate !== null ? 'Follow rate IG: ' + igFollowRate + '% → objetivo operativo >5%, >8% fuerte.\\n' : '')\n  + '\\n## Ads activos — snapshot ' + timeStr + ' ART\\n'\n  + 'Plataforma | Ad | KPI ENBA | Veredicto\\n'\n  + brunoAdsTable + '\\n'\n  + '\\n## Gaps estructurales\\n'\n  + (gapLines.length > 0 ? gapLines.join('\\n') : '- Sin gaps criticos detectados.') + '\\n'\n  + '\\n## Benchmarks 2026\\n'\n  + '- CPV IG ($/visita perfil): < $30 WINNER, $30-$80 viable, > $80 WARNING\\n'\n  + '- CPF FB ($/page like): < $80 bueno, $80-$100 limite, > $100 CORTAR\\n'\n  + '- Hold% (video): > 30% bueno, > 40% excelente\\n'\n  + '- CTR: > 0.8% bueno IG/FB, < 0.4% alerta\\n'\n  + '- ER: > 3% bueno, < 1% problema\\n'\n  + '- Follow rate IG (visita→follow): > 8% fuerte, > 5% aceptable, < 5% critico\\n'\n  + '\\n## Historial — PAUSADOS (sin gasto actual)\\n'\n  + makeBrunoSection(pausedResults, 'Ads pausados — referencia historica')\n  + '\\n## Tu tarea\\n'\n  + '1. Confirma o corregi cada veredicto automatico (solo ads ACTIVOS).\\n'\n  + '2. Propone acciones concretas con impacto presupuestario estimado.\\n'\n  + '3. Identifica el gap mas urgente a resolver hoy.\\n'\n  + '4. Entrega tu analisis en <= 300 palabras y espera aprobacion antes de ejecutar.';\n\n// subject (diagLines vive solo en el HTML — se define abajo)\nvar followDisplay = totalIgFollows > 0\n  ? 'IG F:' + totalIgFollows + ' FB L:' + totalFbLikes\n  : 'IG V:' + totalIgVisits + ' FB L:' + totalFbLikes;\nvar subject = '[ENBA Ads] ' + todayStr + ' ' + timeStr\n  + ' | ' + summaryStr\n  + ' | $' + totalSpend.toLocaleString()\n  + ' | ' + followDisplay\n  + ' | Saves:' + totalSaves\n  + (budgetRisk ? ' | BURN' : '')\n  + (freshnessWarning ? ' | DATOS VIEJOS' : '');\n\n// ── Pre-cálculo KPIs para hero block ──────────────────────────────────\nvar bestCpvIG = null, bestCpvVerdict = '';\nvar bestCpfFB = null, bestCpfAdShort = '';\nactiveResults.forEach(function(r) {\n  if (r.cpv !== null && (bestCpvIG === null || r.cpv < bestCpvIG)) {\n    bestCpvIG = r.cpv;\n    bestCpvVerdict = verdictDisplay(r.verdict);\n  }\n  if (r.cpf !== null && (bestCpfFB === null || r.cpf < bestCpfFB)) {\n    bestCpfFB = r.cpf;\n    var parts = r.adName.split('_');\n    bestCpfAdShort = parts.slice(-2).join('_');\n  }\n});\n\n// ── HTML email v7 — Gmail compatible (table-based layout) ──────────────\nvar diagLines = Object.keys(diagActionTypes).sort().map(function(k) {\n  return k + ': ' + diagActionTypes[k];\n});\n\n// Verdicts pills — aggregate counts (display:inline-block — Gmail-safe)\nvar verdictCounts = {};\nactiveResults.forEach(function(r) {\n  var vd = verdictDisplay(r.verdict);\n  verdictCounts[vd] = (verdictCounts[vd] || 0) + 1;\n});\nvar verdictOrder = [\n  { v: 'WINNER',       color: '#15803d', bg: '#dcfce7' },\n  { v: 'VIABLE',       color: '#1d4ed8', bg: '#dbeafe' },\n  { v: 'LEARNING',     color: '#6d28d9', bg: '#ede9fe' },\n  { v: 'WARNING',      color: '#92400e', bg: '#fef9c3' },\n  { v: 'HOLD PUENTE',  color: '#92400e', bg: '#fef3c7' },\n  { v: 'REEMPLAZAR',   color: '#9d174d', bg: '#fce7f3' },\n  { v: 'CORTAR',       color: '#b91c1c', bg: '#fee2e2' }\n];\nvar verdictPills = verdictOrder.map(function(item) {\n  var count = verdictCounts[item.v] || 0;\n  var style = 'display:inline-block;margin:2px 4px 2px 0;font-size:11px;font-weight:bold;'\n    + 'background:' + item.bg + ';color:' + item.color + ';padding:2px 10px;border-radius:10px;'\n    + (count === 0 ? 'opacity:0.45;' : '');\n  return '<span style=\"' + style + '\">' + count + ' ' + item.v + '</span>';\n}).join('');\n\n// Progress\nvar progressPct = Math.min(100, Math.round(((fbFollowersNow || CAMPAIGN_BASELINE_FB) + (igFollowersNow || CAMPAIGN_BASELINE_IG)) / GOAL_ADJUSTED * 100));\nvar totalFollowers = (fbFollowersNow || CAMPAIGN_BASELINE_FB) + (igFollowersNow || CAMPAIGN_BASELINE_IG);\nvar barColor = progressPct >= 70 ? '#16a34a' : progressPct >= 40 ? '#ca8a04' : '#dc2626';\n\n// Follow rate color\nvar frColor = igFollowRate !== null ? (parseFloat(igFollowRate) >= 8 ? '#4ade80' : parseFloat(igFollowRate) >= 5 ? '#fbbf24' : '#f87171') : '#94a3b8';\n\n// Auto-insights\nvar insightLines = [];\nvar winnerAds    = activeResults.filter(function(r) { return r.verdict === 'WINNER'; });\nvar cortarAds    = activeResults.filter(function(r) { return verdictDisplay(r.verdict) === 'CORTAR'; });\nvar warnAdsI     = activeResults.filter(function(r) { return verdictDisplay(r.verdict) === 'WARNING'; });\nvar reemplazarAds = activeResults.filter(function(r) { return verdictDisplay(r.verdict) === 'REEMPLAZAR'; });\nvar learningAdsI = activeResults.filter(function(r) { return r.verdict === 'LEARNING'; });\nvar hasRetargetFBI = activeResults.some(function(r) { return r.platform === 'FB' && r.segment === 'Retarget'; });\n\nif (!hasRetargetFBI) insightLines.push({ icon: '&#128308;', text: '<b>Sin retarget FB activo.</b> Funnel FB 100% cold &mdash; se paga CPF de audiencia fr&iacute;a sin aprovechar quienes ya interactuaron.' });\nif (cortarAds.length > 0)    insightLines.push({ icon: '&#128308;', text: '<b>' + cortarAds.length + ' ads para CORTAR:</b> ' + cortarAds.map(function(r) { return r.adName + ' (' + r.kpiStr + ')'; }).join(', ') + '.' });\nif (warnAdsI.length > 0)     insightLines.push({ icon: '&#128993;', text: '<b>' + warnAdsI.length + ' ads en WARNING &mdash; rotar creativo urgente:</b> ' + warnAdsI.map(function(r) { return r.adName + ' (' + r.daysActive + 'd)'; }).join(', ') + '.' });\nif (reemplazarAds.length > 0) insightLines.push({ icon: '&#128993;', text: '<b>' + reemplazarAds.length + ' ads para reemplazar</b> (no pausar hasta tener reemplazo listo): ' + reemplazarAds.map(function(r) { return r.adName; }).join(', ') + '.' });\nif (winnerAds.length > 0)    insightLines.push({ icon: '&#128994;', text: '<b>WINNER activo:</b> ' + winnerAds.map(function(r) { return r.adName + ' (' + r.kpiStr + ', ER ' + r.er + '%)'; }).join(', ') + '. Candidato a escalar.' });\nif (learningAdsI.length > 0) insightLines.push({ icon: '&#128993;', text: '<b>' + learningAdsI.length + ' ads en LEARNING (&lt;72h):</b> ' + learningAdsI.map(function(r) { return r.adName; }).join(', ') + '. Revisar ma&ntilde;ana.' });\nif (engThruTotal > 100)      insightLines.push({ icon: '&#128994;', text: '<b>D4 acumula ' + engThruTotal.toLocaleString() + ' ThruPlays.</b> Audience lista para retarget m&aacute;s barato cuando tenga volumen suficiente.' });\nif (paceNeeded > 0 && currentDailyPace < paceNeeded) insightLines.push({ icon: '&#128308;', text: '<b>D&eacute;ficit de pace cr&iacute;tico.</b> Ritmo ~' + currentDailyPace + '/d&iacute;a vs ' + paceNeeded + '/d&iacute;a necesarios. Proyecci&oacute;n: ~' + projectedEnd.toLocaleString() + ' al 16/05 vs objetivo ' + GOAL_ADJUSTED.toLocaleString() + '.' });\n\nvar insightsHtml = insightLines.length > 0\n  ? '<table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\">'\n    + '<tr><td style=\"background:#fffbeb;border:1px solid #fcd34d;border-radius:5px;padding:10px 14px;\">'\n    + '<div style=\"font-size:10px;font-weight:bold;color:#92400e;text-transform:uppercase;letter-spacing:0.05em;margin-bottom:7px;\">Lo que no se ve en la tabla</div>'\n    + insightLines.map(function(ins) {\n        return '<table cellpadding=\"0\" cellspacing=\"0\" style=\"margin-bottom:4px;width:100%;\"><tr>'\n          + '<td style=\"font-size:13px;width:20px;vertical-align:top;padding-top:1px;\">' + ins.icon + '</td>'\n          + '<td style=\"font-size:11px;color:#44403c;line-height:1.4;\">' + ins.text + '</td>'\n          + '</tr></table>';\n      }).join('')\n    + '</td></tr></table>'\n  : '';\n\n// Glosario completo (table-based, Gmail-safe)\nvar gTd = 'style=\"font-size:10px;color:#475569;padding:3px 8px 3px 0;border-bottom:1px solid #f1f5f9;vertical-align:top;\"';\nvar glosario = '<table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"background:#f8fafc;border-top:2px solid #e2e8f0;\">'\n  + '<tr><td style=\"padding:10px 20px 14px;\">'\n  + '<div style=\"font-size:10px;font-weight:bold;color:#64748b;text-transform:uppercase;letter-spacing:0.05em;margin-bottom:8px;\">Glosario de siglas y t&eacute;rminos</div>'\n  // Terms grid — 3 columns, 5 rows\n  + '<table cellpadding=\"0\" cellspacing=\"0\" width=\"100%\">'\n  + '<tr>'\n  + '<td ' + gTd + ' width=\"33%\"><b>CPV perfil</b> &mdash; Costo por Visita al Perfil IG (objetivo VISIT_INSTAGRAM_PROFILE)</td>'\n  + '<td ' + gTd + ' width=\"33%\"><b>CPF</b> &mdash; Costo por Follower/Like de Page (objetivo PAGE_LIKES en FB)</td>'\n  + '<td ' + gTd + '><b>CTR</b> &mdash; Click-Through Rate: % de impresiones que generan un click</td>'\n  + '</tr><tr>'\n  + '<td ' + gTd + '><b>ER</b> &mdash; Engagement Rate: engagements / reach &times; 100</td>'\n  + '<td ' + gTd + '><b>Freq</b> &mdash; Frecuencia: veces que el mismo usuario vio el anuncio</td>'\n  + '<td ' + gTd + '><b>Hold%</b> &mdash; Retenci&oacute;n de video: ThruPlays / vistas 3s &times; 100</td>'\n  + '</tr><tr>'\n  + '<td ' + gTd + '><b>Hook%</b> &mdash; Gancho de video: vistas 3s / impresiones &times; 100</td>'\n  + '<td ' + gTd + '><b>CPM</b> &mdash; Costo por Mil impresiones</td>'\n  + '<td ' + gTd + '><b>D4</b> &mdash; Custom Audience: VideoViewers 30d (construida por ENG)</td>'\n  + '</tr><tr>'\n  + '<td ' + gTd + '><b>LAL1</b> &mdash; Lookalike 1% desde FB Page Likers</td>'\n  + '<td ' + gTd + '><b>FOLLOW</b> &mdash; Campa&ntilde;a objetivo seguidores (IG visits + FB likes)</td>'\n  + '<td ' + gTd + '><b>ENG</b> &mdash; Campa&ntilde;a objetivo engagement (ThruPlay)</td>'\n  + '</tr><tr>'\n  + '<td ' + gTd + '><b>AWR</b> &mdash; Campa&ntilde;a objetivo awareness (reach, impresiones)</td>'\n  + '<td ' + gTd + '><b>Cold</b> &mdash; Audiencia fr&iacute;a: nunca interactu&oacute; con ENBA</td>'\n  + '<td ' + gTd + '><b>Retarget</b> &mdash; Audiencia caliente: interactu&oacute; previamente (D1&ndash;D4)</td>'\n  + '</tr></table>'\n  // Verdicts grid — 3 columns, 3 rows\n  + '<table cellpadding=\"0\" cellspacing=\"0\" width=\"100%\" style=\"margin-top:10px;\">'\n  + '<tr>'\n  + '<td style=\"font-size:10px;padding:3px 8px 3px 0;vertical-align:top;\"><span style=\"background:#dcfce7;color:#15803d;padding:1px 6px;border-radius:3px;font-weight:bold;\">WINNER</span>&nbsp; KPI bajo umbral + ER &gt; 3%</td>'\n  + '<td style=\"font-size:10px;padding:3px 8px 3px 0;vertical-align:top;\"><span style=\"background:#dbeafe;color:#1d4ed8;padding:1px 6px;border-radius:3px;font-weight:bold;\">VIABLE</span>&nbsp; Dentro de par&aacute;metros</td>'\n  + '<td style=\"font-size:10px;padding:3px 0;vertical-align:top;\"><span style=\"background:#ede9fe;color:#6d28d9;padding:1px 6px;border-radius:3px;font-weight:bold;\">LEARNING</span>&nbsp; Menos de 72h activo &mdash; sin veredicto v&aacute;lido</td>'\n  + '</tr><tr>'\n  + '<td style=\"font-size:10px;padding:3px 8px 3px 0;vertical-align:top;\"><span style=\"background:#fef9c3;color:#92400e;padding:1px 6px;border-radius:3px;font-weight:bold;\">WARNING</span>&nbsp; &ge;10d activo &mdash; preparar reemplazo urgente</td>'\n  + '<td style=\"font-size:10px;padding:3px 8px 3px 0;vertical-align:top;\"><span style=\"background:#fef3c7;color:#92400e;padding:1px 6px;border-radius:3px;font-weight:bold;\">HOLD PUENTE</span>&nbsp; Mal rendimiento, sin reemplazo &mdash; mantener por cobertura</td>'\n  + '<td style=\"font-size:10px;padding:3px 0;vertical-align:top;\"><span style=\"background:#fce7f3;color:#9d174d;padding:1px 6px;border-radius:3px;font-weight:bold;\">REEMPLAZAR</span>&nbsp; Fuera de umbral &mdash; pausar cuando haya creativo nuevo</td>'\n  + '</tr><tr>'\n  + '<td colspan=\"3\" style=\"font-size:10px;padding:3px 0;vertical-align:top;\"><span style=\"background:#fee2e2;color:#b91c1c;padding:1px 6px;border-radius:3px;font-weight:bold;\">CORTAR</span>&nbsp; Fuera de umbral + reemplazo ya activo &mdash; pausar ahora</td>'\n  + '</tr></table>'\n  + '</td></tr></table>';\n\n\n// Frescura banner\nvar freshnessBannerHtml = freshnessWarning\n  ? '<div style=\"background:#fef9c3;border-left:4px solid #ca8a04;padding:8px 14px;margin:8px 20px;font-size:11px;\">'\n    + '<b style=\"color:#92400e;\">AVISO FRESCURA:</b> ' + freshnessWarning + '</div>'\n  : '';\n\n// Budget risk banner\nvar budgetBannerHtml = budgetRisk\n  ? '<div style=\"background:#fef2f2;border-left:4px solid #dc2626;padding:8px 14px;margin:8px 20px;font-size:11px;\">'\n    + '<b style=\"color:#b91c1c;\">RIESGO PRESUPUESTO:</b>'\n    + ' Burn $' + burnRateDaily.toLocaleString() + '/dia · Restante $' + Math.round(budgetRemaining).toLocaleString()\n    + ' · Se agota el <b>' + exhaustStr + '</b>'\n    + ' (' + (daysToEnd - daysAtBurn) + ' dias antes del 16/05)'\n    + ' · Max diario: <b>$' + Math.round(budgetRemaining / daysToEnd).toLocaleString() + '/dia</b>'\n    + '</div>'\n  : '';\n\n\nvar html = '<!DOCTYPE html><html><head><meta http-equiv=\"Content-Type\" content=\"text/html; charset=UTF-8\">'\n  + '<style>*{box-sizing:border-box;margin:0;padding:0;}</style></head>'\n  + '<body style=\"font-family:Arial,sans-serif;background:#f1f5f9;padding:0;\">'\n  + '<div style=\"max-width:980px;margin:0 auto;background:white;border:1px solid #e2e8f0;\">'\n\n  // HEADER oscuro — table-based\n  + '<div style=\"background:#0f172a;color:white;padding:14px 20px 16px;\">'\n  + '<table cellpadding=\"0\" cellspacing=\"0\" width=\"100%\"><tr>'\n  + '<td style=\"vertical-align:baseline;\"><b style=\"font-size:15px;color:white;\">ENBA Meta Ads &mdash; Reporte Diario</b></td>'\n  + '<td align=\"right\" style=\"vertical-align:baseline;white-space:nowrap;font-size:11px;color:#94a3b8;\">' + todayStr + ' &middot; ' + timeStr + ' ART &middot; Dia ' + dayRef + ' de ' + CAMPAIGN_TOTAL_DAYS + '</td>'\n  + '</tr></table>'\n  // Metrics bar — table-based\n  + '<table cellpadding=\"0\" cellspacing=\"0\" width=\"100%\" style=\"border:1px solid #1e3a5f;border-radius:6px;margin-top:12px;\"><tr>'\n  + '<td width=\"16%\" style=\"padding:8px 12px;text-align:center;border-right:1px solid #1e3a5f;vertical-align:middle;\">'\n    + '<div style=\"font-size:16px;font-weight:bold;color:white;\">$' + totalSpend.toLocaleString() + '</div>'\n    + '<div style=\"font-size:9px;color:#94a3b8;text-transform:uppercase;letter-spacing:0.04em;\">Spend total</div></td>'\n  + '<td width=\"16%\" style=\"padding:8px 12px;text-align:center;border-right:1px solid #1e3a5f;vertical-align:middle;\">'\n    + '<div style=\"font-size:16px;font-weight:bold;color:' + (budgetRisk ? '#f87171' : '#fbbf24') + ';\">$' + burnRateDaily.toLocaleString() + '</div>'\n    + '<div style=\"font-size:9px;color:#94a3b8;text-transform:uppercase;letter-spacing:0.04em;\">Burn rate / dia</div></td>'\n  + '<td width=\"16%\" style=\"padding:8px 12px;text-align:center;border-right:1px solid #1e3a5f;vertical-align:middle;\">'\n    + '<div style=\"font-size:16px;font-weight:bold;color:#4ade80;\">$' + Math.round(budgetRemaining).toLocaleString() + '</div>'\n    + '<div style=\"font-size:9px;color:#94a3b8;text-transform:uppercase;letter-spacing:0.04em;\">Presupuesto restante</div></td>'\n  + '<td width=\"18%\" style=\"padding:8px 12px;text-align:center;border-right:1px solid #1e3a5f;vertical-align:middle;\">'\n    + '<div style=\"font-size:16px;font-weight:bold;color:white;\">' + totalIgVisits.toLocaleString() + '</div>'\n    + '<div style=\"font-size:9px;color:#94a3b8;text-transform:uppercase;letter-spacing:0.04em;\">Visitas perfil IG</div></td>'\n  + '<td width=\"17%\" style=\"padding:8px 12px;text-align:center;border-right:1px solid #1e3a5f;vertical-align:middle;\">'\n    + '<div style=\"font-size:16px;font-weight:bold;color:white;\">' + totalFbLikes.toLocaleString() + '</div>'\n    + '<div style=\"font-size:9px;color:#94a3b8;text-transform:uppercase;letter-spacing:0.04em;\">Page likes FB</div></td>'\n  + '<td style=\"padding:8px 12px;text-align:center;vertical-align:middle;\">'\n    + '<div style=\"font-size:16px;font-weight:bold;color:white;\">' + totalSaves + '</div>'\n    + '<div style=\"font-size:9px;color:#94a3b8;text-transform:uppercase;letter-spacing:0.04em;\">Saves</div></td>'\n  + '</tr></table>'\n  + '</div>'\n\n  // FOLLOWERS HERO — 4 columnas: FB | IG | Total Nuevos | KPI box\n  + '<div style=\"background:#0f172a;border-top:1px solid #1e3a5f;padding:10px 20px 14px;\">'\n  + '<table cellpadding=\"0\" cellspacing=\"0\" width=\"100%\"><tr>'\n  + '<td width=\"130\" style=\"text-align:center;vertical-align:middle;padding-right:14px;\">'\n    + '<div style=\"font-size:22px;font-weight:bold;color:white;\">' + (fbFollowersNow !== null ? fbFollowersNow.toLocaleString() : '?') + '</div>'\n    + '<div style=\"font-size:11px;color:#4ade80;\">+' + (fbNetNew || 0) + ' desde 22/04</div>'\n    + '<div style=\"font-size:10px;color:#94a3b8;\">Seguidores Facebook</div></td>'\n  + '<td width=\"1\" style=\"background:#1e3a5f;padding:0;\">&nbsp;</td>'\n  + '<td width=\"130\" style=\"text-align:center;vertical-align:middle;padding:0 14px;\">'\n    + '<div style=\"font-size:22px;font-weight:bold;color:white;\">' + (igFollowersNow !== null ? igFollowersNow.toLocaleString() : '?') + '</div>'\n    + '<div style=\"font-size:11px;color:#4ade80;\">+' + (igNetNew || 0) + ' desde 22/04</div>'\n    + '<div style=\"font-size:10px;color:#94a3b8;\">Seguidores Instagram</div></td>'\n  + '<td width=\"1\" style=\"background:#1e3a5f;padding:0;\">&nbsp;</td>'\n  + '<td width=\"130\" style=\"text-align:center;vertical-align:middle;padding:0 14px;\">'\n    + '<div style=\"font-size:22px;font-weight:bold;color:white;\">~' + totalNetNew.toLocaleString() + '</div>'\n    + '<div style=\"font-size:10px;color:#94a3b8;margin-top:2px;\">total nuevos</div>'\n    + '<div style=\"font-size:10px;color:#64748b;\">IG + FB desde 22/04</div></td>'\n  + '<td width=\"1\" style=\"background:#1e3a5f;padding:0;\">&nbsp;</td>'\n  + '<td style=\"padding-left:14px;vertical-align:middle;\">'\n    + (bestCpvIG !== null ? '<div style=\"font-size:11px;color:#94a3b8;margin-bottom:3px;\">CPV perfil IG <span style=\"font-size:9px;color:#4ade80;\">(' + bestCpvVerdict + ')</span>: <b style=\"color:white;\">$' + bestCpvIG + '</b></div>' : '')\n    + (bestCpfFB !== null ? '<div style=\"font-size:11px;color:#94a3b8;margin-bottom:3px;\">CPF best FB: <b style=\"color:white;\">~$' + bestCpfFB + '</b> <span style=\"font-size:9px;color:#64748b;\">(' + bestCpfAdShort + ')</span></div>' : '')\n    + '<div style=\"font-size:11px;color:#94a3b8;margin-bottom:3px;\">Follow rate IG: <b style=\"color:' + frColor + ';\">' + (igFollowRate !== null ? igFollowRate + '%' : '?') + '</b> <span style=\"font-size:10px;color:#475569;\">(obj &gt;5%)</span></div>'\n    + '<div style=\"font-size:11px;color:#94a3b8;\">CPS blended: <b style=\"color:white;\">' + (blendedCPS !== null ? '$' + blendedCPS : '&mdash;') + '</b></div>'\n  + '</td></tr></table>'\n  + '</div>'\n\n  // Banners frescura / presupuesto\n  + freshnessBannerHtml\n  + budgetBannerHtml\n\n  // VERDICTS STRIP — aggregate counts\n  + '<div style=\"background:#f8fafc;border-bottom:1px solid #e2e8f0;padding:8px 20px;\">'\n  + '<span style=\"font-size:10px;font-weight:bold;color:#475569;text-transform:uppercase;letter-spacing:0.06em;display:inline-block;vertical-align:middle;margin-right:10px;\">Activos hoy:</span>'\n  + verdictPills\n  + '</div>'\n\n  // ROADMAP + PACE — table-based\n  + '<div style=\"padding:12px 20px;border-bottom:1px solid #e2e8f0;\">'\n  + '<div style=\"font-size:10px;font-weight:bold;color:#475569;text-transform:uppercase;letter-spacing:0.06em;margin-bottom:8px;\">Roadmap &mdash; Objetivo ' + GOAL_ADJUSTED.toLocaleString() + ' seguidores (19/04 &mdash; 16/05)</div>'\n  + '<table cellpadding=\"0\" cellspacing=\"0\" width=\"100%\"><tr>'\n  + '<td style=\"vertical-align:top;padding-right:20px;\">'\n    + '<table cellpadding=\"0\" cellspacing=\"0\" width=\"100%\"><tr>'\n    + '<td style=\"font-size:24px;font-weight:bold;color:#1e293b;vertical-align:baseline;\">' + ((fbFollowersNow || CAMPAIGN_BASELINE_FB) + (igFollowersNow || CAMPAIGN_BASELINE_IG)).toLocaleString() + '</td>'\n    + '<td align=\"right\" style=\"font-size:11px;color:#64748b;vertical-align:baseline;\">/ ' + GOAL_ADJUSTED.toLocaleString() + ' seguidores nuevos &middot; ' + progressPct + '%</td>'\n    + '</tr></table>'\n    + '<div style=\"background:#e2e8f0;border-radius:4px;height:8px;overflow:hidden;margin:4px 0;\">'\n    + '<div style=\"background:' + barColor + ';height:8px;width:' + progressPct + '%;border-radius:4px;\"></div></div>'\n    + '<div style=\"font-size:10px;color:#94a3b8;\">Dia ' + dayRef + ' de ' + CAMPAIGN_TOTAL_DAYS + ' &middot; ' + (CAMPAIGN_TOTAL_DAYS - dayRef) + ' dias operativos restantes (hasta 16/05)</div>'\n    + '<div style=\"margin-top:7px;\">'\n    + '<span style=\"font-size:10px;background:#f1f5f9;border-radius:3px;padding:2px 6px;color:#475569;display:inline-block;\">Restante <b style=\"color:#1e293b;\">$' + Math.round(budgetRemaining).toLocaleString() + '</b></span>'\n    + '&nbsp;&nbsp;'\n    + '<span style=\"font-size:10px;background:#f1f5f9;border-radius:3px;padding:2px 6px;color:#475569;display:inline-block;\">Burn <b style=\"color:#1e293b;\">$' + burnRateDaily.toLocaleString() + '/dia</b></span>'\n    + '&nbsp;&nbsp;'\n    + '<span style=\"font-size:10px;background:' + (budgetRisk ? '#fef2f2' : '#f0fdf4') + ';border-radius:3px;padding:2px 6px;color:' + (budgetRisk ? '#b91c1c' : '#15803d') + ';display:inline-block;\">Budget ' + (budgetRisk ? 'RIESGO hasta ' + exhaustStr : 'alcanza ✓ hasta 16/05') + '</span>'\n    + '</div>'\n  + '</td>'\n  + '<td width=\"360\" style=\"vertical-align:top;\">'\n    + '<div style=\"background:#fef2f2;border:1px solid #fca5a5;border-radius:5px;padding:8px 12px;\">'\n    + '<div style=\"font-size:10px;font-weight:bold;color:#b91c1c;text-transform:uppercase;letter-spacing:0.04em;margin-bottom:6px;\">' + (currentDailyPace < paceNeeded ? '&#9888; D&eacute;ficit de Pace' : 'En Pace') + '</div>'\n    + '<table cellpadding=\"0\" cellspacing=\"0\"><tr>'\n    + '<td style=\"text-align:center;padding-right:16px;vertical-align:top;\"><div style=\"font-size:18px;font-weight:bold;color:#b91c1c;\">' + paceNeeded + '</div><div style=\"font-size:9px;color:#9ca3af;text-transform:uppercase;\">Seg/dia necesarios</div></td>'\n    + '<td style=\"text-align:center;padding-right:16px;vertical-align:top;\"><div style=\"font-size:18px;font-weight:bold;color:#1d4ed8;\">~' + currentDailyPace + '</div><div style=\"font-size:9px;color:#9ca3af;text-transform:uppercase;\">Ritmo actual (prom)</div></td>'\n    + '<td style=\"text-align:center;vertical-align:top;\"><div style=\"font-size:18px;font-weight:bold;color:#b91c1c;\">~' + projectedEnd.toLocaleString() + '</div><div style=\"font-size:9px;color:#9ca3af;text-transform:uppercase;\">Proyeccion al 16/05</div></td>'\n    + '</tr></table>'\n    + '<div style=\"font-size:10px;color:#6b7280;margin-top:5px;\">Gap: ' + gapToGoal.toLocaleString() + ' &middot; ' + (CAMPAIGN_TOTAL_DAYS - dayRef) + ' dias operativos &middot; ' + gapToGoal.toLocaleString() + ' / ' + (CAMPAIGN_TOTAL_DAYS - dayRef) + ' = ' + paceNeeded + '/dia necesarios</div>'\n    + '<div style=\"font-size:9px;text-align:center;margin-top:5px;color:' + (budgetRisk ? '#b91c1c' : '#15803d') + ';font-weight:bold;\">'\n    + (budgetRisk ? 'Budget RIESGO &mdash; se agota el ' + exhaustStr : 'Budget alcanza &#10003; hasta 16/05')\n    + '</div>'\n    + '</div>'\n  + '</td></tr></table>'\n  + '</div>'\n\n  // ADS ACTIVOS — header table-based\n  + '<div style=\"padding:12px 20px 0;\">'\n  + '<table cellpadding=\"0\" cellspacing=\"0\" width=\"100%\"><tr>'\n  + '<td style=\"font-size:10px;font-weight:bold;color:#475569;text-transform:uppercase;letter-spacing:0.06em;padding:5px 8px;background:#f1f5f9;border-radius:3px;vertical-align:middle;\">Ads activos &mdash; gastan dinero ahora</td>'\n  + '<td align=\"right\" style=\"font-size:10px;color:#94a3b8;font-weight:normal;padding:5px 8px;background:#f1f5f9;border-radius:3px;vertical-align:middle;white-space:nowrap;\">' + activeResults.length + ' ads &middot; $' + burnRateDaily.toLocaleString() + '/dia estimado</td>'\n  + '</tr></table>'\n  + '</div>'\n  + '<div style=\"overflow-x:auto;padding:4px 20px 0;\">'\n  + '<table style=\"border-collapse:collapse;width:100%;font-size:11px;\">'\n  + '<thead><tr>'\n  + '<th style=\"padding:5px 7px;text-align:left;background:#f8fafc;border-bottom:2px solid #e2e8f0;font-size:10px;color:#64748b;white-space:nowrap;min-width:140px;max-width:175px;\">Ad</th>'\n  + '<th style=\"padding:5px 7px;text-align:center;background:#f8fafc;border-bottom:2px solid #e2e8f0;font-size:10px;color:#64748b;white-space:nowrap;\">Tipo</th>'\n  + '<th style=\"padding:5px 7px;text-align:center;background:#f8fafc;border-bottom:2px solid #e2e8f0;font-size:10px;color:#64748b;white-space:nowrap;\">Dias</th>'\n  + '<th style=\"padding:5px 7px;text-align:right;background:#f8fafc;border-bottom:2px solid #e2e8f0;font-size:10px;color:#64748b;white-space:nowrap;\">$</th>'\n  + '<th style=\"padding:5px 7px;text-align:right;background:#f8fafc;border-bottom:2px solid #e2e8f0;font-size:10px;color:#64748b;white-space:nowrap;\">Alc.</th>'\n  + '<th style=\"padding:5px 7px;text-align:center;background:#f8fafc;border-bottom:2px solid #e2e8f0;font-size:10px;color:#64748b;white-space:nowrap;\">CTR</th>'\n  + '<th style=\"padding:5px 7px;text-align:center;background:#f8fafc;border-bottom:2px solid #e2e8f0;font-size:10px;color:#64748b;white-space:nowrap;\">ER</th>'\n  + '<th style=\"padding:5px 7px;text-align:center;background:#f8fafc;border-bottom:2px solid #e2e8f0;font-size:10px;color:#64748b;white-space:nowrap;\">Fr.</th>'\n  + '<th style=\"padding:5px 7px;text-align:center;background:#eff6ff;border-bottom:2px solid #93c5fd;font-size:10px;color:#1d4ed8;white-space:nowrap;\">KPI ENBA<br><span style=\"font-size:9px;font-weight:normal;color:#64748b;\">CPV (IG) &middot; CPF (FB) &middot; Hold% (ENG)</span></th>'\n  + '<th style=\"padding:5px 7px;text-align:center;background:#f0fdf4;border-bottom:2px solid #86efac;font-size:10px;color:#15803d;white-space:nowrap;min-width:90px;\">Veredicto &middot; Accion</th>'\n  + '<th style=\"padding:5px 7px;text-align:left;background:#f8fafc;border-bottom:2px solid #e2e8f0;font-size:10px;color:#64748b;white-space:nowrap;\">Razon</th>'\n  + '</tr></thead><tbody>'\n  + activeTableRows\n  + '</tbody></table></div>'\n\n  // AUTO-INSIGHTS — después de la tabla de ads activos\n  + (insightsHtml ? '<div style=\"padding:8px 20px 4px;\">' + insightsHtml + '</div>' : '')\n\n  // ADS PAUSADOS\n  + '<div style=\"padding:0 20px 12px;margin-top:12px;\">'\n  + '<div style=\"font-size:10px;font-weight:bold;color:#94a3b8;padding:4px 8px;background:#f8fafc;border-radius:3px;margin-bottom:5px;\">Ads Pausados &mdash; historial unicamente, sin gasto actual (' + pausedResults.length + ' ads)</div>'\n  + '<div style=\"overflow-x:auto;opacity:0.65;\">'\n  + '<table style=\"border-collapse:collapse;width:100%;font-size:10px;\">'\n  + '<thead><tr style=\"background:#f8fafc;border-bottom:1px solid #e2e8f0;\">'\n  + '<th style=\"padding:3px 6px;text-align:left;font-size:10px;color:#64748b;\">Ad</th>'\n  + '<th style=\"padding:3px 6px;text-align:center;font-size:10px;color:#64748b;\">Tipo</th>'\n  + '<th style=\"padding:3px 6px;text-align:center;font-size:10px;color:#64748b;\">Dias</th>'\n  + '<th style=\"padding:3px 6px;text-align:right;font-size:10px;color:#64748b;\">Spend hist.</th>'\n  + '<th style=\"padding:3px 6px;text-align:center;font-size:10px;color:#64748b;\">CTR</th>'\n  + '<th style=\"padding:3px 6px;text-align:center;font-size:10px;color:#64748b;\">ER</th>'\n  + '<th style=\"padding:3px 6px;text-align:center;font-size:10px;color:#64748b;\">KPI ENBA</th>'\n  + '<th style=\"padding:3px 6px;text-align:left;font-size:10px;color:#64748b;\">Motivo pausa</th>'\n  + '</tr></thead><tbody>'\n  + pausedTableRows\n  + '</tbody></table></div></div>'\n\n  // PROMPT BRUNO — table header\n  + '<div style=\"margin:0 20px 20px;border-top:1px solid #e2e8f0;padding-top:12px;\">'\n  + '<table cellpadding=\"0\" cellspacing=\"0\" width=\"100%\" style=\"margin-bottom:6px;\"><tr>'\n  + '<td style=\"font-size:11px;font-weight:bold;color:#1e293b;vertical-align:middle;\">Prompt para Bruno &mdash; copiar y pegar en Claude Code con /bruno</td>'\n  + '<td align=\"right\" style=\"font-size:10px;color:#94a3b8;font-weight:normal;vertical-align:middle;white-space:nowrap;\">Corte: ' + todayStr + ' ' + timeStr + ' ART &middot; Dia ' + dayRef + ' de ' + CAMPAIGN_TOTAL_DAYS + '</td>'\n  + '</tr></table>'\n  + '<pre style=\"background:#0f172a;border-radius:5px;padding:14px;font-size:10px;font-family:Courier New,monospace;white-space:pre-wrap;color:#e2e8f0;line-height:1.5;\">'\n  + brunoPrompt.replace(/&/g,'&amp;').replace(/</g,'&lt;').replace(/>/g,'&gt;')\n  + '</pre></div>'\n\n  // BENCHMARK COMPETIDORES — datos estáticos abr 2026\n  + '<div style=\"border-top:1px solid #e2e8f0;padding:12px 20px 0;\">'\n  + '<table cellpadding=\"0\" cellspacing=\"0\" width=\"100%\"><tr>'\n  + '<td style=\"font-size:10px;font-weight:bold;color:#475569;text-transform:uppercase;letter-spacing:0.06em;padding:5px 8px;background:#f1f5f9;border-radius:3px;vertical-align:middle;\">Benchmark Competidores &mdash; Redes Sociales</td>'\n  + '<td align=\"right\" style=\"font-size:10px;color:#94a3b8;font-weight:normal;padding:5px 8px;background:#f1f5f9;border-radius:3px;vertical-align:middle;white-space:nowrap;\">Actualizaci&oacute;n manual requerida &middot; &Uacute;ltima verificaci&oacute;n: abr 2026</td>'\n  + '</tr></table>'\n  + '<p style=\"font-size:10px;color:#94a3b8;margin:6px 0 8px;\">Datos verificados manualmente. Actualizar semanalmente. Fuente: an&aacute;lisis competitivo ENBA abr 2026.</p>'\n  + '</div>'\n  + '<div style=\"overflow-x:auto;padding:0 20px 0;\">'\n  + '<table style=\"border-collapse:collapse;width:100%;font-size:11px;\">'\n  + '<thead><tr style=\"background:#f8fafc;border-bottom:2px solid #e2e8f0;\">'\n  + '<th style=\"padding:4px 7px;text-align:left;font-size:10px;color:#64748b;min-width:160px;\">Competidor</th>'\n  + '<th style=\"padding:4px 7px;text-align:left;font-size:10px;color:#64748b;\">Zona</th>'\n  + '<th style=\"padding:4px 7px;text-align:left;font-size:10px;color:#64748b;\">Verticales</th>'\n  + '<th style=\"padding:4px 7px;text-align:right;font-size:10px;color:#64748b;\">IG</th>'\n  + '<th style=\"padding:4px 7px;text-align:right;font-size:10px;color:#64748b;\">FB</th>'\n  + '<th style=\"padding:4px 7px;text-align:right;font-size:10px;color:#64748b;\">TikTok</th>'\n  + '<th style=\"padding:4px 7px;text-align:left;font-size:10px;color:#64748b;\">Diferenciador clave</th>'\n  + '<th style=\"padding:4px 7px;text-align:right;font-size:10px;color:#b91c1c;\">Gap IG vs ENBA</th>'\n  + '</tr></thead><tbody>'\n  // ENBA — fila destacada con seguidores reales del día\n  + '<tr style=\"background:#eff6ff;border-top:2px solid #93c5fd;border-bottom:2px solid #93c5fd;\">'\n  + '<td style=\"padding:4px 7px;font-weight:bold;color:#1d4ed8;font-size:10px;\">&#9658; ENBA (nosotros)</td>'\n  + '<td style=\"padding:4px 7px;font-size:10px;color:#475569;\">Costanera Norte</td>'\n  + '<td style=\"padding:4px 7px;font-size:10px;color:#475569;\">Paseos &middot; Escuela &middot; Traves&iacute;as &middot; Broker</td>'\n  + '<td style=\"padding:4px 7px;text-align:right;color:#1d4ed8;font-weight:bold;font-size:10px;\">' + (igFollowersNow || '~') + '</td>'\n  + '<td style=\"padding:4px 7px;text-align:right;color:#1d4ed8;font-weight:bold;font-size:10px;\">' + (fbFollowersNow || '~') + '</td>'\n  + '<td style=\"padding:4px 7px;text-align:right;font-size:10px;color:#94a3b8;\">&mdash;</td>'\n  + '<td style=\"padding:4px 7px;font-size:10px;color:#475569;\">Hub n&aacute;utico completo &middot; Blog SEO &middot; Marca unificada</td>'\n  + '<td style=\"padding:4px 7px;text-align:right;font-size:10px;\">&mdash;</td>'\n  + '</tr>'\n  // D'Serra\n  + '<tr style=\"border-bottom:1px solid #f1f5f9;\">'\n  + '<td style=\"padding:4px 7px;font-size:10px;\"><b>Esc. N&aacute;utica D\\'Serra</b><br><span style=\"font-size:9px;color:#94a3b8;\">IG @escuelanauticads &middot; FB @EscuelaNauticaDSerra</span></td>'\n  + '<td style=\"padding:4px 7px;font-size:10px;color:#475569;\">Costanera Norte</td>'\n  + '<td style=\"padding:4px 7px;font-size:10px;color:#475569;\">Paseos &middot; Escuela &middot; Traves&iacute;as &middot; Broker &middot; <b>Astillero</b></td>'\n  + '<td style=\"padding:4px 7px;text-align:right;font-size:10px;\">~7.200</td>'\n  + '<td style=\"padding:4px 7px;text-align:right;font-size:10px;\">~26.000</td>'\n  + '<td style=\"padding:4px 7px;text-align:right;font-size:10px;\">~2.700</td>'\n  + '<td style=\"padding:4px 7px;font-size:10px;color:#475569;\">20+ a&ntilde;os &middot; Fabrica veleros &middot; 10 personas visibles</td>'\n  + '<td style=\"padding:4px 7px;text-align:right;font-size:10px;background:#fef2f2;color:#b91c1c;font-weight:bold;\">&times;90</td>'\n  + '</tr>'\n  // Bairesnavega\n  + '<tr style=\"border-bottom:1px solid #f1f5f9;\">'\n  + '<td style=\"padding:4px 7px;font-size:10px;\"><b>Bairesnavega</b><br><span style=\"font-size:9px;color:#94a3b8;\">IG @bairesnavega</span></td>'\n  + '<td style=\"padding:4px 7px;font-size:10px;color:#475569;\">San Isidro</td>'\n  + '<td style=\"padding:4px 7px;font-size:10px;color:#475569;\">Paseos &middot; Vouchers</td>'\n  + '<td style=\"padding:4px 7px;text-align:right;font-size:10px;\">~106.000</td>'\n  + '<td style=\"padding:4px 7px;text-align:right;font-size:10px;color:#94a3b8;\">&mdash;</td>'\n  + '<td style=\"padding:4px 7px;text-align:right;font-size:10px;color:#94a3b8;\">&mdash;</td>'\n  + '<td style=\"padding:4px 7px;font-size:10px;color:#475569;\">Cara visible &middot; Lifestyle &middot; Voucher &uacute;nico $110K</td>'\n  + '<td style=\"padding:4px 7px;text-align:right;font-size:10px;background:#fef2f2;color:#b91c1c;font-weight:bold;\">&times;1.325</td>'\n  + '</tr>'\n  // Medio Siglo\n  + '<tr style=\"border-bottom:1px solid #f1f5f9;\">'\n  + '<td style=\"padding:4px 7px;font-size:10px;\"><b>Medio Siglo</b><br><span style=\"font-size:9px;color:#94a3b8;\">IG @mediosiglovelero &middot; FB @mediosiglovelero</span></td>'\n  + '<td style=\"padding:4px 7px;font-size:10px;color:#475569;\">San Isidro</td>'\n  + '<td style=\"padding:4px 7px;font-size:10px;color:#475569;\">Paseos &middot; Traves&iacute;as</td>'\n  + '<td style=\"padding:4px 7px;text-align:right;font-size:10px;\">~13.000</td>'\n  + '<td style=\"padding:4px 7px;text-align:right;font-size:10px;color:#94a3b8;\">&mdash; verif.</td>'\n  + '<td style=\"padding:4px 7px;text-align:right;font-size:10px;color:#94a3b8;\">&mdash;</td>'\n  + '<td style=\"padding:4px 7px;font-size:10px;color:#475569;\">Storytelling personal &middot; Bigbox &middot; GetYourGuide</td>'\n  + '<td style=\"padding:4px 7px;text-align:right;font-size:10px;background:#fef2f2;color:#b91c1c;font-weight:bold;\">&times;163</td>'\n  + '</tr>'\n  // Navegando BA\n  + '<tr style=\"border-bottom:1px solid #f1f5f9;\">'\n  + '<td style=\"padding:4px 7px;font-size:10px;\"><b>Navegando BA</b><br><span style=\"font-size:9px;color:#94a3b8;\">IG @navegandobsas &middot; FB @navegandobsas</span></td>'\n  + '<td style=\"padding:4px 7px;font-size:10px;color:#475569;\">Costanera Norte</td>'\n  + '<td style=\"padding:4px 7px;font-size:10px;color:#475569;\">Paseos</td>'\n  + '<td style=\"padding:4px 7px;text-align:right;font-size:10px;color:#94a3b8;\">&mdash; verif.</td>'\n  + '<td style=\"padding:4px 7px;text-align:right;font-size:10px;color:#94a3b8;\">&mdash; verif.</td>'\n  + '<td style=\"padding:4px 7px;text-align:right;font-size:10px;color:#94a3b8;\">&mdash;</td>'\n  + '<td style=\"padding:4px 7px;font-size:10px;color:#475569;\">Civitatis 9.9/10 &middot; $72K/pax con aperitivo &middot; misma zona</td>'\n  + '<td style=\"padding:4px 7px;text-align:right;font-size:10px;color:#94a3b8;\">&mdash; verif.</td>'\n  + '</tr>'\n  // Sailing Republic\n  + '<tr>'\n  + '<td style=\"padding:4px 7px;font-size:10px;\"><b>Sailing Republic</b><br><span style=\"font-size:9px;color:#94a3b8;\">IG @sailingrepublic</span></td>'\n  + '<td style=\"padding:4px 7px;font-size:10px;color:#475569;\">Puerto N&uacute;&ntilde;ez</td>'\n  + '<td style=\"padding:4px 7px;font-size:10px;color:#475569;\">Paseos &middot; Navegaci&oacute;n</td>'\n  + '<td style=\"padding:4px 7px;text-align:right;font-size:10px;color:#94a3b8;\">&mdash; verif.</td>'\n  + '<td style=\"padding:4px 7px;text-align:right;font-size:10px;color:#94a3b8;\">&mdash;</td>'\n  + '<td style=\"padding:4px 7px;text-align:right;font-size:10px;color:#94a3b8;\">&mdash;</td>'\n  + '<td style=\"padding:4px 7px;font-size:10px;color:#475569;\">Puerto N&uacute;&ntilde;ez &middot; perfil digital bajo</td>'\n  + '<td style=\"padding:4px 7px;text-align:right;font-size:10px;color:#94a3b8;\">&mdash; verif.</td>'\n  + '</tr>'\n  + '</tbody></table></div>'\n  + '<div style=\"margin:4px 20px 14px;background:#f8fafc;border:1px solid #e2e8f0;border-radius:4px;padding:8px 12px;font-size:10px;color:#64748b;\">'\n  + '<b style=\"color:#475569;\">Notas de contexto:</b> D\\'Serra (mismo edificio) tiene 90&times; m&aacute;s seguidores IG con 20 a&ntilde;os de ventaja. Bairesnavega domina IG con estrategia lifestyle + cara visible. Ning&uacute;n competidor invierte en Google Ads &mdash; oportunidad virgen con CPC bajo. Los datos marcados &ldquo;&mdash; verificar&rdquo; deben relevarse manualmente. <b style=\"color:#b91c1c;\">Actualizar esta tabla 1&times; por semana.</b>'\n  + '</div>'\n\n  // GLOSARIO (table-based)\n  + glosario\n\n  // FOOTER — table-based\n  + '<div style=\"background:#f8fafc;border-top:1px solid #e2e8f0;padding:7px 20px;\">'\n  + '<table cellpadding=\"0\" cellspacing=\"0\" width=\"100%\"><tr>'\n  + '<td style=\"font-size:10px;color:#94a3b8;\">ENBA Ads Evaluation v7</td>'\n  + '<td align=\"right\" style=\"font-size:10px;color:#94a3b8;\">' + new Date().toISOString() + ' &middot; Burn rate: ' + (burnRateSource === 'ad_set_budgets' ? 'suma ad sets activos (real)' : 'promedio hist&oacute;rico (estimado)') + '</td>'\n  + '</tr></table>'\n  + '</div>'\n  + '</div></body></html>';\n\nreturn [{ json: {\n  subject: subject, html: html, brunoPrompt: brunoPrompt,\n  totalSpend: totalSpend, totalIgFollows: totalIgFollows,\n  totalIgVisits: totalIgVisits, totalFbLikes: totalFbLikes,\n  totalSaves: totalSaves, blendedCPM: blendedCPM,\n  blendedCPS: blendedCPS, burnRateDaily: burnRateDaily, burnRateSource: burnRateSource,\n  budgetRemaining: Math.round(budgetRemaining), budgetRisk: budgetRisk,\n  fbFollowersNow: fbFollowersNow, igFollowersNow: igFollowersNow,\n  igFollowRate: igFollowRate,\n  adsCount: results.length, activeAdsCount: activeResults.length, pausedAdsCount: pausedResults.length,\n  summaryStr: summaryStr, freshnessWarning: freshnessWarning,\n  diagActionTypes: diagActionTypes\n} }];\n"
        },
        "id": "node-evaluate",
        "name": "Evaluate Ads",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          976,
          304
        ]
      },
      {
        "parameters": {
          "fromEmail": "jmartinezplatt@gmail.com",
          "toEmail": "jmartinezplatt@gmail.com",
          "subject": "={{ $json.subject }}",
          "html": "={{ $json.html }}",
          "options": {}
        },
        "id": "node-send-report",
        "name": "Send Report Email",
        "type": "n8n-nodes-base.emailSend",
        "typeVersion": 2.1,
        "position": [
          1200,
          304
        ],
        "webhookId": "4e879775-94df-4f3e-8c4c-6535453aca81",
        "credentials": {
          "smtp": {
            "id": "HpJBfNd1BCHaLYfY",
            "name": "Gmail ENBA"
          }
        }
      },
      {
        "parameters": {
          "url": "https://graph.facebook.com/v22.0/1064806400040502?fields=fan_count,followers_count",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpHeaderAuth",
          "options": {}
        },
        "id": "node-get-fb-followers",
        "name": "Get FB Followers",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          240,
          304
        ],
        "credentials": {
          "httpHeaderAuth": {
            "id": "6LxWcVxeyZgsBTUU",
            "name": "Meta Ads API ENB"
          }
        },
        "continueOnFail": true
      },
      {
        "parameters": {
          "url": "https://graph.facebook.com/v22.0/17841443139761422?fields=followers_count",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpHeaderAuth",
          "options": {}
        },
        "id": "node-get-ig-followers",
        "name": "Get IG Followers",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          480,
          304
        ],
        "credentials": {
          "httpHeaderAuth": {
            "id": "6LxWcVxeyZgsBTUU",
            "name": "Meta Ads API ENB"
          }
        },
        "continueOnFail": true
      },
      {
        "parameters": {
          "url": "https://graph.facebook.com/v22.0/act_2303565156801569/ads?fields=id,name,effective_status,status,adset_id&limit=100",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpHeaderAuth",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.4,
        "position": [
          704,
          64
        ],
        "id": "d13e2c2f-9548-45f8-bca5-ab0772dfd13e",
        "name": "Get Ad Status Batch",
        "credentials": {
          "httpHeaderAuth": {
            "id": "6LxWcVxeyZgsBTUU",
            "name": "Meta Ads API ENB"
          }
        }
      },
      {
        "parameters": {
          "url": "https://graph.facebook.com/v22.0/act_2303565156801569/adsets?fields=id,name,daily_budget,status,effective_status&limit=100",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpHeaderAuth",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.4,
        "position": [
          704,
          304
        ],
        "id": "1e4d5a38-f6d7-4510-8027-5454638e8059",
        "name": "Get Ad Set Budgets",
        "credentials": {
          "httpHeaderAuth": {
            "id": "6LxWcVxeyZgsBTUU",
            "name": "Meta Ads API ENB"
          }
        }
      },
      {
        "parameters": {
          "url": "https://graph.facebook.com/v22.0/act_2303565156801569/insights?level=ad&fields=ad_id,ad_name,quality_ranking,engagement_rate_ranking,conversion_rate_ranking&date_preset=last_7d&filtering=[{\"field\": \"ad.effective_status\", \"operator\": \"IN\", \"value\": [\"ACTIVE\"]}]&limit=100",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpHeaderAuth",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.4,
        "position": [
          704,
          512
        ],
        "id": "fae5fcfa-7359-4dd5-8b31-a8ca2cb24cfa",
        "name": "Get Quality Rankings",
        "credentials": {
          "httpHeaderAuth": {
            "id": "6LxWcVxeyZgsBTUU",
            "name": "Meta Ads API ENB"
          }
        }
      },
      {
        "parameters": {
          "path": "eval-ads-manual",
          "httpMethod": "POST",
          "responseMode": "lastNode",
          "options": {}
        },
        "name": "Webhook Manual Trigger",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2,
        "position": [
          -256,
          104
        ],
        "id": "272edeba-2147-4152-9800-465dd5968e0d",
        "webhookId": "187246df-e9e1-44fb-ac00-74a7a6444973"
      }
    ],
    "connections": {
      "Schedule 9:00 ART": {
        "main": [
          [
            {
              "node": "Get Ad Insights",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Evaluate Ads": {
        "main": [
          [
            {
              "node": "Send Report Email",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get Ad Insights": {
        "main": [
          [
            {
              "node": "Get FB Followers",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get FB Followers": {
        "main": [
          [
            {
              "node": "Get IG Followers",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get IG Followers": {
        "main": [
          [
            {
              "node": "Get Ad Status Batch",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get Ad Status Batch": {
        "main": [
          [
            {
              "node": "Get Ad Set Budgets",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get Ad Set Budgets": {
        "main": [
          [
            {
              "node": "Get Quality Rankings",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get Quality Rankings": {
        "main": [
          [
            {
              "node": "Evaluate Ads",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Webhook Manual Trigger": {
        "main": [
          [
            {
              "node": "Get Ad Insights",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Jose Martinez",
    "name": null,
    "description": null,
    "autosaved": false,
    "workflowPublishHistory": [
      {
        "createdAt": "2026-05-05T05:15:17.742Z",
        "id": 1234,
        "workflowId": "1qRywsEWAl7VoO5o",
        "versionId": "e1d03b33-2964-4783-a8c3-6d5e15f72473",
        "event": "activated",
        "userId": "7792ccbd-a153-4ec4-9b00-a26cc72db47d"
      },
      {
        "createdAt": "2026-05-05T05:15:17.596Z",
        "id": 1233,
        "workflowId": "1qRywsEWAl7VoO5o",
        "versionId": "e1d03b33-2964-4783-a8c3-6d5e15f72473",
        "event": "deactivated",
        "userId": "7792ccbd-a153-4ec4-9b00-a26cc72db47d"
      }
    ]
  }
}