automatizaciones/n8n-workflows/patch-eval-payload.json
{
  "name": "ENBA - Ads Evaluation Diaria 9:00",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 9 * * *"
            }
          ]
        }
      },
      "id": "node-schedule-eval",
      "name": "Schedule 9:00 ART",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        -256,
        304
      ]
    },
    {
      "parameters": {
        "url": "https://graph.facebook.com/v22.0/act_2303565156801569/insights?level=ad&fields=ad_id,ad_name,campaign_id,created_time,impressions,reach,clicks,spend,actions,ctr,frequency,video_thruplay_watched_actions,instagram_profile_visits,quality_ranking,engagement_rate_ranking,conversion_rate_ranking&date_preset=maximum&limit=100",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "id": "node-get-insights",
      "name": "Get Ad Insights",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        0,
        304
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "6LxWcVxeyZgsBTUU",
          "name": "Meta Ads API ENB"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Evaluate Ads Performance — Code Node para n8n  v5\n// Input esperado: Get Ad Insights → Get FB Followers → Get IG Followers\n//                 + en paralelo: Get Ad Status Batch → Get Ad Set Budgets → Get Quality Rankings\n//                 → [este nodo]\n// Accede a nodos previos por nombre. Si alguno falla con continueOnFail,\n// los try/catch degradan graciosamente (el email igual llega, sin esa sección).\n//\n// Plan vigente: presupuesto-v4-reestructuracion.md + presupuesto-v4.1-estado-dia10.md\n// CORTAR  (72h+): CPS > $100 ó ER < 1% ó CTR < 0.4%\n// WINNER  (72h+): CPS < $30 + ER > 3%\n// FATIGUE: frecuencia > 3.5\n// MAX_REACHED: > 14 días / FATIGUE_WARNING: >= 10 días\n//\n// v5 vs v4:\n// - effective_status real desde nodo \"Get Ad Status Batch\": ads pausados → veredicto PAUSED\n// - Burn rate real desde nodo \"Get Ad Set Budgets\": suma budgets activos (no promedio histórico)\n// - Quality rankings reales desde nodo \"Get Quality Rankings\" (no UNKNOWN)\n// - Tabla Bruno: ads ACTIVOS separados de PAUSADOS\n// - Orquestador al inicio del prompt Bruno: posición, gap, hipótesis falsadas, decisiones pendientes\n// - Gate de frescura: si datos > 12h → advertencia en email\n// - Timestamp de ejecución en subject del email\n\n// ── Constantes de campaña ──────────────────────────────────────────────\nconst CAMPAIGN_BUDGET_TOTAL = 500000;               // ARS — presupuesto-v4\nconst CAMPAIGN_BASELINE_FB  = 23;                   // fans FB al 22/04 (baseline Follow Plan)\nconst CAMPAIGN_BASELINE_IG  = 11;                   // seguidores IG al 22/04\nconst CAMPAIGN_START_DATE   = new Date('2026-04-19T03:00:00Z'); // día 1 ART\nconst CAMPAIGN_END_DATE     = new Date('2026-05-16T03:00:00Z'); // fin plan\nconst CAMPAIGN_TOTAL_DAYS   = 27;\n\n// ── Input: insights ────────────────────────────────────────────────────\nvar response;\ntry {\n  response = $('Get Ad Insights').first().json;\n} catch(e) {\n  // fallback por si se ejecuta en contexto sin nodo nombrado (tests manuales)\n  response = $input.first().json;\n}\nconst adsData = response.data || [];\n\n// ── Input: follower counts ─────────────────────────────────────────────\nvar fbFollowersNow = null;\nvar igFollowersNow = null;\ntry {\n  var fbData = $('Get FB Followers').first().json;\n  fbFollowersNow = parseInt(fbData.fan_count || fbData.followers_count || 0) || null;\n} catch(e) {}\ntry {\n  var igData = $('Get IG Followers').first().json;\n  igFollowersNow = parseInt(igData.followers_count || 0) || null;\n} catch(e) {}\n\n// ── Input: effective_status real (nodo \"Get Ad Status Batch\") ──────────\n// Mapa { ad_id: effective_status } — diferencia activos de pausados sin ambigüedad\nvar adStatusMap = {};\ntry {\n  var statusResp = $('Get Ad Status Batch').first().json;\n  (statusResp.data || []).forEach(function(ad) {\n    adStatusMap[ad.id] = ad.effective_status;\n  });\n} catch(e) {}\n\n// ── Input: burn rate real (nodo \"Get Ad Set Budgets\") ──────────────────\n// Suma de daily_budget de ad sets con effective_status ACTIVE\nvar realBurnRate = 0;\nvar burnRateSource = 'historical_avg';\ntry {\n  var budgetResp = $('Get Ad Set Budgets').first().json;\n  (budgetResp.data || []).forEach(function(adset) {\n    if (adset.effective_status === 'ACTIVE') {\n      realBurnRate += parseInt(adset.daily_budget || 0) / 100; // Meta devuelve en centavos\n    }\n  });\n  if (realBurnRate > 0) burnRateSource = 'ad_set_budgets';\n} catch(e) {}\n\n// ── Input: quality rankings reales (nodo \"Get Quality Rankings\") ───────\n// Mapa { ad_id: { quality_ranking, engagement_rate_ranking, conversion_rate_ranking } }\nvar qualityMap = {};\ntry {\n  var qualResp = $('Get Quality Rankings').first().json;\n  (qualResp.data || []).forEach(function(row) {\n    qualityMap[row.ad_id] = {\n      quality_ranking: row.quality_ranking,\n      engagement_rate_ranking: row.engagement_rate_ranking,\n      conversion_rate_ranking: row.conversion_rate_ranking\n    };\n  });\n} catch(e) {}\n\n// ── Gate de frescura (12h) ─────────────────────────────────────────────\nvar freshnessWarning = '';\ntry {\n  var metaHeader = $('Get Ad Insights').first().json._meta;\n  if (metaHeader && metaHeader.fetched_at) {\n    var insightsAge = (new Date() - new Date(metaHeader.fetched_at)) / (1000 * 60 * 60);\n    if (insightsAge >= 12) {\n      freshnessWarning = 'DATOS CON ' + Math.round(insightsAge) + 'h DE ANTIGUEDAD — verificar frescura';\n    }\n  }\n} catch(e) {}\n\n// ── Fecha ART ──────────────────────────────────────────────────────────\nconst now = new Date();\nconst artNow = new Date(now.getTime() - 3 * 60 * 60 * 1000);\nconst dd   = String(artNow.getUTCDate()).padStart(2, '0');\nconst mm   = String(artNow.getUTCMonth() + 1).padStart(2, '0');\nconst yyyy = artNow.getUTCFullYear();\nconst todayStr = dd + '/' + mm + '/' + yyyy;\n\n// ── Mapa campaign_id → tipo ────────────────────────────────────────────\nconst campaignTypeMap = {\n  '120238976548160139': 'AWR',\n  '120238976548380139': 'ENG',\n  '120238976549000139': 'TRF',\n  '120238976549780139': 'LEA',\n  '120239303658100139': 'FOLLOW',\n  '120239303658190139': 'FOLLOW',\n};\n\n// ── Helpers ────────────────────────────────────────────────────────────\nfunction getAction(actions, type) {\n  var found = (actions || []).find(function(a) { return a.action_type === type; });\n  return found ? parseInt(found.value) : 0;\n}\n\nfunction getFollowsIG(actions) {\n  return getAction(actions, 'instagram_follow')\n      || getAction(actions, 'omni_instagramapp_follow')\n      || getAction(actions, 'follow');\n}\n\nfunction getThruPlays(field) {\n  if (!field) return 0;\n  if (Array.isArray(field)) {\n    var found = field.find(function(a) { return a.action_type === 'video_thruplay_watched'; });\n    return found ? parseInt(found.value) : (field.length > 0 ? parseInt(field[0].value) : 0);\n  }\n  return parseInt(field) || 0;\n}\n\nfunction getDaysActive(createdTime) {\n  if (!createdTime) return 0;\n  return Math.max(0, Math.floor((now - new Date(createdTime)) / (1000 * 60 * 60 * 24)));\n}\n\nfunction inferCampaignType(campaignId) {\n  return campaignTypeMap[campaignId] || 'AWR';\n}\n\nfunction inferPlatform(adName) {\n  var n = (adName || '').toLowerCase();\n  if (n.includes('_ig_') || n.includes('_ig ') || n.endsWith('_ig')) return 'IG';\n  if (n.includes('_fb_') || n.includes('_fb ') || n.endsWith('_fb')) return 'FB';\n  return '—';\n}\n\nfunction inferSegment(adName) {\n  var n = (adName || '').toLowerCase();\n  if (n.includes('retarget')) return 'Retarget';\n  if (n.includes('cold'))     return 'Cold';\n  return '—';\n}\n\nfunction rankingInfo(val) {\n  if (!val || val === 'UNKNOWN' || val === '') return { label: '—', color: '#9ca3af' };\n  if (val === 'ABOVE_AVERAGE')    return { label: '▲ TOP', color: '#16a34a' };\n  if (val === 'AVERAGE')          return { label: '≈ AVG', color: '#2563eb' };\n  if (val === 'BELOW_AVERAGE_10') return { label: '▼ -10%', color: '#ca8a04' };\n  if (val === 'BELOW_AVERAGE_20') return { label: '▼ -20%', color: '#ea580c' };\n  if (val === 'BELOW_AVERAGE_35') return { label: '▼▼ BOT', color: '#dc2626' };\n  return { label: val, color: '#6b7280' };\n}\n\n// ── Sin datos ──────────────────────────────────────────────────────────\nif (adsData.length === 0) {\n  return [{ json: {\n    subject: '[ENBA Ads] ' + todayStr + ' — Sin datos de insights',\n    html: '<html><body style=\"font-family:Arial,sans-serif;\"><h2>ENBA Meta Ads — Sin datos</h2>'\n      + '<p>Fecha: ' + todayStr + '</p>'\n      + '<p>Meta no devolvio datos. Los ads pueden llevar menos de unas horas activos.</p>'\n      + '</body></html>',\n    brunoPrompt: '', totalSpend: 0, adsCount: 0\n  } }];\n}\n\n// ── Diagnóstico action_types ───────────────────────────────────────────\nvar diagActionTypes = {};\nadsData.forEach(function(ad) {\n  (ad.actions || []).forEach(function(a) {\n    if (!diagActionTypes[a.action_type]) diagActionTypes[a.action_type] = 0;\n    diagActionTypes[a.action_type] += parseInt(a.value) || 0;\n  });\n});\n\n// ── Procesar cada ad ───────────────────────────────────────────────────\nvar results = adsData.map(function(ad) {\n  var impressions  = parseInt(ad.impressions || 0);\n  var reach        = parseInt(ad.reach || 0);\n  var spend        = parseFloat(ad.spend || 0);\n  var ctr          = parseFloat(ad.ctr || 0);\n  var frequency    = parseFloat(ad.frequency || 0);\n  var daysActive   = getDaysActive(ad.created_time);\n  var campaignType = inferCampaignType(ad.campaign_id);\n  var platform     = inferPlatform(ad.ad_name);\n  var segment      = inferSegment(ad.ad_name);\n\n  var engagements = getAction(ad.actions, 'post_engagement');\n  var er = reach > 0 ? (engagements / reach * 100) : 0;\n\n  var igFollows       = getFollowsIG(ad.actions);\n  var igProfileVisits = parseInt(ad.instagram_profile_visits || 0);\n  var fbLikes         = getAction(ad.actions, 'like');\n\n  var followSignal = 0;\n  var followLabel  = '';\n  if (campaignType === 'FOLLOW') {\n    if (igFollows > 0) {\n      followSignal = igFollows + fbLikes;\n      followLabel = 'F:' + igFollows + (fbLikes > 0 ? '/L:' + fbLikes : '');\n    } else if (igProfileVisits > 0 || fbLikes > 0) {\n      followSignal = igProfileVisits + fbLikes;\n      followLabel = 'V:' + igProfileVisits + (fbLikes > 0 ? '/L:' + fbLikes : '');\n    } else {\n      followLabel = '0';\n    }\n  } else {\n    followLabel = '—';\n  }\n\n  var thruPlays    = getThruPlays(ad.video_thruplay_watched_actions);\n  var thruPlayRate = impressions > 0 ? (thruPlays / impressions * 100) : 0;\n\n  var videoViews3s = getAction(ad.actions, 'video_view');\n  var hookRate     = impressions > 0 ? (videoViews3s / impressions * 100) : 0;\n  var holdRate     = videoViews3s > 0 ? (thruPlays / videoViews3s * 100) : 0;\n  var isVideoAd    = videoViews3s > 0 || thruPlays > 0;\n\n  var cpm      = impressions > 0 ? (spend / impressions * 1000) : 0;\n  var saves    = getAction(ad.actions, 'onsite_conversion.post_net_save');\n\n  var cps    = (campaignType === 'FOLLOW' && followSignal > 0) ? Math.round(spend / followSignal) : null;\n  var cpsStr = cps !== null ? '$' + cps : 'N/A';\n\n  // Quality rankings desde nodo dedicado (no desde /insights — ese endpoint no los devuelve)\n  var qualRank = (qualityMap[ad.ad_id] && qualityMap[ad.ad_id].quality_ranking)\n    || ad.quality_ranking || 'UNKNOWN';\n  var engRank = (qualityMap[ad.ad_id] && qualityMap[ad.ad_id].engagement_rate_ranking)\n    || ad.engagement_rate_ranking || 'UNKNOWN';\n  var conRank = (qualityMap[ad.ad_id] && qualityMap[ad.ad_id].conversion_rate_ranking)\n    || ad.conversion_rate_ranking || 'UNKNOWN';\n\n  // effective_status real desde API (no el campo status que puede quedar desactualizado)\n  var effectiveStatus = adStatusMap[ad.ad_id] || 'UNKNOWN';\n  var isCurrentlyActive = effectiveStatus === 'ACTIVE';\n\n  var verdict = 'VIABLE';\n  var reasons = [];\n  if (!isCurrentlyActive) {\n    verdict = 'PAUSED';\n    reasons.push('Pausado — solo historial, sin gasto actual');\n  } else if (daysActive < 3) {\n    verdict = 'LEARNING';\n    reasons.push(daysActive + 'd activo, esperar 72h');\n  } else if (frequency > 3.5) {\n    verdict = 'FATIGUE';\n    reasons.push('Freq ' + frequency.toFixed(1) + ' > 3.5');\n  } else if (daysActive > 14) {\n    verdict = 'MAX_REACHED';\n    reasons.push(daysActive + 'd > 14 max');\n  } else if ((cps !== null && cps > 100) || er < 1 || ctr < 0.4) {\n    verdict = 'CORTAR';\n    if (cps !== null && cps > 100) reasons.push('CPS $' + cps + ' > $100');\n    if (er < 1)    reasons.push('ER ' + er.toFixed(1) + '% < 1%');\n    if (ctr < 0.4) reasons.push('CTR ' + ctr.toFixed(2) + '% < 0.4%');\n  } else if (cps !== null && cps < 30 && er > 3) {\n    verdict = 'WINNER';\n    reasons.push('CPS $' + cps + ' < $30, ER ' + er.toFixed(1) + '% > 3%');\n  } else if (daysActive >= 10) {\n    verdict = 'FATIGUE_WARNING';\n    reasons.push(daysActive + 'd, preparar reemplazo');\n  }\n\n  return {\n    adId: ad.ad_id, adName: ad.ad_name,\n    campaignType: campaignType, platform: platform, segment: segment,\n    daysActive: daysActive, impressions: impressions, reach: reach,\n    spend: Math.round(spend), cpm: cpm.toFixed(0),\n    ctr: ctr.toFixed(2), frequency: frequency.toFixed(1),\n    engagements: engagements, er: er.toFixed(1),\n    igFollows: igFollows, igProfileVisits: igProfileVisits, fbLikes: fbLikes,\n    followLabel: followLabel, followSignal: followSignal,\n    thruPlays: thruPlays, thruPlayRate: thruPlayRate.toFixed(1),\n    videoViews3s: videoViews3s,\n    hookRate: hookRate.toFixed(1), holdRate: holdRate.toFixed(1), isVideoAd: isVideoAd,\n    saves: saves,\n    cps: cpsStr, cpsRaw: cps,\n    qualRank: qualRank, engRank: engRank, conRank: conRank,\n    effectiveStatus: effectiveStatus, isCurrentlyActive: isCurrentlyActive,\n    verdict: verdict, reason: reasons.join(', ') || 'Dentro de parametros'\n  };\n});\n\n// ── Segmentar ──────────────────────────────────────────────────────────\nvar followAds = results.filter(function(r) { return r.campaignType === 'FOLLOW'; });\nvar engAds    = results.filter(function(r) { return r.campaignType === 'ENG'; });\nvar awrAds    = results.filter(function(r) { return r.campaignType === 'AWR'; });\n\n// ── Totales ────────────────────────────────────────────────────────────\nvar totalSpend       = results.reduce(function(s, r) { return s + r.spend; }, 0);\nvar totalReach       = results.reduce(function(s, r) { return s + r.reach; }, 0);\nvar totalImpressions = results.reduce(function(s, r) { return s + r.impressions; }, 0);\nvar totalIgFollows   = followAds.reduce(function(s, r) { return s + r.igFollows; }, 0);\nvar totalIgVisits    = followAds.reduce(function(s, r) { return s + r.igProfileVisits; }, 0);\nvar totalFbLikes     = followAds.reduce(function(s, r) { return s + r.fbLikes; }, 0);\nvar totalSaves       = results.reduce(function(s, r) { return s + r.saves; }, 0);\nvar totalThruPlays   = results.reduce(function(s, r) { return s + r.thruPlays; }, 0);\nvar blendedCPM       = totalImpressions > 0 ? (totalSpend / totalImpressions * 1000).toFixed(0) : null;\nvar totalFollowSig   = followAds.reduce(function(s, r) {\n  var sig = r.igFollows > 0 ? r.igFollows + r.fbLikes : r.igProfileVisits + r.fbLikes;\n  return s + sig;\n}, 0);\nvar blendedCPS = totalFollowSig > 0 ? Math.round(totalSpend / totalFollowSig) : null;\n\n// ── Día de referencia ──────────────────────────────────────────────────\nvar refAd = results.find(function(r) { return r.campaignType === 'ENG' && r.daysActive > 0; });\nvar dayRef = refAd ? refAd.daysActive : results.reduce(function(m, r) { return Math.max(m, r.daysActive); }, 0);\n\n// ── Burn rate + presupuesto ────────────────────────────────────────────\n// Priorizar burn rate real (suma de budgets de ad sets activos) sobre promedio histórico\nvar burnRateDaily    = realBurnRate > 0 ? realBurnRate : (dayRef > 0 ? Math.round(totalSpend / dayRef) : 0);\nvar budgetRemaining  = CAMPAIGN_BUDGET_TOTAL - totalSpend;\nvar daysToEnd        = Math.max(0, Math.round((CAMPAIGN_END_DATE - now) / (1000 * 60 * 60 * 24)));\nvar daysAtBurn       = burnRateDaily > 0 ? Math.floor(budgetRemaining / burnRateDaily) : 999;\nvar budgetRisk       = daysAtBurn < daysToEnd; // true = presupuesto se agota antes que el plan\nvar exhaustDate      = new Date(now.getTime() + daysAtBurn * 24 * 60 * 60 * 1000);\nvar exhaustStr       = String(exhaustDate.getUTCDate()).padStart(2,'0') + '/'\n                     + String(exhaustDate.getUTCMonth()+1).padStart(2,'0');\n\n// ── Follower growth ────────────────────────────────────────────────────\nvar fbNetNew  = fbFollowersNow !== null ? fbFollowersNow - CAMPAIGN_BASELINE_FB : null;\nvar igNetNew  = igFollowersNow !== null ? igFollowersNow - CAMPAIGN_BASELINE_IG : null;\n// Follow rate IG: net new IG / total IG profile visits\nvar igFollowRate = (igNetNew !== null && igNetNew > 0 && totalIgVisits > 0)\n  ? (igNetNew / totalIgVisits * 100).toFixed(1) : null;\n\n// ── Segmento Cold/Retarget × FB/IG para Follow Plan ───────────────────\nvar segmentStats = {};\nfollowAds.forEach(function(r) {\n  var key = r.platform + '_' + r.segment;\n  if (!segmentStats[key]) {\n    segmentStats[key] = { platform: r.platform, segment: r.segment, spend: 0, follows: 0, visits: 0 };\n  }\n  segmentStats[key].spend   += r.spend;\n  segmentStats[key].follows += r.igFollows + r.fbLikes;\n  segmentStats[key].visits  += r.igProfileVisits;\n});\n\n// ── Split activos vs pausados ──────────────────────────────────────────\nvar activeResults = results.filter(function(r) { return r.isCurrentlyActive; });\nvar pausedResults = results.filter(function(r) { return !r.isCurrentlyActive; });\n\n// ── Conteo veredictos (solo activos para el resumen ejecutivo) ─────────\nvar counts = {};\nactiveResults.forEach(function(r) { counts[r.verdict] = (counts[r.verdict] || 0) + 1; });\nvar summaryParts = [];\nif (counts.WINNER)          summaryParts.push(counts.WINNER + ' WINNER');\nif (counts.VIABLE)          summaryParts.push(counts.VIABLE + ' VIABLE');\nif (counts.LEARNING)        summaryParts.push(counts.LEARNING + ' LEARNING');\nif (counts.CORTAR)          summaryParts.push(counts.CORTAR + ' CORTAR');\nif (counts.FATIGUE)         summaryParts.push(counts.FATIGUE + ' FATIGUE');\nif (counts.FATIGUE_WARNING) summaryParts.push(counts.FATIGUE_WARNING + ' WARNING');\nif (counts.MAX_REACHED)     summaryParts.push(counts.MAX_REACHED + ' MAX');\nvar summaryStr = summaryParts.join(' | ') || 'Sin datos';\n\n// ── Estilos HTML ───────────────────────────────────────────────────────\nfunction verdictStyle(v) {\n  var map = {\n    WINNER:          { color: '#16a34a', bg: '#f0fdf4' },\n    VIABLE:          { color: '#2563eb', bg: '#eff6ff' },\n    LEARNING:        { color: '#7c3aed', bg: '#f5f3ff' },\n    CORTAR:          { color: '#dc2626', bg: '#fef2f2' },\n    FATIGUE:         { color: '#ea580c', bg: '#fff7ed' },\n    FATIGUE_WARNING: { color: '#ca8a04', bg: '#fefce8' },\n    MAX_REACHED:     { color: '#dc2626', bg: '#fef2f2' },\n  };\n  return map[v] || { color: '#6b7280', bg: '#f9fafb' };\n}\nfunction typeBadge(type) {\n  var colors = { FOLLOW: '#7c3aed', ENG: '#2563eb', AWR: '#0891b2', LEA: '#059669', TRF: '#d97706' };\n  return '<span style=\"background:' + (colors[type] || '#9ca3af') + ';color:white;padding:1px 5px;border-radius:3px;font-size:10px;\">' + type + '</span>';\n}\nfunction rankBadge(val) {\n  var info = rankingInfo(val);\n  return '<span style=\"color:' + info.color + ';font-weight:bold;font-size:10px;\">' + info.label + '</span>';\n}\n\n// ── Función fila tabla ─────────────────────────────────────────────────\nfunction makeTableRow(r) {\n  var s = verdictStyle(r.verdict);\n  var tpCell   = r.thruPlays > 0 ? r.thruPlayRate + '%' : '—';\n  var hookCell = r.isVideoAd ? r.hookRate + '%' : '—';\n  var holdCell = (r.isVideoAd && r.videoViews3s > 0) ? r.holdRate + '%' : '—';\n  var savesCell = r.saves > 0 ? r.saves : '—';\n  var segCell = r.segment !== '—' ? r.segment : '';\n  return '<tr style=\"border-bottom:1px solid #e5e7eb;\">'\n    + '<td style=\"padding:5px 8px;font-size:11px;max-width:170px;\">' + r.adName + '</td>'\n    + '<td style=\"padding:4px;text-align:center;\">' + typeBadge(r.campaignType) + '</td>'\n    + '<td style=\"padding:4px;text-align:center;font-size:10px;color:#6b7280;\">' + r.platform + '</td>'\n    + '<td style=\"padding:4px;text-align:center;font-size:10px;color:#6b7280;\">' + segCell + '</td>'\n    + '<td style=\"padding:4px;text-align:center;\">' + r.daysActive + 'd</td>'\n    + '<td style=\"padding:4px;text-align:right;\">$' + r.spend.toLocaleString() + '</td>'\n    + '<td style=\"padding:4px;text-align:right;font-size:10px;color:#6b7280;\">$' + r.cpm + '</td>'\n    + '<td style=\"padding:4px;text-align:right;\">' + r.reach.toLocaleString() + '</td>'\n    + '<td style=\"padding:4px;text-align:center;\">' + r.ctr + '%</td>'\n    + '<td style=\"padding:4px;text-align:center;\">' + r.er + '%</td>'\n    + '<td style=\"padding:4px;text-align:center;\">' + r.frequency + '</td>'\n    + '<td style=\"padding:4px;text-align:center;color:#7c3aed;\">' + tpCell + '</td>'\n    + '<td style=\"padding:4px;text-align:center;color:#0891b2;\">' + hookCell + '</td>'\n    + '<td style=\"padding:4px;text-align:center;color:#0891b2;\">' + holdCell + '</td>'\n    + '<td style=\"padding:4px;text-align:center;color:#059669;\">' + savesCell + '</td>'\n    + '<td style=\"padding:4px;text-align:center;font-size:11px;\">' + r.followLabel + '</td>'\n    + '<td style=\"padding:4px;text-align:right;\">' + r.cps + '</td>'\n    + '<td style=\"padding:4px;text-align:center;background:' + s.bg + ';color:' + s.color + ';font-weight:bold;\">' + r.verdict + '</td>'\n    + '<td style=\"padding:4px;font-size:10px;color:#6b7280;\">' + r.reason + '</td>'\n    + '</tr>';\n}\nvar activeTableRows = activeResults.map(makeTableRow).join('\\n');\nvar pausedTableRows = pausedResults.map(makeTableRow).join('\\n');\n\n// ── Panel Quality Rankings ─────────────────────────────────────────────\nvar qualityRows = results.map(function(r) {\n  return '<tr style=\"border-bottom:1px solid #e5e7eb;\">'\n    + '<td style=\"padding:4px 8px;font-size:11px;\">' + r.adName + '</td>'\n    + '<td style=\"padding:4px;text-align:center;\">' + typeBadge(r.campaignType) + '</td>'\n    + '<td style=\"padding:4px;text-align:center;\">' + rankBadge(r.qualRank) + '</td>'\n    + '<td style=\"padding:4px;text-align:center;\">' + rankBadge(r.engRank) + '</td>'\n    + '<td style=\"padding:4px;text-align:center;\">' + rankBadge(r.conRank) + '</td>'\n    + '</tr>';\n}).join('\\n');\n\n// ── Prompt Bruno ───────────────────────────────────────────────────────\nfunction makeBrunoSection(ads, title) {\n  if (ads.length === 0) return '';\n  var hdr = '| Ad | Plat | Seg | Dias | Spend | CPM | Reach | CTR | ER | Hook% | Hold% | ThruPlay | IG Visits | FB Likes | Saves | CPS | Freq | QualRank | EngRank | Veredicto | Razon |';\n  var sep = '|---|---|---|---|---|---|---|---|---|---|---|---|---|---|---|---|---|---|---|---|---|';\n  var rows = ads.map(function(r) {\n    var tp = r.thruPlays > 0 ? r.thruPlayRate + '% (' + r.thruPlays + ')' : 'N/A';\n    return '| ' + r.adName + ' | ' + r.platform + ' | ' + r.segment\n      + ' | ' + r.daysActive + 'd'\n      + ' | $' + r.spend + ' | $' + r.cpm\n      + ' | ' + r.reach\n      + ' | ' + r.ctr + '% | ' + r.er + '%'\n      + ' | ' + (r.isVideoAd ? r.hookRate + '%' : '—')\n      + ' | ' + (r.isVideoAd && r.videoViews3s > 0 ? r.holdRate + '%' : '—')\n      + ' | ' + tp\n      + ' | ' + r.igProfileVisits\n      + ' | ' + r.fbLikes\n      + ' | ' + r.saves\n      + ' | ' + r.cps + ' | ' + r.frequency\n      + ' | ' + r.qualRank + ' | ' + r.engRank\n      + ' | ' + r.verdict + ' | ' + r.reason + ' |';\n  }).join('\\n');\n  return '\\n### ' + title + '\\n\\n' + hdr + '\\n' + sep + '\\n' + rows + '\\n';\n}\n\n// Tabla segmentos Cold/Retarget × FB/IG\nvar segTableLines = ['| Segmento | Spend | Follows/Likes | Visits IG | CPF/CPV |',\n                     '|---|---|---|---|---|'];\nObject.keys(segmentStats).sort().forEach(function(key) {\n  var s = segmentStats[key];\n  var cpf = s.follows > 0 ? '$' + Math.round(s.spend / s.follows) : '—';\n  var cpv = s.visits > 0 && s.platform === 'IG' ? '$' + Math.round(s.spend / s.visits) : '—';\n  segTableLines.push('| ' + s.platform + ' ' + s.segment\n    + ' | $' + s.spend + ' | ' + s.follows + ' | ' + s.visits\n    + ' | ' + (s.platform === 'FB' ? cpf : cpv) + ' |');\n});\n\n// ENG D4 context\nvar engThruTotal = engAds.reduce(function(s, r) { return s + r.thruPlays; }, 0);\nvar d4Context = engThruTotal > 0\n  ? '\\n### D4 Custom Audience (Video Viewers)\\n'\n    + engThruTotal.toLocaleString() + ' ThruPlays acumulados en ENG. '\n    + 'D4 debería tener volumen para warm retargeting. '\n    + 'Verificar en Ads Manager → Audiences → D4 Video Viewers.\\n'\n    + 'Los ENG reels tienen valor estratégico aunque no generen follows directos: '\n    + 'alimentan la custom audience que baja el CPF en Follow FB Retarget.\\n'\n  : '';\n\n// Follower summary para prompt\nvar followerSummary = '';\nif (fbFollowersNow !== null || igFollowersNow !== null) {\n  followerSummary = '\\n## Estado de seguidores (API en tiempo real)\\n';\n  if (fbFollowersNow !== null) {\n    followerSummary += '| Plataforma | Ahora | Baseline 22/04 | Nuevos |\\n';\n    followerSummary += '|---|---|---|---|\\n';\n    followerSummary += '| Facebook | ' + fbFollowersNow + ' | ' + CAMPAIGN_BASELINE_FB + ' | +' + (fbFollowersNow - CAMPAIGN_BASELINE_FB) + ' |\\n';\n    if (igFollowersNow !== null) {\n      followerSummary += '| Instagram | ' + igFollowersNow + ' | ' + CAMPAIGN_BASELINE_IG + ' | +' + (igFollowersNow - CAMPAIGN_BASELINE_IG) + ' |\\n';\n    }\n  }\n  if (igFollowRate !== null) {\n    followerSummary += '\\n⚠ **Follow rate IG**: ' + igNetNew + ' nuevos IG / ' + totalIgVisits + ' profile visits = **' + igFollowRate + '%**'\n      + ' (benchmark 15–35%). '\n      + (parseFloat(igFollowRate) < 10 ? '🔴 Perfil no convierte — revisar bio, grid y highlights antes de escalar Follow IG.' : '✅ Conversión aceptable.')\n      + '\\n';\n  }\n}\n\n// Burn rate para prompt\nvar burnSummary = '\\n## Presupuesto y burn rate\\n'\n  + '| | |\\n|---|---|\\n'\n  + '| Presupuesto total | $' + CAMPAIGN_BUDGET_TOTAL.toLocaleString() + ' |\\n'\n  + '| Gastado (acumulado) | $' + totalSpend.toLocaleString() + ' |\\n'\n  + '| Restante | $' + Math.round(budgetRemaining).toLocaleString() + ' |\\n'\n  + '| Burn rate (promedio/día) | $' + burnRateDaily.toLocaleString() + ' |\\n'\n  + '| Días restantes del plan | ' + daysToEnd + ' (hasta 16/05) |\\n'\n  + '| Días de presupuesto al ritmo actual | ' + daysAtBurn + ' |\\n'\n  + (budgetRisk\n    ? '\\n🔴 **RIESGO PRESUPUESTO**: al ritmo actual ($' + burnRateDaily.toLocaleString() + '/día), el presupuesto se agota el '\n      + exhaustStr + ' — **' + (daysToEnd - daysAtBurn) + ' días antes del cierre del plan**. '\n      + 'Para llegar al 16/05 el budget diario máximo es $' + Math.round(budgetRemaining / daysToEnd).toLocaleString() + '/día.\\n'\n    : '\\n✅ Presupuesto alcanza hasta el final del plan y más.\\n');\n\n// ── Orquestador de campaña ─────────────────────────────────────────────\nvar fbNetNewStr  = fbNetNew !== null ? '+' + fbNetNew : '?';\nvar igNetNewStr  = igNetNew !== null ? '+' + igNetNew : '?';\nvar totalNetNew  = (fbNetNew || 0) + (igNetNew || 0);\nvar gapToGoal    = 10000 - (fbFollowersNow || CAMPAIGN_BASELINE_FB) - (igFollowersNow || CAMPAIGN_BASELINE_IG) + 34;\nvar orchestratorSection =\n  '## CONTEXTO DE CAMPANA — Orquestador\\n\\n'\n  + 'Mision: 10.000 seguidores IG+FB en 27 dias de pauta (19/04 – 16/05/2026).\\n'\n  + 'Datos frescos al: ' + todayStr + ' ' + String(artNow.getUTCHours()).padStart(2,'0') + ':' + String(artNow.getUTCMinutes()).padStart(2,'0') + ' ART'\n  + (burnRateSource === 'ad_set_budgets' ? ' | Burn rate: sum ad_set budgets activos' : ' | Burn rate: promedio historico')\n  + (freshnessWarning ? ' | AVISO: ' + freshnessWarning : '')\n  + '\\n\\n'\n  + '### Posicion actual: Dia ' + dayRef + ' de 27\\n'\n  + '- Seguidores FB: ' + (fbFollowersNow || '?') + ' (baseline 23 → ' + fbNetNewStr + ' nuevos)\\n'\n  + '- Seguidores IG: ' + (igFollowersNow || '?') + ' (baseline 11 → ' + igNetNewStr + ' nuevos)\\n'\n  + '- Total nuevos: ' + totalNetNew + ' / objetivo 10.000 | Gap: ' + gapToGoal + ' seguidores\\n\\n'\n  + '### Budget\\n'\n  + '- Gastado: $' + totalSpend.toLocaleString() + ' / $500.000\\n'\n  + '- Restante: $' + Math.round(budgetRemaining).toLocaleString() + '\\n'\n  + '- Burn rate REAL (sum ad sets activos): $' + burnRateDaily.toLocaleString() + '/dia\\n'\n  + '- Dias restantes: ' + daysToEnd + '\\n'\n  + (budgetRisk ? '- RIESGO: presupuesto se agota el ' + exhaustStr + ' — ' + (daysToEnd - daysAtBurn) + ' dias antes del 16/05\\n' : '- OK: presupuesto alcanza hasta el 16/05\\n')\n  + '\\n### Ads ACTIVOS ahora (' + activeResults.length + ' ads gastan dinero)\\n'\n  + activeResults.map(function(r) { return '- ' + r.adName + ' [' + r.verdict + ']'; }).join('\\n') + '\\n'\n  + '\\n### Ads PAUSADOS (' + pausedResults.length + ' ads — solo historial)\\n'\n  + pausedResults.map(function(r) { return '- ' + r.adName; }).join('\\n') + '\\n'\n  + '\\n### Lo que sabemos que FUNCIONA\\n'\n  + '- WINNER: ENBA_ad_corporativo_IG_Cold — CPV $26, ER 4.9%, imagen estatica (NO video)\\n'\n  + '- Follow FB: destinos_FB_Cold — CPF $89, ABOVE_AVERAGE, imagen\\n'\n  + '- ENG: reel4horas — Hook 57%, ER 64.9%, alimenta D4 (3.600-4.200 personas)\\n\\n'\n  + '### Hipotesis FALSADAS\\n'\n  + '- FALSADA: Video-first — el WINNER es imagen estatica. Micro-reels en FB tienen CPM 4x mas caro.\\n'\n  + '- FALSADA: Retarget siempre mas barato — en FB retarget es MAS CARO que cold (anomalia).\\n\\n'\n  + '### Decisiones pendientes (bloquean escalado)\\n'\n  + '1. Perfil IG no convierte (follow rate 3.2% vs benchmark 15-35%) — requiere Marina\\n'\n  + '2. Reemplazo creativo para reel4horas (FATIGUE_WARNING dia ' + dayRef + ') — requiere Dani\\n'\n  + '3. 3 ads ACTIVOS + CORTAR: microreel_FB_Cold, microreel_FB_Retarget, nosotros_FB_Retarget — pendiente Jose\\n\\n'\n  + '---\\n\\n';\n\nvar brunoPrompt = 'Contexto REDES. Carga /bruno.\\n\\n'\n  + orchestratorSection\n  + 'Reporte automatico Meta Ads — ' + todayStr + '.\\n'\n  + 'Campana ENBA activa desde 19/04/2026. Dia ' + dayRef + ' de ' + CAMPAIGN_TOTAL_DAYS + '.\\n'\n  + 'Spend total: $' + totalSpend.toLocaleString()\n  + ' | CPM blended: $' + (blendedCPM || '—')\n  + ' | Reach: ' + totalReach.toLocaleString()\n  + ' | ThruPlays: ' + totalThruPlays.toLocaleString()\n  + ' | Saves: ' + totalSaves\n  + '\\n'\n  + followerSummary\n  + burnSummary\n  + '\\n## Resumen por segmento — Follow Plan\\n'\n  + segTableLines.join('\\n') + '\\n'\n  + '\\n## Benchmarks 2026\\n'\n  + '- CPM IG/FB Argentina: $30-$80 normal, < $30 excelente, > $120 problema\\n'\n  + '- Hook Rate (3s views / impressions): > 25% bueno, > 40% excelente\\n'\n  + '- Hold Rate (thruplay / 3s views): > 25% bueno, > 40% excelente\\n'\n  + '- CTR micro-video 15s FB: 3-8% normal, > 10% excepcional\\n'\n  + '- CPF cuentas nuevas Argentina: $80-$300 rango normal\\n'\n  + '- Follow rate (visit→follow): 15-35% benchmark cuentas nuevas\\n'\n  + '- Quality Ranking ABOVE_AVERAGE = top 55%; AVERAGE = ok; BELOW_AVERAGE = problema creativo o saturacion\\n'\n  + '\\n## Datos por objetivo — ACTIVOS\\n'\n  + makeBrunoSection(activeResults.filter(function(r) { return r.campaignType === 'FOLLOW'; }), 'FOLLOW Plan (objetivo: visitas perfil IG + page likes FB)')\n  + makeBrunoSection(activeResults.filter(function(r) { return r.campaignType === 'ENG'; }),    'ENGAGEMENT (objetivo: post engagement, ThruPlay, construye D4)')\n  + makeBrunoSection(activeResults.filter(function(r) { return r.campaignType === 'AWR'; }),    'AWARENESS (objetivo: reach)')\n  + d4Context\n  + '\\n## Historial — PAUSADOS (sin gasto actual)\\n'\n  + makeBrunoSection(pausedResults, 'Ads pausados — referencia historica unicamente')\n  + '\\n## Reglas plan v4\\n'\n  + '- CORTAR (72h+): CPS > $100 o ER < 1% o CTR < 0.4%\\n'\n  + '- WINNER (72h+): CPS < $30 + ER > 3%\\n'\n  + '- FATIGUE: Frecuencia > 3.5 · MAX: > 14 dias\\n'\n  + '- Escalar WINNER: +25% cada 48h, triple scale si win 5 dias\\n'\n  + '- Gate 2 dia 10 (29/04): follows>200, ER>3%, CPS<$80\\n\\n'\n  + '## Tu tarea\\n'\n  + '1. Confirma o corregi cada veredicto automatico (solo ads ACTIVOS)\\n'\n  + '2. Propone acciones: pausar, escalar, rotar — con impacto presupuestario\\n'\n  + '3. Evalua el riesgo de presupuesto si hay alerta de burn rate\\n'\n  + '4. Analiza follow rate IG si hay datos (benchmark 15-35%)\\n'\n  + '5. Video ads: Hook Rate < 15% = problema de gancho; Hold Rate < 20% = problema de retencion\\n'\n  + '6. Quality Rankings BELOW_AVERAGE = senal de fatiga creativa o mismatch de audiencia\\n'\n  + '7. Evalua D4 audience y si ya tiene volumen para warm retargeting\\n'\n  + '8. Segmento Cold vs Retarget: comparar CPF entre segmentos del mismo canal\\n\\n'\n  + 'Entrega tu analisis y espera aprobacion antes de ejecutar.';\n\n// ── HTML email ─────────────────────────────────────────────────────────\nvar diagLines = Object.keys(diagActionTypes).sort().map(function(k) {\n  return k + ': ' + diagActionTypes[k];\n});\n\n// Alerta presupuesto (banner en email)\nvar budgetBanner = '';\nif (budgetRisk) {\n  budgetBanner = '<div style=\"background:#fef2f2;border:2px solid #dc2626;border-radius:6px;padding:10px 14px;margin:12px 0;\">'\n    + '<b style=\"color:#dc2626;\">⚠ RIESGO PRESUPUESTO:</b>'\n    + ' Burn rate $' + burnRateDaily.toLocaleString() + '/día · Presupuesto restante $' + Math.round(budgetRemaining).toLocaleString()\n    + ' · Se agota el <b>' + exhaustStr + '</b>'\n    + ' (' + (daysToEnd - daysAtBurn) + ' días antes del 16/05)'\n    + ' · Budget diario máximo para llegar al fin: <b>$' + Math.round(budgetRemaining / daysToEnd).toLocaleString() + '/día</b>'\n    + '</div>';\n}\n\n// Panel follower counts\nvar followerPanel = '';\nif (fbFollowersNow !== null || igFollowersNow !== null) {\n  var followRateHtml = igFollowRate !== null\n    ? ' &middot; Follow rate IG: <b style=\"color:' + (parseFloat(igFollowRate) < 10 ? '#dc2626' : '#16a34a') + ';\">' + igFollowRate + '%</b>'\n      + ' <span style=\"color:#6b7280;font-size:10px;\">(bench 15–35%)</span>'\n    : '';\n  followerPanel = '<div style=\"background:#f8fafc;border:1px solid #e2e8f0;border-radius:6px;padding:8px 14px;margin:8px 0;font-size:12px;\">'\n    + '👥 <b>Seguidores ahora:</b>'\n    + (fbFollowersNow !== null ? ' FB <b>' + fbFollowersNow + '</b> (+' + (fbFollowersNow - CAMPAIGN_BASELINE_FB) + ' desde 22/04)' : '')\n    + (igFollowersNow !== null ? ' &middot; IG <b>' + igFollowersNow + '</b> (+' + (igFollowersNow - CAMPAIGN_BASELINE_IG) + ' desde 22/04)' : '')\n    + followRateHtml\n    + '</div>';\n}\n\nvar followDisplay = totalIgFollows > 0\n  ? 'IG F:' + totalIgFollows + ' FB L:' + totalFbLikes\n  : 'IG V:' + totalIgVisits + ' FB L:' + totalFbLikes;\nvar timeStr = String(artNow.getUTCHours()).padStart(2,'0') + ':' + String(artNow.getUTCMinutes()).padStart(2,'0');\nvar subject = '[ENBA Ads] ' + todayStr + ' ' + timeStr\n  + ' | ' + summaryStr\n  + ' | $' + totalSpend.toLocaleString()\n  + ' | ' + followDisplay\n  + ' | Saves:' + totalSaves\n  + (budgetRisk ? ' | BURN' : '')\n  + (freshnessWarning ? ' | DATOS VIEJOS' : '');\n\nvar freshnessBanner = freshnessWarning\n  ? '<div style=\"background:#fef9c3;border:2px solid #ca8a04;border-radius:6px;padding:10px 14px;margin:12px 0;\">'\n    + '<b style=\"color:#ca8a04;\">AVISO FRESCURA:</b> ' + freshnessWarning\n    + '</div>'\n  : '';\n\nvar html = '<!DOCTYPE html><html><head><meta http-equiv=\"Content-Type\" content=\"text/html; charset=UTF-8\"></head>'\n  + '<body style=\"font-family:Arial,sans-serif;max-width:1200px;margin:0 auto;padding:16px;\">'\n  + '<h2 style=\"color:#1e293b;margin-bottom:4px;\">ENBA Meta Ads — Reporte Diario</h2>'\n  + '<p style=\"color:#64748b;margin-top:4px;font-size:13px;\">'\n  + 'Fecha: ' + todayStr + ' &middot; Dia ' + dayRef + ' de ' + CAMPAIGN_TOTAL_DAYS\n  + ' &middot; Spend: $' + totalSpend.toLocaleString()\n  + ' &middot; CPM: <b>$' + (blendedCPM || '—') + '</b>'\n  + ' &middot; IG Visits: <b>' + totalIgVisits + '</b>'\n  + ' &middot; FB Likes: <b>' + totalFbLikes + '</b>'\n  + ' &middot; Saves: <b>' + totalSaves + '</b>'\n  + ' &middot; CPS blended: <b>' + (blendedCPS !== null ? '$' + blendedCPS : '—') + '</b>'\n  + ' &middot; Reach: ' + totalReach.toLocaleString() + '</p>'\n  + '<p style=\"font-size:15px;font-weight:bold;color:#1e293b;\">' + summaryStr + '</p>'\n  + followerPanel\n  + freshnessBanner\n  + budgetBanner\n  // Tabla ACTIVOS\n  + '<h3 style=\"color:#1e293b;font-size:13px;margin:16px 0 4px;\">Ads ACTIVOS (' + activeResults.length + ' — gastan dinero ahora)</h3>'\n  + '<div style=\"overflow-x:auto;\">'\n  + '<table style=\"border-collapse:collapse;width:100%;font-size:11px;\">'\n  + '<thead><tr style=\"background:#f1f5f9;border-bottom:2px solid #cbd5e1;\">'\n  + '<th style=\"padding:5px 8px;text-align:left;\">Ad</th>'\n  + '<th>Tipo</th><th>Plat</th><th>Seg</th><th>Dias</th>'\n  + '<th style=\"text-align:right;\">Spend</th>'\n  + '<th style=\"text-align:right;color:#6b7280;\">CPM</th>'\n  + '<th style=\"text-align:right;\">Reach</th>'\n  + '<th>CTR</th><th>ER</th><th>Freq</th>'\n  + '<th style=\"color:#7c3aed;\">ThruPly</th>'\n  + '<th style=\"color:#0891b2;\">Hook%</th>'\n  + '<th style=\"color:#0891b2;\">Hold%</th>'\n  + '<th style=\"color:#059669;\">Saves</th>'\n  + '<th>Follows/V</th>'\n  + '<th style=\"text-align:right;\">CPS</th>'\n  + '<th>Veredicto</th><th>Razon</th>'\n  + '</tr></thead><tbody>\\n'\n  + activeTableRows\n  + '\\n</tbody></table></div>'\n  // Tabla PAUSADOS\n  + '<h3 style=\"color:#6b7280;font-size:12px;margin:16px 0 4px;\">Ads PAUSADOS (' + pausedResults.length + ' — sin gasto actual, solo historial)</h3>'\n  + '<div style=\"overflow-x:auto;\">'\n  + '<table style=\"border-collapse:collapse;width:100%;font-size:10px;opacity:0.7;\">'\n  + '<thead><tr style=\"background:#f8fafc;border-bottom:1px solid #e2e8f0;\">'\n  + '<th style=\"padding:4px 8px;text-align:left;\">Ad</th>'\n  + '<th>Tipo</th><th>Plat</th><th>Seg</th><th>Dias</th>'\n  + '<th style=\"text-align:right;\">Spend hist.</th>'\n  + '<th style=\"text-align:right;color:#6b7280;\">CPM</th>'\n  + '<th style=\"text-align:right;\">Reach</th>'\n  + '<th>CTR</th><th>ER</th><th>Freq</th>'\n  + '<th>ThruPly</th><th>Hook%</th><th>Hold%</th>'\n  + '<th>Saves</th><th>Follows/V</th>'\n  + '<th style=\"text-align:right;\">CPS</th>'\n  + '<th>Estado</th><th>Nota</th>'\n  + '</tr></thead><tbody>\\n'\n  + pausedTableRows\n  + '\\n</tbody></table></div>'\n  // Quality Rankings\n  + '<hr style=\"margin:20px 0;border:1px solid #e5e7eb;\">'\n  + '<h3 style=\"color:#1e293b;font-size:13px;margin-bottom:8px;\">Calidad del Anuncio vs Competencia</h3>'\n  + '<p style=\"font-size:11px;color:#64748b;margin-bottom:8px;\">'\n  + '<b>▲ TOP</b> = top 55% &middot; <b>≈ AVG</b> = promedio &middot; <b>▼</b> = señal de problema creativo o saturación.</p>'\n  + '<table style=\"border-collapse:collapse;font-size:11px;\">'\n  + '<thead><tr style=\"background:#f1f5f9;\">'\n  + '<th style=\"padding:4px 8px;text-align:left;\">Ad</th>'\n  + '<th>Tipo</th><th>Calidad</th><th>Engagement</th><th>Conversión</th>'\n  + '</tr></thead><tbody>\\n'\n  + qualityRows + '\\n</tbody></table>'\n  // Diagnóstico\n  + '<hr style=\"margin:20px 0;border:1px solid #e5e7eb;\">'\n  + '<details><summary style=\"cursor:pointer;font-size:12px;color:#7c3aed;font-weight:bold;\">Diagnóstico: action_types disponibles (expandir)</summary>'\n  + '<pre style=\"font-size:10px;background:#f8fafc;padding:12px;border-radius:4px;border:1px solid #e2e8f0;max-height:200px;overflow-y:auto;\">'\n  + diagLines.join('\\n') + '</pre></details>'\n  // Prompt Bruno\n  + '<hr style=\"margin:20px 0;border:1px solid #e5e7eb;\">'\n  + '<h3 style=\"color:#1e293b;\">Prompt para Bruno</h3>'\n  + '<p style=\"color:#64748b;font-size:12px;\">Copia y pega en Claude Code:</p>'\n  + '<pre style=\"background:#f8fafc;padding:16px;border-radius:8px;font-size:10px;overflow-x:auto;white-space:pre-wrap;border:1px solid #e2e8f0;\">'\n  + brunoPrompt.replace(/</g, '&lt;').replace(/>/g, '&gt;')\n  + '</pre>'\n  + '<p style=\"color:#94a3b8;font-size:10px;margin-top:16px;\">ENBA Ads Evaluation Workflow v5 &middot; ' + new Date().toISOString() + ' &middot; Burn rate: ' + burnRateSource + '</p>'\n  + '</body></html>';\n\nreturn [{ json: {\n  subject: subject, html: html, brunoPrompt: brunoPrompt,\n  totalSpend: totalSpend, totalIgFollows: totalIgFollows,\n  totalIgVisits: totalIgVisits, totalFbLikes: totalFbLikes,\n  totalSaves: totalSaves, blendedCPM: blendedCPM,\n  blendedCPS: blendedCPS, burnRateDaily: burnRateDaily, burnRateSource: burnRateSource,\n  budgetRemaining: Math.round(budgetRemaining), budgetRisk: budgetRisk,\n  fbFollowersNow: fbFollowersNow, igFollowersNow: igFollowersNow,\n  igFollowRate: igFollowRate,\n  adsCount: results.length, activeAdsCount: activeResults.length, pausedAdsCount: pausedResults.length,\n  summaryStr: summaryStr, freshnessWarning: freshnessWarning,\n  diagActionTypes: diagActionTypes\n} }];\n"
      },
      "id": "node-evaluate",
      "name": "Evaluate Ads",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        976,
        304
      ]
    },
    {
      "parameters": {
        "fromEmail": "jmartinezplatt@gmail.com",
        "toEmail": "jmartinezplatt@gmail.com",
        "subject": "={{ $json.subject }}",
        "html": "={{ $json.html }}",
        "options": {}
      },
      "id": "node-send-report",
      "name": "Send Report Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        1200,
        304
      ],
      "webhookId": "4e879775-94df-4f3e-8c4c-6535453aca81",
      "credentials": {
        "smtp": {
          "id": "HpJBfNd1BCHaLYfY",
          "name": "Gmail ENBA"
        }
      }
    },
    {
      "parameters": {
        "url": "https://graph.facebook.com/v22.0/1064806400040502?fields=fan_count,followers_count",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "id": "node-get-fb-followers",
      "name": "Get FB Followers",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        240,
        304
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "6LxWcVxeyZgsBTUU",
          "name": "Meta Ads API ENB"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "url": "https://graph.facebook.com/v22.0/17841443139761422?fields=followers_count",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "id": "node-get-ig-followers",
      "name": "Get IG Followers",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        480,
        304
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "6LxWcVxeyZgsBTUU",
          "name": "Meta Ads API ENB"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "url": "https://graph.facebook.com/v22.0/act_2303565156801569/ads?fields=id,name,effective_status,status&limit=100",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        704,
        64
      ],
      "id": "d13e2c2f-9548-45f8-bca5-ab0772dfd13e",
      "name": "Get Ad Status Batch",
      "credentials": {
        "httpHeaderAuth": {
          "id": "6LxWcVxeyZgsBTUU",
          "name": "Meta Ads API ENB"
        }
      }
    },
    {
      "parameters": {
        "url": "https://graph.facebook.com/v22.0/act_2303565156801569/adsets?fields=id,name,daily_budget,status,effective_status&limit=100",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        704,
        304
      ],
      "id": "1e4d5a38-f6d7-4510-8027-5454638e8059",
      "name": "Get Ad Set Budgets",
      "credentials": {
        "httpHeaderAuth": {
          "id": "6LxWcVxeyZgsBTUU",
          "name": "Meta Ads API ENB"
        }
      }
    },
    {
      "parameters": {
        "url": "https://graph.facebook.com/v22.0/act_2303565156801569/insights?level=ad&fields=ad_id,ad_name,quality_ranking,engagement_rate_ranking,conversion_rate_ranking&date_preset=last_7d&filtering=[{\"field\": \"ad.effective_status\", \"operator\": \"IN\", \"value\": [\"ACTIVE\"]}]&limit=100",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        704,
        512
      ],
      "id": "fae5fcfa-7359-4dd5-8b31-a8ca2cb24cfa",
      "name": "Get Quality Rankings",
      "credentials": {
        "httpHeaderAuth": {
          "id": "6LxWcVxeyZgsBTUU",
          "name": "Meta Ads API ENB"
        }
      }
    }
  ],
  "connections": {
    "Schedule 9:00 ART": {
      "main": [
        [
          {
            "node": "Get Ad Insights",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Evaluate Ads": {
      "main": [
        [
          {
            "node": "Send Report Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Ad Insights": {
      "main": [
        [
          {
            "node": "Get FB Followers",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get FB Followers": {
      "main": [
        [
          {
            "node": "Get IG Followers",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get IG Followers": {
      "main": [
        [
          {
            "node": "Get Ad Status Batch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Ad Status Batch": {
      "main": [
        [
          {
            "node": "Get Ad Set Budgets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Ad Set Budgets": {
      "main": [
        [
          {
            "node": "Get Quality Rankings",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Quality Rankings": {
      "main": [
        [
          {
            "node": "Evaluate Ads",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "timezone": "America/Argentina/Buenos_Aires",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false,
    "binaryMode": "separate",
    "timeSavedMode": "fixed",
    "errorWorkflow": "WlY5org5Ih3ioFoy"
  }
}