automatizaciones/n8n-backups/stories-pBP7tkXlD6nzx4wd-backup-20260429.json
{"updatedAt":"2026-04-27T06:31:35.909Z","createdAt":"2026-04-26T07:59:14.117Z","id":"pBP7tkXlD6nzx4wd","name":"ENBA - Stories Tarde (tarde)","description":null,"active":true,"isArchived":false,"nodes":[{"id":"schedule-tarde","name":"Schedule Tarde","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[200,300],"parameters":{"rule":{"interval":[{"field":"cronExpression","expression":"0 14 * * *"}]}}},{"id":"set-slot-tarde","name":"Set Slot","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[420,300],"parameters":{"mode":"manual","assignments":{"assignments":[{"id":"slot","name":"slot","value":"tarde","type":"string"},{"id":"cycleStartDate","name":"cycleStartDate","value":"2026-04-26","type":"string"}]}}},{"id":"pick-story-tarde","name":"Pick Next Story","type":"n8n-nodes-base.code","typeVersion":2,"position":[860,300],"parameters":{"jsCode":"// pick-next-story-v2.js\n// Manifest llega del nodo anterior \"Get Manifest\" (HTTP Request)\n// — no usa fetch() para compatibilidad con el sandbox de n8n cloud\n// Slot y cycleStartDate vienen del nodo \"Set Slot\" referenciado por nombre\n\nconst manifest = $input.first().json;\nconst slot = $('Set Slot').first().json.slot;\nconst cycleStartDate = $('Set Slot').first().json.cycleStartDate || '2026-04-26';\n\nconst BASE_IMG_URL = 'https://enba-social-assets.pages.dev/campaigns/plan-crecimiento-10k/highlights/stories/';\n\n// Calcular día del ciclo en ART (UTC-3)\nconst now = new Date();\nconst artOffset = -3 * 60;\nconst utcMs = now.getTime() + now.getTimezoneOffset() * 60000;\nconst artNow = new Date(utcMs + artOffset * 60000);\nconst artToday = new Date(artNow.getFullYear(), artNow.getMonth(), artNow.getDate());\n\nconst [sy, sm, sd] = cycleStartDate.split('-').map(Number);\nconst startDate = new Date(sy, sm - 1, sd);\nconst diffMs = artToday - startDate;\nconst dayOfCycle = Math.floor(diffMs / (1000 * 60 * 60 * 24)) + 1;\n\nif (dayOfCycle < 1 || dayOfCycle > 10) {\n  return [{ json: {\n    skip: true,\n    reason: dayOfCycle < 1\n      ? `Ciclo aún no iniciado. Día calculado: ${dayOfCycle}`\n      : `Ciclo completado (día ${dayOfCycle}/10). No hay más stories programadas.`,\n    dayOfCycle, slot, timestamp: artNow.toISOString()\n  }}];\n}\n\nconst story = manifest.stories.find(s => s.day === dayOfCycle && s.slot === slot);\n\nif (!story) {\n  return [{ json: {\n    skip: true,\n    reason: `No se encontró story para día ${dayOfCycle} slot ${slot}`,\n    dayOfCycle, slot, timestamp: artNow.toISOString()\n  }}];\n}\n\nreturn [{ json: {\n  skip: false,\n  seq: story.seq,\n  day: dayOfCycle,\n  slot: story.slot,\n  time: story.time,\n  category: story.category,\n  caption: story.caption,\n  file: story.file,\n  imageUrl: BASE_IMG_URL + story.file,\n  cycleProgress: `Día ${dayOfCycle}/10`,\n  timestamp: artNow.toISOString()\n}}];\n"}},{"id":"if-skip-tarde","name":"Skip?","type":"n8n-nodes-base.if","typeVersion":2,"position":[1080,300],"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"skip-check","leftValue":"={{ $json.skip }}","rightValue":true,"operator":{"type":"boolean","operation":"equal"}}],"combinator":"and"}}},{"id":"email-skip-tarde","name":"Email Skip","type":"n8n-nodes-base.emailSend","typeVersion":2.1,"position":[1300,180],"credentials":{"smtp":{"id":"HpJBfNd1BCHaLYfY","name":"Gmail ENBA"}},"parameters":{"fromEmail":"enba.social@gmail.com","toEmail":"jmartinezplatt@gmail.com","subject":"={{ 'ENBA Stories [' + $('Set Slot').first().json.slot + ']: skip — ' + $json.reason }}","text":"={{ 'Stories 3x Diarias — slot ' + $('Set Slot').first().json.slot + '\\n\\nMotivo: ' + $json.reason + '\\nTimestamp: ' + $json.timestamp }}","emailFormat":"text"},"webhookId":"f887a716-0c7b-4349-a582-1c868395af4e"},{"id":"ig-container-tarde","name":"IG Create Container","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1300,380],"credentials":{"httpHeaderAuth":{"id":"IGBqXMQRWJLxzh7f","name":"Meta API ENBA - Page Token"}},"continueOnFail":false,"parameters":{"method":"POST","url":"https://graph.facebook.com/v22.0/17841443139761422/media","sendBody":true,"bodyParameters":{"parameters":[{"name":"image_url","value":"={{ $('Pick Next Story').first().json.imageUrl }}"},{"name":"media_type","value":"STORIES"}]},"authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth"}},{"id":"wait-tarde","name":"Wait 8s","type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1520,380],"parameters":{"amount":8,"unit":"seconds","resume":"timeInterval"},"webhookId":"2ecfcb92-baf3-4925-85bf-6ab09da35b9e"},{"id":"ig-publish-tarde","name":"IG Publish","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1740,380],"credentials":{"httpHeaderAuth":{"id":"IGBqXMQRWJLxzh7f","name":"Meta API ENBA - Page Token"}},"continueOnFail":false,"parameters":{"method":"POST","url":"https://graph.facebook.com/v22.0/17841443139761422/media_publish","sendBody":true,"bodyParameters":{"parameters":[{"name":"creation_id","value":"={{ $json.id }}"}]},"authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth"}},{"id":"email-ok-tarde","name":"Email OK","type":"n8n-nodes-base.emailSend","typeVersion":2.1,"position":[1960,380],"credentials":{"smtp":{"id":"HpJBfNd1BCHaLYfY","name":"Gmail ENBA"}},"parameters":{"fromEmail":"enba.social@gmail.com","toEmail":"jmartinezplatt@gmail.com","subject":"={{ 'ENBA Stories [' + $('Pick Next Story').first().json.category + '] ' + $('Pick Next Story').first().json.cycleProgress + ' ' + $('Set Slot').first().json.slot + ' publicada ✓' }}","text":"={{ 'Story publicada correctamente.\\n\\nCategoría: ' + $('Pick Next Story').first().json.category + '\\nCaption: ' + $('Pick Next Story').first().json.caption + '\\nArchivo: ' + $('Pick Next Story').first().json.file + '\\nIG Story ID: ' + $json.id + '\\nCiclo: ' + $('Pick Next Story').first().json.cycleProgress + '\\nSlot: ' + $('Pick Next Story').first().json.slot + ' (' + $('Pick Next Story').first().json.time + ' ART)\\nTimestamp: ' + $('Pick Next Story').first().json.timestamp }}","emailFormat":"text"},"webhookId":"8c8203c6-ed58-45e1-bf09-2d9ed7fe6ff0"},{"id":"get-manifest-fase2","name":"Get Manifest","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[640,300],"parameters":{"method":"GET","url":"https://enba-social-assets.pages.dev/campaigns/plan-crecimiento-10k/highlights/stories/fase2-manifest.json","options":{}}},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1DimMWT7rNXNd2jS_rnCNs0qHLqSahwYLc3s9m7wpw1U","mode":"id"},"sheetName":{"__rl":true,"value":"gid=0","mode":"id"},"columns":{"mappingMode":"defineBelow","value":{"date":"={{ $('Pick Next Story').first().json.timestamp.substring(0,10) }}","slot":"={{ $('Pick Next Story').first().json.slot }}","media_id":"={{ $('IG Publish').first().json.id }}","image_url":"={{ $('Pick Next Story').first().json.imageUrl }}","seq":"={{ $('Pick Next Story').first().json.seq }}"},"matchingColumns":[],"schema":[]},"options":{}},"credentials":{"googleSheetsOAuth2Api":{"id":"w3CGca02rWZppDL9","name":"Google Sheets account"}},"id":"log-to-sheet-tarde","name":"Log to Sheet","type":"n8n-nodes-base.googleSheets","typeVersion":4.4,"position":[2180,380]}],"connections":{"Schedule Tarde":{"main":[[{"node":"Set Slot","type":"main","index":0}]]},"Set Slot":{"main":[[{"node":"Get Manifest","type":"main","index":0}]]},"Pick Next Story":{"main":[[{"node":"Skip?","type":"main","index":0}]]},"Skip?":{"main":[[{"node":"Email Skip","type":"main","index":0}],[{"node":"IG Create Container","type":"main","index":0}]]},"IG Create Container":{"main":[[{"node":"Wait 8s","type":"main","index":0}]]},"Wait 8s":{"main":[[{"node":"IG Publish","type":"main","index":0}]]},"IG Publish":{"main":[[{"node":"Email OK","type":"main","index":0}]]},"Get Manifest":{"main":[[{"node":"Pick Next Story","type":"main","index":0}]]},"Email OK":{"main":[[{"node":"Log to Sheet","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","timezone":"America/Argentina/Buenos_Aires"},"staticData":{"node:Schedule Tarde":{"recurrenceRules":[]}},"meta":null,"pinData":null,"versionId":"371c02b3-e758-4b22-9095-42fcaee32a7c","activeVersionId":"371c02b3-e758-4b22-9095-42fcaee32a7c","versionCounter":25,"triggerCount":1,"shared":[{"updatedAt":"2026-04-26T07:59:14.118Z","createdAt":"2026-04-26T07:59:14.118Z","role":"workflow:owner","workflowId":"pBP7tkXlD6nzx4wd","projectId":"HoHL7haDbRK6OwSu","project":{"updatedAt":"2026-03-01T23:53:57.251Z","createdAt":"2026-03-01T23:53:51.806Z","id":"HoHL7haDbRK6OwSu","name":"Jose Martinez <admin@espacionautico.com.ar>","type":"personal","icon":null,"description":null,"creatorId":"7792ccbd-a153-4ec4-9b00-a26cc72db47d"}}],"tags":[],"activeVersion":{"updatedAt":"2026-04-27T06:31:35.910Z","createdAt":"2026-04-27T06:31:35.910Z","versionId":"371c02b3-e758-4b22-9095-42fcaee32a7c","workflowId":"pBP7tkXlD6nzx4wd","nodes":[{"id":"schedule-tarde","name":"Schedule Tarde","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[200,300],"parameters":{"rule":{"interval":[{"field":"cronExpression","expression":"0 14 * * *"}]}}},{"id":"set-slot-tarde","name":"Set Slot","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[420,300],"parameters":{"mode":"manual","assignments":{"assignments":[{"id":"slot","name":"slot","value":"tarde","type":"string"},{"id":"cycleStartDate","name":"cycleStartDate","value":"2026-04-26","type":"string"}]}}},{"id":"pick-story-tarde","name":"Pick Next Story","type":"n8n-nodes-base.code","typeVersion":2,"position":[860,300],"parameters":{"jsCode":"// pick-next-story-v2.js\n// Manifest llega del nodo anterior \"Get Manifest\" (HTTP Request)\n// — no usa fetch() para compatibilidad con el sandbox de n8n cloud\n// Slot y cycleStartDate vienen del nodo \"Set Slot\" referenciado por nombre\n\nconst manifest = $input.first().json;\nconst slot = $('Set Slot').first().json.slot;\nconst cycleStartDate = $('Set Slot').first().json.cycleStartDate || '2026-04-26';\n\nconst BASE_IMG_URL = 'https://enba-social-assets.pages.dev/campaigns/plan-crecimiento-10k/highlights/stories/';\n\n// Calcular día del ciclo en ART (UTC-3)\nconst now = new Date();\nconst artOffset = -3 * 60;\nconst utcMs = now.getTime() + now.getTimezoneOffset() * 60000;\nconst artNow = new Date(utcMs + artOffset * 60000);\nconst artToday = new Date(artNow.getFullYear(), artNow.getMonth(), artNow.getDate());\n\nconst [sy, sm, sd] = cycleStartDate.split('-').map(Number);\nconst startDate = new Date(sy, sm - 1, sd);\nconst diffMs = artToday - startDate;\nconst dayOfCycle = Math.floor(diffMs / (1000 * 60 * 60 * 24)) + 1;\n\nif (dayOfCycle < 1 || dayOfCycle > 10) {\n  return [{ json: {\n    skip: true,\n    reason: dayOfCycle < 1\n      ? `Ciclo aún no iniciado. Día calculado: ${dayOfCycle}`\n      : `Ciclo completado (día ${dayOfCycle}/10). No hay más stories programadas.`,\n    dayOfCycle, slot, timestamp: artNow.toISOString()\n  }}];\n}\n\nconst story = manifest.stories.find(s => s.day === dayOfCycle && s.slot === slot);\n\nif (!story) {\n  return [{ json: {\n    skip: true,\n    reason: `No se encontró story para día ${dayOfCycle} slot ${slot}`,\n    dayOfCycle, slot, timestamp: artNow.toISOString()\n  }}];\n}\n\nreturn [{ json: {\n  skip: false,\n  seq: story.seq,\n  day: dayOfCycle,\n  slot: story.slot,\n  time: story.time,\n  category: story.category,\n  caption: story.caption,\n  file: story.file,\n  imageUrl: BASE_IMG_URL + story.file,\n  cycleProgress: `Día ${dayOfCycle}/10`,\n  timestamp: artNow.toISOString()\n}}];\n"}},{"id":"if-skip-tarde","name":"Skip?","type":"n8n-nodes-base.if","typeVersion":2,"position":[1080,300],"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"skip-check","leftValue":"={{ $json.skip }}","rightValue":true,"operator":{"type":"boolean","operation":"equal"}}],"combinator":"and"}}},{"id":"email-skip-tarde","name":"Email Skip","type":"n8n-nodes-base.emailSend","typeVersion":2.1,"position":[1300,180],"credentials":{"smtp":{"id":"HpJBfNd1BCHaLYfY","name":"Gmail ENBA"}},"parameters":{"fromEmail":"enba.social@gmail.com","toEmail":"jmartinezplatt@gmail.com","subject":"={{ 'ENBA Stories [' + $('Set Slot').first().json.slot + ']: skip — ' + $json.reason }}","text":"={{ 'Stories 3x Diarias — slot ' + $('Set Slot').first().json.slot + '\\n\\nMotivo: ' + $json.reason + '\\nTimestamp: ' + $json.timestamp }}","emailFormat":"text"},"webhookId":"f887a716-0c7b-4349-a582-1c868395af4e"},{"id":"ig-container-tarde","name":"IG Create Container","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1300,380],"credentials":{"httpHeaderAuth":{"id":"IGBqXMQRWJLxzh7f","name":"Meta API ENBA - Page Token"}},"continueOnFail":false,"parameters":{"method":"POST","url":"https://graph.facebook.com/v22.0/17841443139761422/media","sendBody":true,"bodyParameters":{"parameters":[{"name":"image_url","value":"={{ $('Pick Next Story').first().json.imageUrl }}"},{"name":"media_type","value":"STORIES"}]},"authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth"}},{"id":"wait-tarde","name":"Wait 8s","type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1520,380],"parameters":{"amount":8,"unit":"seconds","resume":"timeInterval"},"webhookId":"2ecfcb92-baf3-4925-85bf-6ab09da35b9e"},{"id":"ig-publish-tarde","name":"IG Publish","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1740,380],"credentials":{"httpHeaderAuth":{"id":"IGBqXMQRWJLxzh7f","name":"Meta API ENBA - Page Token"}},"continueOnFail":false,"parameters":{"method":"POST","url":"https://graph.facebook.com/v22.0/17841443139761422/media_publish","sendBody":true,"bodyParameters":{"parameters":[{"name":"creation_id","value":"={{ $json.id }}"}]},"authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth"}},{"id":"email-ok-tarde","name":"Email OK","type":"n8n-nodes-base.emailSend","typeVersion":2.1,"position":[1960,380],"credentials":{"smtp":{"id":"HpJBfNd1BCHaLYfY","name":"Gmail ENBA"}},"parameters":{"fromEmail":"enba.social@gmail.com","toEmail":"jmartinezplatt@gmail.com","subject":"={{ 'ENBA Stories [' + $('Pick Next Story').first().json.category + '] ' + $('Pick Next Story').first().json.cycleProgress + ' ' + $('Set Slot').first().json.slot + ' publicada ✓' }}","text":"={{ 'Story publicada correctamente.\\n\\nCategoría: ' + $('Pick Next Story').first().json.category + '\\nCaption: ' + $('Pick Next Story').first().json.caption + '\\nArchivo: ' + $('Pick Next Story').first().json.file + '\\nIG Story ID: ' + $json.id + '\\nCiclo: ' + $('Pick Next Story').first().json.cycleProgress + '\\nSlot: ' + $('Pick Next Story').first().json.slot + ' (' + $('Pick Next Story').first().json.time + ' ART)\\nTimestamp: ' + $('Pick Next Story').first().json.timestamp }}","emailFormat":"text"},"webhookId":"8c8203c6-ed58-45e1-bf09-2d9ed7fe6ff0"},{"id":"get-manifest-fase2","name":"Get Manifest","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[640,300],"parameters":{"method":"GET","url":"https://enba-social-assets.pages.dev/campaigns/plan-crecimiento-10k/highlights/stories/fase2-manifest.json","options":{}}},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1DimMWT7rNXNd2jS_rnCNs0qHLqSahwYLc3s9m7wpw1U","mode":"id"},"sheetName":{"__rl":true,"value":"gid=0","mode":"id"},"columns":{"mappingMode":"defineBelow","value":{"date":"={{ $('Pick Next Story').first().json.timestamp.substring(0,10) }}","slot":"={{ $('Pick Next Story').first().json.slot }}","media_id":"={{ $('IG Publish').first().json.id }}","image_url":"={{ $('Pick Next Story').first().json.imageUrl }}","seq":"={{ $('Pick Next Story').first().json.seq }}"},"matchingColumns":[],"schema":[]},"options":{}},"credentials":{"googleSheetsOAuth2Api":{"id":"w3CGca02rWZppDL9","name":"Google Sheets account"}},"id":"log-to-sheet-tarde","name":"Log to Sheet","type":"n8n-nodes-base.googleSheets","typeVersion":4.4,"position":[2180,380]}],"connections":{"Schedule Tarde":{"main":[[{"node":"Set Slot","type":"main","index":0}]]},"Set Slot":{"main":[[{"node":"Get Manifest","type":"main","index":0}]]},"Pick Next Story":{"main":[[{"node":"Skip?","type":"main","index":0}]]},"Skip?":{"main":[[{"node":"Email Skip","type":"main","index":0}],[{"node":"IG Create Container","type":"main","index":0}]]},"IG Create Container":{"main":[[{"node":"Wait 8s","type":"main","index":0}]]},"Wait 8s":{"main":[[{"node":"IG Publish","type":"main","index":0}]]},"IG Publish":{"main":[[{"node":"Email OK","type":"main","index":0}]]},"Get Manifest":{"main":[[{"node":"Pick Next Story","type":"main","index":0}]]},"Email OK":{"main":[[{"node":"Log to Sheet","type":"main","index":0}]]}},"authors":"Jose Martinez","name":null,"description":null,"autosaved":false,"workflowPublishHistory":[{"createdAt":"2026-04-27T06:31:36.137Z","id":953,"workflowId":"pBP7tkXlD6nzx4wd","versionId":"371c02b3-e758-4b22-9095-42fcaee32a7c","event":"activated","userId":"7792ccbd-a153-4ec4-9b00-a26cc72db47d"},{"createdAt":"2026-04-27T06:31:37.798Z","id":955,"workflowId":"pBP7tkXlD6nzx4wd","versionId":"371c02b3-e758-4b22-9095-42fcaee32a7c","event":"activated","userId":"7792ccbd-a153-4ec4-9b00-a26cc72db47d"},{"createdAt":"2026-04-27T06:31:36.052Z","id":952,"workflowId":"pBP7tkXlD6nzx4wd","versionId":"371c02b3-e758-4b22-9095-42fcaee32a7c","event":"deactivated","userId":"7792ccbd-a153-4ec4-9b00-a26cc72db47d"},{"createdAt":"2026-04-27T06:31:36.436Z","id":954,"workflowId":"pBP7tkXlD6nzx4wd","versionId":"371c02b3-e758-4b22-9095-42fcaee32a7c","event":"deactivated","userId":"7792ccbd-a153-4ec4-9b00-a26cc72db47d"}]}}